﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2798px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1762 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:1812px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1763 {
  position:absolute;
  left:48px;
  top:18px;
  width:848px;
  height:1812px;
}
#u1764 {
  position:absolute;
  left:2px;
  top:898px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1380px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1765 {
  position:absolute;
  left:91px;
  top:226px;
  width:761px;
  height:1380px;
}
#u1766 {
  position:absolute;
  left:2px;
  top:682px;
  width:757px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:149px;
}
#u1767 {
  position:absolute;
  left:399px;
  top:1646px;
  width:146px;
  height:149px;
}
#u1768 {
  position:absolute;
  left:2px;
  top:66px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:133px;
}
#u1769 {
  position:absolute;
  left:408px;
  top:1656px;
  width:130px;
  height:133px;
}
#u1770 {
  position:absolute;
  left:2px;
  top:58px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1771 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u1772 {
  position:absolute;
  left:296px;
  top:143px;
  width:34px;
  height:34px;
}
#u1773 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1774_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1774 {
  position:absolute;
  left:344px;
  top:143px;
  width:304px;
  height:34px;
}
#u1775 {
  position:absolute;
  left:2px;
  top:9px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:370px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1776 {
  position:absolute;
  left:875px;
  top:408px;
  width:36px;
  height:370px;
}
#u1777 {
  position:absolute;
  left:2px;
  top:177px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1778_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:176px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1778 {
  position:absolute;
  left:37px;
  top:344px;
  width:45px;
  height:176px;
}
#u1779 {
  position:absolute;
  left:2px;
  top:80px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1780_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1780 {
  position:absolute;
  left:37px;
  top:610px;
  width:45px;
  height:20px;
}
#u1781 {
  position:absolute;
  left:2px;
  top:2px;
  width:41px;
  visibility:hidden;
  white-space:nowrap;
}
#u1782_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1782 {
  position:absolute;
  left:99px;
  top:226px;
  width:750px;
  height:1334px;
}
#u1783 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1784 {
  position:absolute;
  left:117px;
  top:277px;
  width:115px;
  height:67px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1785 {
  position:absolute;
  left:601px;
  top:359px;
  width:115px;
  height:67px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1786_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1786 {
  position:absolute;
  left:1156px;
  top:386px;
  width:750px;
  height:1334px;
}
#u1787 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1789_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1789 {
  position:absolute;
  left:756px;
  top:636px;
  width:35px;
  height:35px;
}
#u1790 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1791 {
  position:absolute;
  left:776px;
  top:664px;
  width:0px;
  height:0px;
}
#u1791_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:393px;
}
#u1791_seg1 {
  position:absolute;
  left:-4px;
  top:385px;
  width:384px;
  height:8px;
}
#u1791_seg2 {
  position:absolute;
  left:367px;
  top:379px;
  width:20px;
  height:20px;
}
#u1792 {
  position:absolute;
  left:-50px;
  top:376px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:722px;
  height:322px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u1793 {
  position:absolute;
  left:1156px;
  top:36px;
  width:722px;
  height:322px;
  font-size:36px;
}
#u1794 {
  position:absolute;
  left:2px;
  top:77px;
  width:718px;
  word-wrap:break-word;
}
#u1795_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1795 {
  position:absolute;
  left:2048px;
  top:389px;
  width:750px;
  height:1334px;
}
#u1796 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1797 {
  position:absolute;
  left:698px;
  top:666px;
  width:0px;
  height:0px;
}
#u1797_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:1078px;
}
#u1797_seg1 {
  position:absolute;
  left:-4px;
  top:1070px;
  width:1733px;
  height:8px;
}
#u1797_seg2 {
  position:absolute;
  left:1721px;
  top:1057px;
  width:8px;
  height:21px;
}
#u1797_seg3 {
  position:absolute;
  left:1715px;
  top:1050px;
  width:20px;
  height:20px;
}
#u1798 {
  position:absolute;
  left:284px;
  top:1066px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1800 {
  position:absolute;
  left:681px;
  top:636px;
  width:35px;
  height:35px;
}
#u1801 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
