﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:911px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u890 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:2212px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u891 {
  position:absolute;
  left:48px;
  top:18px;
  width:848px;
  height:2212px;
}
#u892 {
  position:absolute;
  left:2px;
  top:1098px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1685px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u893 {
  position:absolute;
  left:91px;
  top:272px;
  width:761px;
  height:1685px;
}
#u894 {
  position:absolute;
  left:2px;
  top:834px;
  width:757px;
  visibility:hidden;
  word-wrap:break-word;
}
#u895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:182px;
}
#u895 {
  position:absolute;
  left:399px;
  top:2005px;
  width:146px;
  height:182px;
}
#u896 {
  position:absolute;
  left:2px;
  top:83px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:163px;
}
#u897 {
  position:absolute;
  left:408px;
  top:2017px;
  width:130px;
  height:163px;
}
#u898 {
  position:absolute;
  left:2px;
  top:74px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u899 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:41px;
}
#u900 {
  position:absolute;
  left:296px;
  top:171px;
  width:34px;
  height:41px;
}
#u901 {
  position:absolute;
  left:2px;
  top:12px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u902 {
  position:absolute;
  left:344px;
  top:171px;
  width:304px;
  height:41px;
}
#u903 {
  position:absolute;
  left:2px;
  top:12px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:452px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u904 {
  position:absolute;
  left:875px;
  top:493px;
  width:36px;
  height:452px;
}
#u905 {
  position:absolute;
  left:2px;
  top:218px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:215px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u906 {
  position:absolute;
  left:37px;
  top:416px;
  width:45px;
  height:215px;
}
#u907 {
  position:absolute;
  left:2px;
  top:100px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:215px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u908 {
  position:absolute;
  left:37px;
  top:644px;
  width:45px;
  height:215px;
}
#u909 {
  position:absolute;
  left:2px;
  top:100px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1700px;
}
#u910 {
  position:absolute;
  left:98px;
  top:258px;
  width:750px;
  height:1700px;
}
#u911 {
  position:absolute;
  left:2px;
  top:842px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u912 {
  position:absolute;
  left:128px;
  top:301px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u913 {
  position:absolute;
  left:105px;
  top:1858px;
  width:735px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
