﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1732px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:58px;
  top:40px;
  width:292px;
  height:484px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#FF0000;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:484px;
}
#u1 {
  position:absolute;
  left:2px;
  top:234px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:58px;
  top:57px;
  width:292px;
  height:37px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#FF0000;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:37px;
}
#u3 {
  position:absolute;
  left:2px;
  top:10px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:58px;
  top:94px;
  width:292px;
  height:430px;
  color:#FF0000;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:430px;
}
#u5 {
  position:absolute;
  left:2px;
  top:207px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:167px;
  top:63px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:68px;
  top:70px;
  width:37px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:144px;
  top:202px;
  width:10px;
  height:47px;
}
#u10_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u10_end {
  position:absolute;
  left:-5px;
  top:30px;
  width:20px;
  height:18px;
}
#u10_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:47px;
}
#u11 {
  position:absolute;
  left:247px;
  top:202px;
  width:10px;
  height:47px;
}
#u11_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u11_end {
  position:absolute;
  left:-5px;
  top:30px;
  width:20px;
  height:18px;
}
#u11_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:47px;
}
#u12 {
  position:absolute;
  left:68px;
  top:200px;
  width:86px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:15px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:58px;
  top:215px;
  width:292px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:275px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:292px;
  height:1px;
}
#u15 {
  position:absolute;
  left:75px;
  top:230px;
  width:125px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
  color:#BCBCBC;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:75px;
  top:260px;
  width:275px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:258px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:275px;
  height:1px;
}
#u18 {
  position:absolute;
  left:75px;
  top:271px;
  width:97px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
  color:#BCBCBC;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:75px;
  top:301px;
  width:275px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:258px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:275px;
  height:1px;
}
#u21 {
  position:absolute;
  left:286px;
  top:238px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#00CCCC;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:68px;
  top:321px;
  width:86px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:15px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:58px;
  top:336px;
  width:292px;
  height:10px;
}
#u25_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_end {
  position:absolute;
  left:275px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_line {
  position:absolute;
  left:0px;
  top:5px;
  width:292px;
  height:1px;
}
#u26 {
  position:absolute;
  left:75px;
  top:351px;
  width:125px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
  color:#BCBCBC;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:75px;
  top:381px;
  width:275px;
  height:10px;
}
#u28_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_end {
  position:absolute;
  left:258px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_line {
  position:absolute;
  left:0px;
  top:5px;
  width:275px;
  height:1px;
}
#u29 {
  position:absolute;
  left:75px;
  top:392px;
  width:97px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
  color:#BCBCBC;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:75px;
  top:422px;
  width:275px;
  height:10px;
}
#u31_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_end {
  position:absolute;
  left:258px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_line {
  position:absolute;
  left:0px;
  top:5px;
  width:275px;
  height:1px;
}
#u32 {
  position:absolute;
  left:79px;
  top:100px;
  width:249px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:19px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:68px;
  top:121px;
  width:269px;
  height:10px;
}
#u34_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:252px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:5px;
  width:269px;
  height:1px;
}
#u35 {
  position:absolute;
  left:68px;
  top:120px;
  width:50px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:33px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:4px;
  width:50px;
  height:3px;
}
#u36 {
  position:absolute;
  left:286px;
  top:280px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#00CCCC;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:286px;
  top:357px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#00CCCC;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:286px;
  top:399px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#00CCCC;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:68px;
  top:131px;
  width:86px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:15px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:58px;
  top:146px;
  width:292px;
  height:10px;
}
#u44_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_end {
  position:absolute;
  left:275px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_line {
  position:absolute;
  left:0px;
  top:5px;
  width:292px;
  height:1px;
}
#u45 {
  position:absolute;
  left:75px;
  top:161px;
  width:125px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
  color:#BCBCBC;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:75px;
  top:191px;
  width:275px;
  height:10px;
}
#u47_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_end {
  position:absolute;
  left:258px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_line {
  position:absolute;
  left:0px;
  top:5px;
  width:275px;
  height:1px;
}
#u48 {
  position:absolute;
  left:292px;
  top:169px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:410px;
  top:40px;
  width:292px;
  height:484px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#FF0000;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:484px;
}
#u51 {
  position:absolute;
  left:2px;
  top:234px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:410px;
  top:57px;
  width:292px;
  height:37px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#FF0000;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:37px;
}
#u53 {
  position:absolute;
  left:2px;
  top:10px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:410px;
  top:94px;
  width:292px;
  height:430px;
  color:#FF0000;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:430px;
}
#u55 {
  position:absolute;
  left:2px;
  top:207px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:519px;
  top:63px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:420px;
  top:70px;
  width:37px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:496px;
  top:202px;
  width:10px;
  height:47px;
}
#u60_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u60_end {
  position:absolute;
  left:-5px;
  top:30px;
  width:20px;
  height:18px;
}
#u60_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:47px;
}
#u61 {
  position:absolute;
  left:599px;
  top:202px;
  width:10px;
  height:47px;
}
#u61_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u61_end {
  position:absolute;
  left:-5px;
  top:30px;
  width:20px;
  height:18px;
}
#u61_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:47px;
}
#u62 {
  position:absolute;
  left:431px;
  top:100px;
  width:249px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:19px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:420px;
  top:121px;
  width:269px;
  height:10px;
}
#u64_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u64_end {
  position:absolute;
  left:252px;
  top:-5px;
  width:18px;
  height:20px;
}
#u64_line {
  position:absolute;
  left:0px;
  top:5px;
  width:269px;
  height:1px;
}
#u65 {
  position:absolute;
  left:511px;
  top:120px;
  width:59px;
  height:10px;
}
#u65_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_end {
  position:absolute;
  left:42px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_line {
  position:absolute;
  left:0px;
  top:4px;
  width:59px;
  height:3px;
}
#u66 {
  position:absolute;
  left:420px;
  top:131px;
  width:86px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:15px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:410px;
  top:146px;
  width:292px;
  height:10px;
}
#u68_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u68_end {
  position:absolute;
  left:275px;
  top:-5px;
  width:18px;
  height:20px;
}
#u68_line {
  position:absolute;
  left:0px;
  top:5px;
  width:292px;
  height:1px;
}
#u69 {
  position:absolute;
  left:427px;
  top:161px;
  width:125px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
  color:#BCBCBC;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:427px;
  top:191px;
  width:275px;
  height:10px;
}
#u71_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u71_end {
  position:absolute;
  left:258px;
  top:-5px;
  width:18px;
  height:20px;
}
#u71_line {
  position:absolute;
  left:0px;
  top:5px;
  width:275px;
  height:1px;
}
#u72 {
  position:absolute;
  left:644px;
  top:169px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:768px;
  top:40px;
  width:292px;
  height:484px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#FF0000;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:484px;
}
#u75 {
  position:absolute;
  left:2px;
  top:234px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:768px;
  top:57px;
  width:292px;
  height:37px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#FF0000;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:37px;
}
#u77 {
  position:absolute;
  left:2px;
  top:10px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:768px;
  top:94px;
  width:292px;
  height:430px;
  color:#FF0000;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:430px;
}
#u79 {
  position:absolute;
  left:2px;
  top:207px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:877px;
  top:63px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:778px;
  top:70px;
  width:37px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:854px;
  top:132px;
  width:10px;
  height:47px;
}
#u84_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u84_end {
  position:absolute;
  left:-5px;
  top:30px;
  width:20px;
  height:18px;
}
#u84_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:47px;
}
#u85 {
  position:absolute;
  left:957px;
  top:132px;
  width:10px;
  height:47px;
}
#u85_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u85_end {
  position:absolute;
  left:-5px;
  top:30px;
  width:20px;
  height:18px;
}
#u85_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:47px;
}
#u86 {
  position:absolute;
  left:778px;
  top:130px;
  width:86px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:15px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:768px;
  top:145px;
  width:292px;
  height:10px;
}
#u88_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u88_end {
  position:absolute;
  left:275px;
  top:-5px;
  width:18px;
  height:20px;
}
#u88_line {
  position:absolute;
  left:0px;
  top:5px;
  width:292px;
  height:1px;
}
#u89 {
  position:absolute;
  left:785px;
  top:160px;
  width:125px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
  color:#BCBCBC;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:785px;
  top:190px;
  width:275px;
  height:10px;
}
#u91_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u91_end {
  position:absolute;
  left:258px;
  top:-5px;
  width:18px;
  height:20px;
}
#u91_line {
  position:absolute;
  left:0px;
  top:5px;
  width:275px;
  height:1px;
}
#u92 {
  position:absolute;
  left:785px;
  top:201px;
  width:97px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
  color:#BCBCBC;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:785px;
  top:231px;
  width:275px;
  height:10px;
}
#u94_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u94_end {
  position:absolute;
  left:258px;
  top:-5px;
  width:18px;
  height:20px;
}
#u94_line {
  position:absolute;
  left:0px;
  top:5px;
  width:275px;
  height:1px;
}
#u95 {
  position:absolute;
  left:996px;
  top:168px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#00CCCC;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:778px;
  top:251px;
  width:86px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:15px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:768px;
  top:266px;
  width:292px;
  height:10px;
}
#u99_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u99_end {
  position:absolute;
  left:275px;
  top:-5px;
  width:18px;
  height:20px;
}
#u99_line {
  position:absolute;
  left:0px;
  top:5px;
  width:292px;
  height:1px;
}
#u100 {
  position:absolute;
  left:785px;
  top:281px;
  width:125px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
  color:#BCBCBC;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:785px;
  top:311px;
  width:275px;
  height:10px;
}
#u102_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u102_end {
  position:absolute;
  left:258px;
  top:-5px;
  width:18px;
  height:20px;
}
#u102_line {
  position:absolute;
  left:0px;
  top:5px;
  width:275px;
  height:1px;
}
#u103 {
  position:absolute;
  left:785px;
  top:322px;
  width:97px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
  color:#BCBCBC;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:785px;
  top:352px;
  width:275px;
  height:10px;
}
#u105_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u105_end {
  position:absolute;
  left:258px;
  top:-5px;
  width:18px;
  height:20px;
}
#u105_line {
  position:absolute;
  left:0px;
  top:5px;
  width:275px;
  height:1px;
}
#u106 {
  position:absolute;
  left:789px;
  top:100px;
  width:249px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:19px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:778px;
  top:121px;
  width:269px;
  height:10px;
}
#u108_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u108_end {
  position:absolute;
  left:252px;
  top:-5px;
  width:18px;
  height:20px;
}
#u108_line {
  position:absolute;
  left:0px;
  top:5px;
  width:269px;
  height:1px;
}
#u109 {
  position:absolute;
  left:968px;
  top:120px;
  width:79px;
  height:10px;
}
#u109_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u109_end {
  position:absolute;
  left:62px;
  top:-5px;
  width:18px;
  height:20px;
}
#u109_line {
  position:absolute;
  left:0px;
  top:4px;
  width:79px;
  height:3px;
}
#u110 {
  position:absolute;
  left:996px;
  top:210px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#00CCCC;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:996px;
  top:287px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#00CCCC;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:996px;
  top:329px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#00CCCC;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:1110px;
  top:40px;
  width:292px;
  height:484px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:484px;
}
#u117 {
  position:absolute;
  left:2px;
  top:234px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:1110px;
  top:58px;
  width:292px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:38px;
}
#u119 {
  position:absolute;
  left:2px;
  top:11px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:1110px;
  top:93px;
  width:292px;
  height:431px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:431px;
}
#u121 {
  position:absolute;
  left:2px;
  top:208px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:1118px;
  top:73px;
  width:37px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:1222px;
  top:67px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:1110px;
  top:98px;
  width:292px;
  height:326px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:326px;
}
#u127 {
  position:absolute;
  left:2px;
  top:155px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:1121px;
  top:113px;
  width:120px;
  height:15px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-size:11px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:15px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:1126px;
  top:135px;
  width:265px;
  height:10px;
}
#u130_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u130_end {
  position:absolute;
  left:248px;
  top:-5px;
  width:18px;
  height:20px;
}
#u130_line {
  position:absolute;
  left:0px;
  top:5px;
  width:265px;
  height:1px;
}
#u131 {
  position:absolute;
  left:1121px;
  top:208px;
  width:265px;
  height:180px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:180px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:1124px;
  top:368px;
  width:265px;
  height:10px;
}
#u133_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u133_end {
  position:absolute;
  left:248px;
  top:-5px;
  width:18px;
  height:20px;
}
#u133_line {
  position:absolute;
  left:0px;
  top:5px;
  width:265px;
  height:1px;
}
#u134 {
  position:absolute;
  left:1121px;
  top:233px;
  width:265px;
  height:10px;
}
#u134_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u134_end {
  position:absolute;
  left:248px;
  top:-5px;
  width:18px;
  height:20px;
}
#u134_line {
  position:absolute;
  left:0px;
  top:5px;
  width:265px;
  height:1px;
}
#u135 {
  position:absolute;
  left:1121px;
  top:323px;
  width:265px;
  height:10px;
}
#u135_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u135_end {
  position:absolute;
  left:248px;
  top:-5px;
  width:18px;
  height:20px;
}
#u135_line {
  position:absolute;
  left:0px;
  top:5px;
  width:265px;
  height:1px;
}
#u136 {
  position:absolute;
  left:1122px;
  top:158px;
  width:154px;
  height:15px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-size:11px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:15px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:1124px;
  top:180px;
  width:265px;
  height:10px;
}
#u138_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u138_end {
  position:absolute;
  left:248px;
  top:-5px;
  width:18px;
  height:20px;
}
#u138_line {
  position:absolute;
  left:0px;
  top:5px;
  width:265px;
  height:1px;
}
#u139 {
  position:absolute;
  left:1314px;
  top:388px;
  width:80px;
  height:27px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
}
#u140 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:900px;
  top:180px;
  width:210px;
  height:10px;
}
#u141_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u141_end {
  position:absolute;
  left:193px;
  top:-5px;
  width:18px;
  height:20px;
}
#u141_line {
  position:absolute;
  left:0px;
  top:5px;
  width:210px;
  height:1px;
}
#u142 {
  position:absolute;
  left:1440px;
  top:40px;
  width:292px;
  height:484px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:484px;
}
#u143 {
  position:absolute;
  left:2px;
  top:234px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:1440px;
  top:58px;
  width:292px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:38px;
}
#u145 {
  position:absolute;
  left:2px;
  top:11px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:1440px;
  top:93px;
  width:292px;
  height:431px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:431px;
}
#u147 {
  position:absolute;
  left:2px;
  top:208px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:1448px;
  top:73px;
  width:37px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u150 {
  position:absolute;
  left:1552px;
  top:67px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u152 {
  position:absolute;
  left:1440px;
  top:98px;
  width:292px;
  height:326px;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:326px;
}
#u153 {
  position:absolute;
  left:2px;
  top:155px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:1451px;
  top:113px;
  width:120px;
  height:15px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-size:11px;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:15px;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:1456px;
  top:135px;
  width:265px;
  height:10px;
}
#u156_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u156_end {
  position:absolute;
  left:248px;
  top:-5px;
  width:18px;
  height:20px;
}
#u156_line {
  position:absolute;
  left:0px;
  top:5px;
  width:265px;
  height:1px;
}
#u157 {
  position:absolute;
  left:1451px;
  top:208px;
  width:265px;
  height:180px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:180px;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:1454px;
  top:368px;
  width:265px;
  height:10px;
}
#u159_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u159_end {
  position:absolute;
  left:248px;
  top:-5px;
  width:18px;
  height:20px;
}
#u159_line {
  position:absolute;
  left:0px;
  top:5px;
  width:265px;
  height:1px;
}
#u160 {
  position:absolute;
  left:1451px;
  top:233px;
  width:265px;
  height:10px;
}
#u160_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u160_end {
  position:absolute;
  left:248px;
  top:-5px;
  width:18px;
  height:20px;
}
#u160_line {
  position:absolute;
  left:0px;
  top:5px;
  width:265px;
  height:1px;
}
#u161 {
  position:absolute;
  left:1451px;
  top:323px;
  width:265px;
  height:10px;
}
#u161_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u161_end {
  position:absolute;
  left:248px;
  top:-5px;
  width:18px;
  height:20px;
}
#u161_line {
  position:absolute;
  left:0px;
  top:5px;
  width:265px;
  height:1px;
}
#u162 {
  position:absolute;
  left:1452px;
  top:158px;
  width:154px;
  height:15px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-size:11px;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:15px;
}
#u163 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u164 {
  position:absolute;
  left:1454px;
  top:180px;
  width:265px;
  height:10px;
}
#u164_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u164_end {
  position:absolute;
  left:248px;
  top:-5px;
  width:18px;
  height:20px;
}
#u164_line {
  position:absolute;
  left:0px;
  top:5px;
  width:265px;
  height:1px;
}
#u165 {
  position:absolute;
  left:1644px;
  top:388px;
  width:80px;
  height:27px;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
}
#u166 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:580px;
  top:156px;
  width:862px;
  height:10px;
}
#u167_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u167_end {
  position:absolute;
  left:845px;
  top:-5px;
  width:18px;
  height:20px;
}
#u167_line {
  position:absolute;
  left:0px;
  top:5px;
  width:862px;
  height:1px;
}
