﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:6065px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1045 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:844px;
  height:1809px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1046 {
  position:absolute;
  left:46px;
  top:18px;
  width:844px;
  height:1809px;
}
#u1047 {
  position:absolute;
  left:2px;
  top:896px;
  width:840px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:758px;
  height:1377px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1048 {
  position:absolute;
  left:89px;
  top:225px;
  width:758px;
  height:1377px;
}
#u1049 {
  position:absolute;
  left:2px;
  top:680px;
  width:754px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:149px;
}
#u1050 {
  position:absolute;
  left:396px;
  top:1643px;
  width:146px;
  height:149px;
}
#u1051 {
  position:absolute;
  left:2px;
  top:66px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:133px;
}
#u1052 {
  position:absolute;
  left:405px;
  top:1652px;
  width:129px;
  height:133px;
}
#u1053 {
  position:absolute;
  left:2px;
  top:58px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1054 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:34px;
}
#u1055 {
  position:absolute;
  left:293px;
  top:143px;
  width:33px;
  height:34px;
}
#u1056 {
  position:absolute;
  left:2px;
  top:9px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1057 {
  position:absolute;
  left:341px;
  top:143px;
  width:302px;
  height:34px;
}
#u1058 {
  position:absolute;
  left:2px;
  top:9px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:370px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1059 {
  position:absolute;
  left:871px;
  top:407px;
  width:35px;
  height:370px;
}
#u1060 {
  position:absolute;
  left:2px;
  top:177px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:176px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1061 {
  position:absolute;
  left:35px;
  top:343px;
  width:45px;
  height:176px;
}
#u1062 {
  position:absolute;
  left:2px;
  top:80px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:176px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1063 {
  position:absolute;
  left:35px;
  top:530px;
  width:45px;
  height:176px;
}
#u1064 {
  position:absolute;
  left:2px;
  top:80px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1065 {
  position:absolute;
  left:92px;
  top:246px;
  width:750px;
  height:1334px;
}
#u1066 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1067 {
  position:absolute;
  left:92px;
  top:290px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1068 {
  position:absolute;
  left:133px;
  top:1007px;
  width:685px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1069 {
  position:absolute;
  left:1154px;
  top:246px;
  width:750px;
  height:1334px;
}
#u1070 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1071 {
  position:absolute;
  left:3445px;
  top:225px;
  width:750px;
  height:1334px;
}
#u1072 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1073 {
  position:absolute;
  left:2319px;
  top:246px;
  width:750px;
  height:1334px;
}
#u1074 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u1075 {
  position:absolute;
  left:2604px;
  top:143px;
  width:253px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u1076 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u1077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u1077 {
  position:absolute;
  left:3710px;
  top:127px;
  width:253px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u1078 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u1079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1079 {
  position:absolute;
  left:4367px;
  top:225px;
  width:750px;
  height:1334px;
}
#u1080 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1081 {
  position:absolute;
  left:5315px;
  top:225px;
  width:750px;
  height:1334px;
}
#u1082 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1084 {
  position:absolute;
  left:3928px;
  top:976px;
  width:35px;
  height:35px;
}
#u1085 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1086 {
  position:absolute;
  left:3954px;
  top:986px;
  width:0px;
  height:0px;
}
#u1086_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:780px;
  height:8px;
}
#u1086_seg1 {
  position:absolute;
  left:772px;
  top:-654px;
  width:8px;
  height:658px;
}
#u1086_seg2 {
  position:absolute;
  left:766px;
  top:-661px;
  width:20px;
  height:20px;
}
#u1087 {
  position:absolute;
  left:665px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
