﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:911px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:1800px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u100 {
  position:absolute;
  left:48px;
  top:18px;
  width:848px;
  height:1800px;
}
#u101 {
  position:absolute;
  left:2px;
  top:892px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1371px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u102 {
  position:absolute;
  left:91px;
  top:225px;
  width:761px;
  height:1371px;
}
#u103 {
  position:absolute;
  left:2px;
  top:678px;
  width:757px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:148px;
}
#u104 {
  position:absolute;
  left:399px;
  top:1635px;
  width:146px;
  height:148px;
}
#u105 {
  position:absolute;
  left:2px;
  top:66px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:133px;
}
#u106 {
  position:absolute;
  left:408px;
  top:1645px;
  width:130px;
  height:133px;
}
#u107 {
  position:absolute;
  left:2px;
  top:58px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:33px;
}
#u109 {
  position:absolute;
  left:296px;
  top:142px;
  width:34px;
  height:33px;
}
#u110 {
  position:absolute;
  left:2px;
  top:8px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u111 {
  position:absolute;
  left:344px;
  top:142px;
  width:304px;
  height:33px;
}
#u112 {
  position:absolute;
  left:2px;
  top:8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:368px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u113 {
  position:absolute;
  left:875px;
  top:405px;
  width:36px;
  height:368px;
}
#u114 {
  position:absolute;
  left:2px;
  top:176px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:175px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u115 {
  position:absolute;
  left:37px;
  top:342px;
  width:45px;
  height:175px;
}
#u116 {
  position:absolute;
  left:2px;
  top:80px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:175px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u117 {
  position:absolute;
  left:37px;
  top:528px;
  width:45px;
  height:175px;
}
#u118 {
  position:absolute;
  left:2px;
  top:80px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u119 {
  position:absolute;
  left:102px;
  top:247px;
  width:750px;
  height:1334px;
}
#u120 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:230px;
  top:303px;
  width:488px;
  height:64px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u122 {
  position:absolute;
  left:752px;
  top:285px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u123 {
  position:absolute;
  left:102px;
  top:694px;
  width:750px;
  height:709px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u125 {
  position:absolute;
  left:279px;
  top:1481px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u126 {
  position:absolute;
  left:422px;
  top:1481px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u127 {
  position:absolute;
  left:579px;
  top:1481px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u128 {
  position:absolute;
  left:736px;
  top:1481px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u129 {
  position:absolute;
  left:130px;
  top:1481px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
