﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:6065px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u555 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u556_div {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:1809px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u556 {
  position:absolute;
  left:48px;
  top:18px;
  width:848px;
  height:1809px;
}
#u557 {
  position:absolute;
  left:2px;
  top:896px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u558_div {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1378px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u558 {
  position:absolute;
  left:91px;
  top:226px;
  width:761px;
  height:1378px;
}
#u559 {
  position:absolute;
  left:2px;
  top:681px;
  width:757px;
  visibility:hidden;
  word-wrap:break-word;
}
#u560_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:149px;
}
#u560 {
  position:absolute;
  left:399px;
  top:1643px;
  width:146px;
  height:149px;
}
#u561 {
  position:absolute;
  left:2px;
  top:66px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u562_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:133px;
}
#u562 {
  position:absolute;
  left:408px;
  top:1653px;
  width:130px;
  height:133px;
}
#u563 {
  position:absolute;
  left:2px;
  top:58px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u564 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u565_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u565 {
  position:absolute;
  left:296px;
  top:143px;
  width:34px;
  height:34px;
}
#u566 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u567_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u567 {
  position:absolute;
  left:344px;
  top:143px;
  width:304px;
  height:34px;
}
#u568 {
  position:absolute;
  left:2px;
  top:9px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u569_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:370px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u569 {
  position:absolute;
  left:875px;
  top:407px;
  width:36px;
  height:370px;
}
#u570 {
  position:absolute;
  left:2px;
  top:177px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u571_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:176px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u571 {
  position:absolute;
  left:37px;
  top:343px;
  width:45px;
  height:176px;
}
#u572 {
  position:absolute;
  left:2px;
  top:80px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u573_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:176px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u573 {
  position:absolute;
  left:37px;
  top:530px;
  width:45px;
  height:176px;
}
#u574 {
  position:absolute;
  left:2px;
  top:80px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u575_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u575 {
  position:absolute;
  left:91px;
  top:247px;
  width:750px;
  height:1334px;
}
#u576 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u577 {
  position:absolute;
  left:92px;
  top:294px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u578 {
  position:absolute;
  left:118px;
  top:1012px;
  width:723px;
  height:91px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u579_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u579 {
  position:absolute;
  left:1154px;
  top:246px;
  width:750px;
  height:1334px;
}
#u580 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u581_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u581 {
  position:absolute;
  left:3445px;
  top:225px;
  width:750px;
  height:1334px;
}
#u582 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u583_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u583 {
  position:absolute;
  left:2319px;
  top:246px;
  width:750px;
  height:1334px;
}
#u584 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u585_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u585 {
  position:absolute;
  left:4367px;
  top:225px;
  width:750px;
  height:1334px;
}
#u586 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u587_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u587 {
  position:absolute;
  left:5315px;
  top:225px;
  width:750px;
  height:1334px;
}
#u588 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u590_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u590 {
  position:absolute;
  left:3928px;
  top:976px;
  width:35px;
  height:35px;
}
#u591 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u592 {
  position:absolute;
  left:3954px;
  top:986px;
  width:0px;
  height:0px;
}
#u592_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:780px;
  height:8px;
}
#u592_seg1 {
  position:absolute;
  left:772px;
  top:-654px;
  width:8px;
  height:658px;
}
#u592_seg2 {
  position:absolute;
  left:766px;
  top:-661px;
  width:20px;
  height:20px;
}
#u593 {
  position:absolute;
  left:665px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
