﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:911px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u398 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u399_div {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:1809px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u399 {
  position:absolute;
  left:48px;
  top:18px;
  width:848px;
  height:1809px;
}
#u400 {
  position:absolute;
  left:2px;
  top:896px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1378px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u401 {
  position:absolute;
  left:91px;
  top:226px;
  width:761px;
  height:1378px;
}
#u402 {
  position:absolute;
  left:2px;
  top:681px;
  width:757px;
  visibility:hidden;
  word-wrap:break-word;
}
#u403_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:149px;
}
#u403 {
  position:absolute;
  left:399px;
  top:1643px;
  width:146px;
  height:149px;
}
#u404 {
  position:absolute;
  left:2px;
  top:66px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u405_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:133px;
}
#u405 {
  position:absolute;
  left:408px;
  top:1653px;
  width:130px;
  height:133px;
}
#u406 {
  position:absolute;
  left:2px;
  top:58px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u407 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u408 {
  position:absolute;
  left:296px;
  top:143px;
  width:34px;
  height:34px;
}
#u409 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u410 {
  position:absolute;
  left:344px;
  top:143px;
  width:304px;
  height:34px;
}
#u411 {
  position:absolute;
  left:2px;
  top:9px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:370px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u412 {
  position:absolute;
  left:875px;
  top:407px;
  width:36px;
  height:370px;
}
#u413 {
  position:absolute;
  left:2px;
  top:177px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:176px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u414 {
  position:absolute;
  left:37px;
  top:343px;
  width:45px;
  height:176px;
}
#u415 {
  position:absolute;
  left:2px;
  top:80px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:176px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u416 {
  position:absolute;
  left:37px;
  top:530px;
  width:45px;
  height:176px;
}
#u417 {
  position:absolute;
  left:2px;
  top:80px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u418_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u418 {
  position:absolute;
  left:97px;
  top:247px;
  width:750px;
  height:1334px;
}
#u419 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u420 {
  position:absolute;
  left:97px;
  top:285px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
