﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:3687px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u594 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u595_div {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:1806px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u595 {
  position:absolute;
  left:48px;
  top:18px;
  width:848px;
  height:1806px;
}
#u596 {
  position:absolute;
  left:2px;
  top:895px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u597_div {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1375px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u597 {
  position:absolute;
  left:91px;
  top:225px;
  width:761px;
  height:1375px;
}
#u598 {
  position:absolute;
  left:2px;
  top:680px;
  width:757px;
  visibility:hidden;
  word-wrap:break-word;
}
#u599_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:148px;
}
#u599 {
  position:absolute;
  left:399px;
  top:1641px;
  width:146px;
  height:148px;
}
#u600 {
  position:absolute;
  left:2px;
  top:66px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u601_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:133px;
}
#u601 {
  position:absolute;
  left:408px;
  top:1650px;
  width:130px;
  height:133px;
}
#u602 {
  position:absolute;
  left:2px;
  top:58px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u603 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u604_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:33px;
}
#u604 {
  position:absolute;
  left:296px;
  top:143px;
  width:34px;
  height:33px;
}
#u605 {
  position:absolute;
  left:2px;
  top:8px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u606_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u606 {
  position:absolute;
  left:344px;
  top:143px;
  width:304px;
  height:33px;
}
#u607 {
  position:absolute;
  left:2px;
  top:8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u608_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:369px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u608 {
  position:absolute;
  left:875px;
  top:406px;
  width:36px;
  height:369px;
}
#u609 {
  position:absolute;
  left:2px;
  top:176px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u610_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:176px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u610 {
  position:absolute;
  left:37px;
  top:343px;
  width:45px;
  height:176px;
}
#u611 {
  position:absolute;
  left:2px;
  top:80px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u612_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:176px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u612 {
  position:absolute;
  left:37px;
  top:529px;
  width:45px;
  height:176px;
}
#u613 {
  position:absolute;
  left:2px;
  top:80px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u614_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u614 {
  position:absolute;
  left:91px;
  top:247px;
  width:750px;
  height:1334px;
}
#u615 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u616_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u616 {
  position:absolute;
  left:1049px;
  top:246px;
  width:750px;
  height:1334px;
}
#u617 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u618 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u619 {
  position:absolute;
  left:279px;
  top:1481px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u620 {
  position:absolute;
  left:422px;
  top:1481px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u621 {
  position:absolute;
  left:579px;
  top:1481px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u622 {
  position:absolute;
  left:736px;
  top:1481px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u623 {
  position:absolute;
  left:130px;
  top:1481px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u624 {
  position:absolute;
  left:92px;
  top:467px;
  width:744px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u625 {
  position:absolute;
  left:92px;
  top:577px;
  width:744px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u626_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u626 {
  position:absolute;
  left:2937px;
  top:247px;
  width:750px;
  height:1334px;
}
#u627 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u628 {
  position:absolute;
  left:1967px;
  top:247px;
  width:750px;
  height:1334px;
}
#u629 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
