﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1759px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u311 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:867px;
  height:1812px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u312 {
  position:absolute;
  left:48px;
  top:18px;
  width:867px;
  height:1812px;
}
#u313 {
  position:absolute;
  left:2px;
  top:898px;
  width:863px;
  visibility:hidden;
  word-wrap:break-word;
}
#u314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:778px;
  height:1380px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u314 {
  position:absolute;
  left:92px;
  top:226px;
  width:778px;
  height:1380px;
}
#u315 {
  position:absolute;
  left:2px;
  top:682px;
  width:774px;
  visibility:hidden;
  word-wrap:break-word;
}
#u316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:149px;
}
#u316 {
  position:absolute;
  left:407px;
  top:1646px;
  width:149px;
  height:149px;
}
#u317 {
  position:absolute;
  left:2px;
  top:66px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:133px;
}
#u318 {
  position:absolute;
  left:416px;
  top:1656px;
  width:133px;
  height:133px;
}
#u319 {
  position:absolute;
  left:2px;
  top:58px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u320 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:34px;
}
#u321 {
  position:absolute;
  left:302px;
  top:143px;
  width:35px;
  height:34px;
}
#u322 {
  position:absolute;
  left:2px;
  top:9px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u323 {
  position:absolute;
  left:351px;
  top:143px;
  width:311px;
  height:34px;
}
#u324 {
  position:absolute;
  left:2px;
  top:9px;
  width:307px;
  visibility:hidden;
  word-wrap:break-word;
}
#u325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:370px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u325 {
  position:absolute;
  left:894px;
  top:408px;
  width:37px;
  height:370px;
}
#u326 {
  position:absolute;
  left:2px;
  top:177px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u327_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:176px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u327 {
  position:absolute;
  left:37px;
  top:344px;
  width:46px;
  height:176px;
}
#u328 {
  position:absolute;
  left:2px;
  top:80px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:176px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u329 {
  position:absolute;
  left:37px;
  top:531px;
  width:46px;
  height:176px;
}
#u330 {
  position:absolute;
  left:2px;
  top:80px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u331 {
  position:absolute;
  left:97px;
  top:247px;
  width:750px;
  height:1334px;
}
#u332 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u333 {
  position:absolute;
  left:97px;
  top:531px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u334 {
  position:absolute;
  left:97px;
  top:678px;
  width:750px;
  height:749px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u335 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u336 {
  position:absolute;
  left:278px;
  top:1477px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u337 {
  position:absolute;
  left:421px;
  top:1477px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u338 {
  position:absolute;
  left:578px;
  top:1477px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u339 {
  position:absolute;
  left:735px;
  top:1477px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u340 {
  position:absolute;
  left:129px;
  top:1477px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u341 {
  position:absolute;
  left:1009px;
  top:226px;
  width:750px;
  height:1334px;
}
#u342 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u344 {
  position:absolute;
  left:467px;
  top:548px;
  width:35px;
  height:35px;
}
#u345 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u346 {
  position:absolute;
  left:494px;
  top:569px;
  width:0px;
  height:0px;
}
#u346_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:390px;
  height:8px;
}
#u346_seg1 {
  position:absolute;
  left:382px;
  top:-183px;
  width:8px;
  height:187px;
}
#u346_seg2 {
  position:absolute;
  left:382px;
  top:-183px;
  width:156px;
  height:8px;
}
#u346_seg3 {
  position:absolute;
  left:530px;
  top:-183px;
  width:8px;
  height:106px;
}
#u346_seg4 {
  position:absolute;
  left:524px;
  top:-90px;
  width:20px;
  height:20px;
}
#u347 {
  position:absolute;
  left:336px;
  top:-30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
