﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:911px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u949 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:2041px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u950 {
  position:absolute;
  left:48px;
  top:18px;
  width:848px;
  height:2041px;
}
#u951 {
  position:absolute;
  left:2px;
  top:1012px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1555px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u952 {
  position:absolute;
  left:91px;
  top:252px;
  width:761px;
  height:1555px;
}
#u953 {
  position:absolute;
  left:2px;
  top:770px;
  width:757px;
  visibility:hidden;
  word-wrap:break-word;
}
#u954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:168px;
}
#u954 {
  position:absolute;
  left:399px;
  top:1852px;
  width:146px;
  height:168px;
}
#u955 {
  position:absolute;
  left:2px;
  top:76px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:150px;
}
#u956 {
  position:absolute;
  left:408px;
  top:1863px;
  width:130px;
  height:150px;
}
#u957 {
  position:absolute;
  left:2px;
  top:67px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u958 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:39px;
}
#u959 {
  position:absolute;
  left:296px;
  top:159px;
  width:34px;
  height:39px;
}
#u960 {
  position:absolute;
  left:2px;
  top:12px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u961 {
  position:absolute;
  left:344px;
  top:159px;
  width:304px;
  height:39px;
}
#u962 {
  position:absolute;
  left:2px;
  top:12px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:417px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u963 {
  position:absolute;
  left:875px;
  top:456px;
  width:36px;
  height:417px;
}
#u964 {
  position:absolute;
  left:2px;
  top:200px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:199px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u965 {
  position:absolute;
  left:37px;
  top:386px;
  width:45px;
  height:199px;
}
#u966 {
  position:absolute;
  left:2px;
  top:92px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u967 {
  position:absolute;
  left:37px;
  top:685px;
  width:45px;
  height:20px;
}
#u968 {
  position:absolute;
  left:2px;
  top:2px;
  width:41px;
  visibility:hidden;
  white-space:nowrap;
}
#u969 {
  position:absolute;
  left:686px;
  top:359px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1557px;
}
#u970 {
  position:absolute;
  left:110px;
  top:234px;
  width:750px;
  height:1557px;
}
#u971 {
  position:absolute;
  left:2px;
  top:770px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u972 {
  position:absolute;
  left:122px;
  top:273px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u973 {
  position:absolute;
  left:134px;
  top:414px;
  width:652px;
  height:240px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u974 {
  position:absolute;
  left:134px;
  top:732px;
  width:652px;
  height:346px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u975 {
  position:absolute;
  left:146px;
  top:1149px;
  width:652px;
  height:231px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u976 {
  position:absolute;
  left:134px;
  top:1502px;
  width:652px;
  height:231px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
