﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:630px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:110px;
  top:30px;
  width:292px;
  height:478px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:478px;
}
#u1 {
  position:absolute;
  left:2px;
  top:231px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:110px;
  top:47px;
  width:292px;
  height:37px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:37px;
}
#u3 {
  position:absolute;
  left:2px;
  top:10px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:110px;
  top:84px;
  width:292px;
  height:424px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:424px;
}
#u5 {
  position:absolute;
  left:2px;
  top:204px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:220px;
  top:57px;
  width:73px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:121px;
  top:60px;
  width:37px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:257px;
  top:84px;
  width:73px;
  height:32px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:32px;
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:69px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:184px;
  top:84px;
  width:73px;
  height:32px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:32px;
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:69px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:121px;
  top:128px;
  width:50px;
  height:50px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u15 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:183px;
  top:134px;
  width:36px;
  height:15px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-size:11px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:15px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:182px;
  top:157px;
  width:126px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:11px;
  color:#C9C9C9;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:123px;
  top:188px;
  width:265px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:248px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:265px;
  height:1px;
}
#u21 {
  position:absolute;
  left:123px;
  top:114px;
  width:265px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:248px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:5px;
  width:265px;
  height:1px;
}
#u22 {
  position:absolute;
  left:123px;
  top:208px;
  width:50px;
  height:50px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u23 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:185px;
  top:214px;
  width:36px;
  height:15px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-size:11px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:15px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:184px;
  top:237px;
  width:126px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:11px;
  color:#C9C9C9;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:125px;
  top:268px;
  width:265px;
  height:10px;
}
#u28_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_end {
  position:absolute;
  left:248px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_line {
  position:absolute;
  left:0px;
  top:5px;
  width:265px;
  height:1px;
}
#u29 {
  position:absolute;
  left:364px;
  top:50px;
  width:30px;
  height:30px;
  font-size:12px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:420px;
  top:146px;
  width:210px;
  height:100px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:100px;
}
#u32 {
  position:absolute;
  left:2px;
  top:26px;
  width:206px;
  word-wrap:break-word;
}
