﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1864px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u820 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:1797px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u821 {
  position:absolute;
  left:48px;
  top:18px;
  width:848px;
  height:1797px;
}
#u822 {
  position:absolute;
  left:2px;
  top:890px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1369px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u823 {
  position:absolute;
  left:91px;
  top:224px;
  width:761px;
  height:1369px;
}
#u824 {
  position:absolute;
  left:2px;
  top:676px;
  width:757px;
  visibility:hidden;
  word-wrap:break-word;
}
#u825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:148px;
}
#u825 {
  position:absolute;
  left:399px;
  top:1632px;
  width:146px;
  height:148px;
}
#u826 {
  position:absolute;
  left:2px;
  top:66px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:132px;
}
#u827 {
  position:absolute;
  left:408px;
  top:1642px;
  width:130px;
  height:132px;
}
#u828 {
  position:absolute;
  left:2px;
  top:58px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u829 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:33px;
}
#u830 {
  position:absolute;
  left:296px;
  top:142px;
  width:34px;
  height:33px;
}
#u831 {
  position:absolute;
  left:2px;
  top:8px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u832 {
  position:absolute;
  left:344px;
  top:142px;
  width:304px;
  height:33px;
}
#u833 {
  position:absolute;
  left:2px;
  top:8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:367px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u834 {
  position:absolute;
  left:875px;
  top:404px;
  width:36px;
  height:367px;
}
#u835 {
  position:absolute;
  left:2px;
  top:176px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:175px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u836 {
  position:absolute;
  left:37px;
  top:341px;
  width:45px;
  height:175px;
}
#u837 {
  position:absolute;
  left:2px;
  top:80px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:175px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u838 {
  position:absolute;
  left:37px;
  top:527px;
  width:45px;
  height:175px;
}
#u839 {
  position:absolute;
  left:2px;
  top:80px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u840 {
  position:absolute;
  left:92px;
  top:288px;
  width:105px;
  height:91px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u841 {
  position:absolute;
  left:1114px;
  top:242px;
  width:750px;
  height:1334px;
}
#u842 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u843 {
  position:absolute;
  left:91px;
  top:242px;
  width:750px;
  height:1334px;
}
#u844 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u845 {
  position:absolute;
  left:95px;
  top:288px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u846 {
  position:absolute;
  left:1364px;
  top:124px;
  width:241px;
  height:57px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u847 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u848_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:322px;
  height:25px;
}
#u848 {
  position:absolute;
  left:822px;
  top:426px;
  width:310px;
  height:5px;
}
#u849 {
  position:absolute;
  left:2px;
  top:-6px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u850_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:820px;
  height:25px;
}
#u850 {
  position:absolute;
  left:324px;
  top:766px;
  width:808px;
  height:5px;
}
#u851 {
  position:absolute;
  left:2px;
  top:-6px;
  width:804px;
  visibility:hidden;
  word-wrap:break-word;
}
