﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2737px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1532 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1533_div {
  position:absolute;
  left:0px;
  top:0px;
  width:873px;
  height:2215px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1533 {
  position:absolute;
  left:48px;
  top:18px;
  width:873px;
  height:2215px;
}
#u1534 {
  position:absolute;
  left:2px;
  top:1100px;
  width:869px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1535_div {
  position:absolute;
  left:0px;
  top:0px;
  width:783px;
  height:1687px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1535 {
  position:absolute;
  left:93px;
  top:272px;
  width:783px;
  height:1687px;
}
#u1536 {
  position:absolute;
  left:2px;
  top:836px;
  width:779px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1537_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:182px;
}
#u1537 {
  position:absolute;
  left:410px;
  top:2008px;
  width:150px;
  height:182px;
}
#u1538 {
  position:absolute;
  left:2px;
  top:83px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1539_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:163px;
}
#u1539 {
  position:absolute;
  left:419px;
  top:2020px;
  width:134px;
  height:163px;
}
#u1540 {
  position:absolute;
  left:2px;
  top:74px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1541 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1542_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:41px;
}
#u1542 {
  position:absolute;
  left:304px;
  top:171px;
  width:35px;
  height:41px;
}
#u1543 {
  position:absolute;
  left:2px;
  top:12px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1544_div {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1544 {
  position:absolute;
  left:353px;
  top:171px;
  width:313px;
  height:41px;
}
#u1545 {
  position:absolute;
  left:2px;
  top:12px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1546_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:453px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1546 {
  position:absolute;
  left:899px;
  top:494px;
  width:37px;
  height:453px;
}
#u1547 {
  position:absolute;
  left:2px;
  top:218px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1548_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:215px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1548 {
  position:absolute;
  left:37px;
  top:416px;
  width:46px;
  height:215px;
}
#u1549 {
  position:absolute;
  left:2px;
  top:100px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1550_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:22px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1550 {
  position:absolute;
  left:37px;
  top:742px;
  width:46px;
  height:22px;
}
#u1551 {
  position:absolute;
  left:2px;
  top:3px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1552_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1700px;
}
#u1552 {
  position:absolute;
  left:115px;
  top:247px;
  width:750px;
  height:1700px;
}
#u1553 {
  position:absolute;
  left:2px;
  top:842px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1554_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1700px;
}
#u1554 {
  position:absolute;
  left:1038px;
  top:247px;
  width:750px;
  height:1700px;
}
#u1555 {
  position:absolute;
  left:2px;
  top:842px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1556_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1700px;
}
#u1556 {
  position:absolute;
  left:1987px;
  top:247px;
  width:750px;
  height:1700px;
}
#u1557 {
  position:absolute;
  left:2px;
  top:842px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1558 {
  position:absolute;
  left:144px;
  top:269px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
