﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:3613px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1635 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1636_div {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:1843px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1636 {
  position:absolute;
  left:48px;
  top:18px;
  width:848px;
  height:1843px;
}
#u1637 {
  position:absolute;
  left:2px;
  top:914px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1403px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1638 {
  position:absolute;
  left:91px;
  top:229px;
  width:761px;
  height:1403px;
}
#u1639 {
  position:absolute;
  left:2px;
  top:694px;
  width:757px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:151px;
}
#u1640 {
  position:absolute;
  left:399px;
  top:1673px;
  width:146px;
  height:151px;
}
#u1641 {
  position:absolute;
  left:2px;
  top:68px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:136px;
}
#u1642 {
  position:absolute;
  left:408px;
  top:1683px;
  width:130px;
  height:136px;
}
#u1643 {
  position:absolute;
  left:2px;
  top:60px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1644 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u1645 {
  position:absolute;
  left:296px;
  top:145px;
  width:34px;
  height:34px;
}
#u1646 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1647 {
  position:absolute;
  left:344px;
  top:145px;
  width:304px;
  height:34px;
}
#u1648 {
  position:absolute;
  left:2px;
  top:9px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:377px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1649 {
  position:absolute;
  left:875px;
  top:414px;
  width:36px;
  height:377px;
}
#u1650 {
  position:absolute;
  left:2px;
  top:180px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:179px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1651 {
  position:absolute;
  left:37px;
  top:349px;
  width:45px;
  height:179px;
}
#u1652 {
  position:absolute;
  left:2px;
  top:82px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:179px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1653 {
  position:absolute;
  left:37px;
  top:540px;
  width:45px;
  height:179px;
}
#u1654 {
  position:absolute;
  left:2px;
  top:82px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1655 {
  position:absolute;
  left:102px;
  top:277px;
  width:750px;
  height:1334px;
}
#u1656 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1657 {
  position:absolute;
  left:1047px;
  top:264px;
  width:750px;
  height:1334px;
}
#u1658 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1659 {
  position:absolute;
  left:1954px;
  top:298px;
  width:750px;
  height:1334px;
}
#u1660 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1661 {
  position:absolute;
  left:1014px;
  top:1759px;
  width:750px;
  height:1334px;
}
#u1662 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1663 {
  position:absolute;
  left:1996px;
  top:1759px;
  width:750px;
  height:1334px;
}
#u1664 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1665 {
  position:absolute;
  left:2863px;
  top:298px;
  width:750px;
  height:1334px;
}
#u1666 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1667 {
  position:absolute;
  left:118px;
  top:318px;
  width:123px;
  height:83px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
