﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:790px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:52px;
  width:282px;
  height:518px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:518px;
}
#u1 {
  position:absolute;
  left:2px;
  top:251px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:46px;
  top:291px;
  width:260px;
  height:232px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:232px;
}
#u3 {
  position:absolute;
  left:2px;
  top:108px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:54px;
  top:148px;
  width:240px;
  height:93px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:93px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:136px;
  top:71px;
  width:90px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u7 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:54px;
  top:246px;
  width:236px;
  height:100px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:100px;
}
#u9 {
  position:absolute;
  left:2px;
  top:42px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:338px;
  top:156px;
  width:150px;
  height:52px;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:52px;
}
#u11 {
  position:absolute;
  left:2px;
  top:11px;
  width:146px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:508px;
  top:52px;
  width:282px;
  height:518px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:518px;
}
#u13 {
  position:absolute;
  left:2px;
  top:251px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:514px;
  top:291px;
  width:260px;
  height:232px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:232px;
}
#u15 {
  position:absolute;
  left:2px;
  top:108px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:522px;
  top:148px;
  width:240px;
  height:93px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:93px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:604px;
  top:71px;
  width:90px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u19 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:522px;
  top:246px;
  width:236px;
  height:100px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:100px;
}
#u21 {
  position:absolute;
  left:2px;
  top:42px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:48px;
  top:24px;
  width:113px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:508px;
  top:23px;
  width:113px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
