﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:6776px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:1785px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u156 {
  position:absolute;
  left:48px;
  top:18px;
  width:848px;
  height:1785px;
}
#u157 {
  position:absolute;
  left:2px;
  top:884px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1359px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u158 {
  position:absolute;
  left:91px;
  top:223px;
  width:761px;
  height:1359px;
}
#u159 {
  position:absolute;
  left:2px;
  top:672px;
  width:757px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:147px;
}
#u160 {
  position:absolute;
  left:399px;
  top:1621px;
  width:146px;
  height:147px;
}
#u161 {
  position:absolute;
  left:2px;
  top:66px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:131px;
}
#u162 {
  position:absolute;
  left:408px;
  top:1631px;
  width:130px;
  height:131px;
}
#u163 {
  position:absolute;
  left:2px;
  top:58px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:33px;
}
#u165 {
  position:absolute;
  left:296px;
  top:141px;
  width:34px;
  height:33px;
}
#u166 {
  position:absolute;
  left:2px;
  top:8px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u167 {
  position:absolute;
  left:344px;
  top:141px;
  width:304px;
  height:33px;
}
#u168 {
  position:absolute;
  left:2px;
  top:8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:365px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u169 {
  position:absolute;
  left:875px;
  top:402px;
  width:36px;
  height:365px;
}
#u170 {
  position:absolute;
  left:2px;
  top:174px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:173px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u171 {
  position:absolute;
  left:37px;
  top:339px;
  width:45px;
  height:173px;
}
#u172 {
  position:absolute;
  left:2px;
  top:78px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:173px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u173 {
  position:absolute;
  left:37px;
  top:523px;
  width:45px;
  height:173px;
}
#u174 {
  position:absolute;
  left:2px;
  top:78px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u175 {
  position:absolute;
  left:102px;
  top:247px;
  width:750px;
  height:1334px;
}
#u176 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:427px;
  top:1481px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u178 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u179 {
  position:absolute;
  left:3193px;
  top:1653px;
  width:750px;
  height:1334px;
}
#u180 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:972px;
  height:331px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u181 {
  position:absolute;
  left:4206px;
  top:2656px;
  width:972px;
  height:331px;
}
#u182 {
  position:absolute;
  left:2px;
  top:158px;
  width:968px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u184 {
  position:absolute;
  left:3551px;
  top:2952px;
  width:35px;
  height:35px;
}
#u185 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186 {
  position:absolute;
  left:3568px;
  top:2987px;
  width:0px;
  height:0px;
}
#u186_seg0 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u186_seg1 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:1132px;
  height:8px;
}
#u186_seg2 {
  position:absolute;
  left:1120px;
  top:0px;
  width:8px;
  height:4px;
}
#u186_seg3 {
  position:absolute;
  left:1114px;
  top:-13px;
  width:20px;
  height:20px;
}
#u187 {
  position:absolute;
  left:512px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:908px;
  height:126px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u188 {
  position:absolute;
  left:4226px;
  top:2734px;
  width:908px;
  height:126px;
  font-size:36px;
}
#u189 {
  position:absolute;
  left:0px;
  top:0px;
  width:908px;
  white-space:nowrap;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u190 {
  position:absolute;
  left:1242px;
  top:976px;
  width:300px;
  height:170px;
}
#u191 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u192 {
  position:absolute;
  left:1124px;
  top:247px;
  width:750px;
  height:1334px;
}
#u193 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:1279px;
}
#u194 {
  position:absolute;
  left:1978px;
  top:247px;
  width:719px;
  height:1279px;
}
#u195 {
  position:absolute;
  left:2px;
  top:632px;
  width:715px;
  visibility:hidden;
  word-wrap:break-word;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:1280px;
}
#u196 {
  position:absolute;
  left:910px;
  top:3116px;
  width:719px;
  height:1280px;
}
#u197 {
  position:absolute;
  left:2px;
  top:632px;
  width:715px;
  visibility:hidden;
  word-wrap:break-word;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u198 {
  position:absolute;
  left:1110px;
  top:1675px;
  width:750px;
  height:1334px;
}
#u199 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:1280px;
}
#u200 {
  position:absolute;
  left:48px;
  top:2408px;
  width:719px;
  height:1280px;
}
#u201 {
  position:absolute;
  left:2px;
  top:632px;
  width:715px;
  visibility:hidden;
  word-wrap:break-word;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u202 {
  position:absolute;
  left:2008px;
  top:1675px;
  width:750px;
  height:1334px;
}
#u203 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u205 {
  position:absolute;
  left:186px;
  top:1347px;
  width:35px;
  height:35px;
}
#u206 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u207 {
  position:absolute;
  left:206px;
  top:1381px;
  width:0px;
  height:0px;
}
#u207_seg0 {
  position:absolute;
  left:-4px;
  top:-477px;
  width:8px;
  height:477px;
}
#u207_seg1 {
  position:absolute;
  left:-4px;
  top:-477px;
  width:906px;
  height:8px;
}
#u207_seg2 {
  position:absolute;
  left:889px;
  top:-483px;
  width:20px;
  height:20px;
}
#u208 {
  position:absolute;
  left:164px;
  top:-481px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u210 {
  position:absolute;
  left:1632px;
  top:1140px;
  width:35px;
  height:35px;
}
#u211 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212 {
  position:absolute;
  left:1656px;
  top:1168px;
  width:0px;
  height:0px;
}
#u212_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:376px;
}
#u212_seg1 {
  position:absolute;
  left:-4px;
  top:368px;
  width:690px;
  height:8px;
}
#u212_seg2 {
  position:absolute;
  left:678px;
  top:358px;
  width:8px;
  height:18px;
}
#u212_seg3 {
  position:absolute;
  left:672px;
  top:351px;
  width:20px;
  height:20px;
}
#u213 {
  position:absolute;
  left:112px;
  top:364px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u215 {
  position:absolute;
  left:344px;
  top:1347px;
  width:35px;
  height:35px;
}
#u216 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u217 {
  position:absolute;
  left:364px;
  top:1376px;
  width:0px;
  height:0px;
}
#u217_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:970px;
}
#u217_seg1 {
  position:absolute;
  left:-4px;
  top:962px;
  width:750px;
  height:8px;
}
#u217_seg2 {
  position:absolute;
  left:733px;
  top:956px;
  width:20px;
  height:20px;
}
#u218 {
  position:absolute;
  left:-50px;
  top:848px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u220 {
  position:absolute;
  left:1632px;
  top:2564px;
  width:35px;
  height:35px;
}
#u221 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u222 {
  position:absolute;
  left:1648px;
  top:2580px;
  width:0px;
  height:0px;
}
#u222_seg0 {
  position:absolute;
  left:-4px;
  top:-242px;
  width:8px;
  height:242px;
}
#u222_seg1 {
  position:absolute;
  left:-4px;
  top:-242px;
  width:364px;
  height:8px;
}
#u222_seg2 {
  position:absolute;
  left:347px;
  top:-248px;
  width:20px;
  height:20px;
}
#u223 {
  position:absolute;
  left:11px;
  top:-246px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u225 {
  position:absolute;
  left:460px;
  top:1380px;
  width:35px;
  height:35px;
}
#u226 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u227 {
  position:absolute;
  left:484px;
  top:1408px;
  width:0px;
  height:0px;
}
#u227_seg0 {
  position:absolute;
  left:-108px;
  top:-4px;
  width:108px;
  height:8px;
}
#u227_seg1 {
  position:absolute;
  left:-108px;
  top:-4px;
  width:8px;
  height:990px;
}
#u227_seg2 {
  position:absolute;
  left:-108px;
  top:978px;
  width:36px;
  height:8px;
}
#u227_seg3 {
  position:absolute;
  left:-80px;
  top:978px;
  width:8px;
  height:22px;
}
#u227_seg4 {
  position:absolute;
  left:-86px;
  top:987px;
  width:20px;
  height:20px;
}
#u228 {
  position:absolute;
  left:-154px;
  top:454px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u230 {
  position:absolute;
  left:592px;
  top:1404px;
  width:35px;
  height:35px;
}
#u231 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u232 {
  position:absolute;
  left:608px;
  top:1424px;
  width:0px;
  height:0px;
}
#u232_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:970px;
}
#u232_seg1 {
  position:absolute;
  left:-4px;
  top:962px;
  width:300px;
  height:8px;
}
#u232_seg2 {
  position:absolute;
  left:288px;
  top:962px;
  width:8px;
  height:1374px;
}
#u232_seg3 {
  position:absolute;
  left:288px;
  top:2328px;
  width:14px;
  height:8px;
}
#u232_seg4 {
  position:absolute;
  left:289px;
  top:2322px;
  width:20px;
  height:20px;
}
#u233 {
  position:absolute;
  left:242px;
  top:1017px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u234 {
  position:absolute;
  left:2212px;
  top:3200px;
  width:300px;
  height:170px;
}
#u235 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u236 {
  position:absolute;
  left:1888px;
  top:3140px;
  width:1080px;
  height:1920px;
}
#u237 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u238 {
  position:absolute;
  left:3160px;
  top:3140px;
  width:1080px;
  height:1920px;
}
#u239 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u240 {
  position:absolute;
  left:5696px;
  top:3140px;
  width:1080px;
  height:1920px;
}
#u241 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u242 {
  position:absolute;
  left:4466px;
  top:3140px;
  width:1080px;
  height:1920px;
}
#u243 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u245 {
  position:absolute;
  left:732px;
  top:1404px;
  width:35px;
  height:35px;
}
#u246 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u247 {
  position:absolute;
  left:740px;
  top:1408px;
  width:0px;
  height:0px;
}
#u247_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:256px;
}
#u247_seg1 {
  position:absolute;
  left:-4px;
  top:248px;
  width:1258px;
  height:8px;
}
#u247_seg2 {
  position:absolute;
  left:1246px;
  top:248px;
  width:8px;
  height:1478px;
}
#u247_seg3 {
  position:absolute;
  left:1246px;
  top:1718px;
  width:446px;
  height:8px;
}
#u247_seg4 {
  position:absolute;
  left:1684px;
  top:1718px;
  width:8px;
  height:14px;
}
#u247_seg5 {
  position:absolute;
  left:1678px;
  top:1719px;
  width:20px;
  height:20px;
}
#u248 {
  position:absolute;
  left:1200px;
  top:452px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u249 {
  position:absolute;
  left:2968px;
  top:4100px;
  width:0px;
  height:0px;
}
#u249_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:196px;
  height:8px;
}
#u249_seg1 {
  position:absolute;
  left:179px;
  top:-10px;
  width:20px;
  height:20px;
}
#u250 {
  position:absolute;
  left:46px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:1279px;
}
#u251 {
  position:absolute;
  left:3195px;
  top:247px;
  width:719px;
  height:1279px;
}
#u252 {
  position:absolute;
  left:2px;
  top:632px;
  width:715px;
  visibility:hidden;
  word-wrap:break-word;
}
#u254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u254 {
  position:absolute;
  left:3504px;
  top:1347px;
  width:35px;
  height:35px;
}
#u255 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u256 {
  position:absolute;
  left:3524px;
  top:1364px;
  width:0px;
  height:0px;
}
#u256_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:296px;
}
#u256_seg1 {
  position:absolute;
  left:-20px;
  top:288px;
  width:24px;
  height:8px;
}
#u256_seg2 {
  position:absolute;
  left:-27px;
  top:282px;
  width:20px;
  height:20px;
}
#u257 {
  position:absolute;
  left:-50px;
  top:148px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
