﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:911px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1454 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1455_div {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:2212px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1455 {
  position:absolute;
  left:48px;
  top:18px;
  width:848px;
  height:2212px;
}
#u1456 {
  position:absolute;
  left:2px;
  top:1098px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1457_div {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1685px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1457 {
  position:absolute;
  left:91px;
  top:272px;
  width:761px;
  height:1685px;
}
#u1458 {
  position:absolute;
  left:2px;
  top:834px;
  width:757px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1459_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:182px;
}
#u1459 {
  position:absolute;
  left:399px;
  top:2005px;
  width:146px;
  height:182px;
}
#u1460 {
  position:absolute;
  left:2px;
  top:83px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1461_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:163px;
}
#u1461 {
  position:absolute;
  left:408px;
  top:2017px;
  width:130px;
  height:163px;
}
#u1462 {
  position:absolute;
  left:2px;
  top:74px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1463 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1464_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:41px;
}
#u1464 {
  position:absolute;
  left:296px;
  top:171px;
  width:34px;
  height:41px;
}
#u1465 {
  position:absolute;
  left:2px;
  top:12px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1466 {
  position:absolute;
  left:344px;
  top:171px;
  width:304px;
  height:41px;
}
#u1467 {
  position:absolute;
  left:2px;
  top:12px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:452px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1468 {
  position:absolute;
  left:875px;
  top:493px;
  width:36px;
  height:452px;
}
#u1469 {
  position:absolute;
  left:2px;
  top:218px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1470_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:215px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1470 {
  position:absolute;
  left:37px;
  top:416px;
  width:45px;
  height:215px;
}
#u1471 {
  position:absolute;
  left:2px;
  top:100px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:215px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1472 {
  position:absolute;
  left:37px;
  top:644px;
  width:45px;
  height:215px;
}
#u1473 {
  position:absolute;
  left:2px;
  top:100px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1474_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1700px;
}
#u1474 {
  position:absolute;
  left:98px;
  top:258px;
  width:750px;
  height:1700px;
}
#u1475 {
  position:absolute;
  left:2px;
  top:842px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1476 {
  position:absolute;
  left:128px;
  top:286px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
