﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:3691px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2508 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2509_div {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:1821px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2509 {
  position:absolute;
  left:48px;
  top:18px;
  width:848px;
  height:1821px;
}
#u2510 {
  position:absolute;
  left:2px;
  top:902px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2511_div {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1387px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2511 {
  position:absolute;
  left:91px;
  top:227px;
  width:761px;
  height:1387px;
}
#u2512 {
  position:absolute;
  left:2px;
  top:686px;
  width:757px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2513_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:150px;
}
#u2513 {
  position:absolute;
  left:399px;
  top:1654px;
  width:146px;
  height:150px;
}
#u2514 {
  position:absolute;
  left:2px;
  top:67px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2515_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:134px;
}
#u2515 {
  position:absolute;
  left:408px;
  top:1664px;
  width:130px;
  height:134px;
}
#u2516 {
  position:absolute;
  left:2px;
  top:59px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2517 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2518_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u2518 {
  position:absolute;
  left:296px;
  top:144px;
  width:34px;
  height:34px;
}
#u2519 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2520_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2520 {
  position:absolute;
  left:344px;
  top:144px;
  width:304px;
  height:34px;
}
#u2521 {
  position:absolute;
  left:2px;
  top:9px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2522_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:372px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2522 {
  position:absolute;
  left:875px;
  top:409px;
  width:36px;
  height:372px;
}
#u2523 {
  position:absolute;
  left:2px;
  top:178px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2524_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:177px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2524 {
  position:absolute;
  left:37px;
  top:346px;
  width:45px;
  height:177px;
}
#u2525 {
  position:absolute;
  left:2px;
  top:80px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2526_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:177px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2526 {
  position:absolute;
  left:37px;
  top:534px;
  width:45px;
  height:177px;
}
#u2527 {
  position:absolute;
  left:2px;
  top:80px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2528_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u2528 {
  position:absolute;
  left:100px;
  top:270px;
  width:750px;
  height:1334px;
}
#u2529 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2530_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u2530 {
  position:absolute;
  left:1045px;
  top:1978px;
  width:750px;
  height:1334px;
}
#u2531 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2532_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u2532 {
  position:absolute;
  left:1002px;
  top:280px;
  width:750px;
  height:1334px;
}
#u2533 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2534_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u2534 {
  position:absolute;
  left:2823px;
  top:330px;
  width:750px;
  height:1334px;
}
#u2535 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2536_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u2536 {
  position:absolute;
  left:1945px;
  top:330px;
  width:750px;
  height:1334px;
}
#u2537 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2538 {
  position:absolute;
  left:100px;
  top:1504px;
  width:752px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2539 {
  position:absolute;
  left:100px;
  top:312px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2540_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u2540 {
  position:absolute;
  left:97px;
  top:2000px;
  width:750px;
  height:1334px;
}
#u2541 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2542_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u2542 {
  position:absolute;
  left:2941px;
  top:1942px;
  width:750px;
  height:1334px;
}
#u2543 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2544_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u2544 {
  position:absolute;
  left:2038px;
  top:1942px;
  width:750px;
  height:1334px;
}
#u2545 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2547_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u2547 {
  position:absolute;
  left:755px;
  top:920px;
  width:35px;
  height:35px;
}
#u2548 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2549 {
  position:absolute;
  left:776px;
  top:942px;
  width:0px;
  height:0px;
}
#u2549_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:218px;
  height:8px;
}
#u2549_seg1 {
  position:absolute;
  left:210px;
  top:-676px;
  width:8px;
  height:680px;
}
#u2549_seg2 {
  position:absolute;
  left:210px;
  top:-676px;
  width:1338px;
  height:8px;
}
#u2549_seg3 {
  position:absolute;
  left:1540px;
  top:-676px;
  width:8px;
  height:64px;
}
#u2549_seg4 {
  position:absolute;
  left:1534px;
  top:-625px;
  width:20px;
  height:20px;
}
#u2550 {
  position:absolute;
  left:416px;
  top:-680px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2552_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u2552 {
  position:absolute;
  left:2342px;
  top:1634px;
  width:35px;
  height:35px;
}
#u2553 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2554 {
  position:absolute;
  left:2361px;
  top:1670px;
  width:0px;
  height:0px;
}
#u2554_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:14px;
}
#u2554_seg1 {
  position:absolute;
  left:-4px;
  top:6px;
  width:457px;
  height:8px;
}
#u2554_seg2 {
  position:absolute;
  left:445px;
  top:-1354px;
  width:8px;
  height:1368px;
}
#u2554_seg3 {
  position:absolute;
  left:445px;
  top:-1354px;
  width:396px;
  height:8px;
}
#u2554_seg4 {
  position:absolute;
  left:833px;
  top:-1354px;
  width:8px;
  height:14px;
}
#u2554_seg5 {
  position:absolute;
  left:827px;
  top:-1353px;
  width:20px;
  height:20px;
}
#u2555 {
  position:absolute;
  left:399px;
  top:-648px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2557_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u2557 {
  position:absolute;
  left:344px;
  top:1121px;
  width:35px;
  height:35px;
}
#u2558 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2559 {
  position:absolute;
  left:352px;
  top:1136px;
  width:0px;
  height:0px;
}
#u2559_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:642px;
  height:8px;
}
#u2559_seg1 {
  position:absolute;
  left:634px;
  top:-4px;
  width:8px;
  height:502px;
}
#u2559_seg2 {
  position:absolute;
  left:634px;
  top:490px;
  width:395px;
  height:8px;
}
#u2559_seg3 {
  position:absolute;
  left:1021px;
  top:478px;
  width:8px;
  height:20px;
}
#u2559_seg4 {
  position:absolute;
  left:1015px;
  top:471px;
  width:20px;
  height:20px;
}
#u2560 {
  position:absolute;
  left:588px;
  top:122px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2562_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u2562 {
  position:absolute;
  left:327px;
  top:1197px;
  width:35px;
  height:35px;
}
#u2563 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2564 {
  position:absolute;
  left:472px;
  top:2000px;
  width:0px;
  height:0px;
}
#u2564_seg0 {
  position:absolute;
  left:-4px;
  top:-184px;
  width:8px;
  height:184px;
}
#u2564_seg1 {
  position:absolute;
  left:-396px;
  top:-184px;
  width:400px;
  height:8px;
}
#u2564_seg2 {
  position:absolute;
  left:-396px;
  top:-783px;
  width:8px;
  height:607px;
}
#u2564_seg3 {
  position:absolute;
  left:-396px;
  top:-783px;
  width:266px;
  height:8px;
}
#u2564_seg4 {
  position:absolute;
  left:-143px;
  top:-789px;
  width:20px;
  height:20px;
}
#u2565 {
  position:absolute;
  left:-442px;
  top:-332px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2567_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u2567 {
  position:absolute;
  left:296px;
  top:1264px;
  width:35px;
  height:35px;
}
#u2568 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2569 {
  position:absolute;
  left:309px;
  top:1282px;
  width:0px;
  height:0px;
}
#u2569_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:628px;
  height:8px;
}
#u2569_seg1 {
  position:absolute;
  left:620px;
  top:-4px;
  width:8px;
  height:656px;
}
#u2569_seg2 {
  position:absolute;
  left:620px;
  top:644px;
  width:1497px;
  height:8px;
}
#u2569_seg3 {
  position:absolute;
  left:2109px;
  top:644px;
  width:8px;
  height:20px;
}
#u2569_seg4 {
  position:absolute;
  left:2104px;
  top:656px;
  width:13px;
  height:8px;
}
#u2569_seg5 {
  position:absolute;
  left:2097px;
  top:650px;
  width:20px;
  height:20px;
}
#u2570 {
  position:absolute;
  left:693px;
  top:640px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2572_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u2572 {
  position:absolute;
  left:715px;
  top:1012px;
  width:35px;
  height:35px;
}
#u2573 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2574 {
  position:absolute;
  left:1045px;
  top:2645px;
  width:0px;
  height:0px;
}
#u2574_seg0 {
  position:absolute;
  left:-179px;
  top:-4px;
  width:179px;
  height:8px;
}
#u2574_seg1 {
  position:absolute;
  left:-179px;
  top:-1607px;
  width:8px;
  height:1611px;
}
#u2574_seg2 {
  position:absolute;
  left:-303px;
  top:-1607px;
  width:132px;
  height:8px;
}
#u2574_seg3 {
  position:absolute;
  left:-310px;
  top:-1613px;
  width:20px;
  height:20px;
}
#u2575 {
  position:absolute;
  left:-225px;
  top:-786px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2577_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u2577 {
  position:absolute;
  left:2703px;
  top:2000px;
  width:35px;
  height:35px;
}
#u2578 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2579 {
  position:absolute;
  left:2718px;
  top:2015px;
  width:0px;
  height:0px;
}
#u2579_seg0 {
  position:absolute;
  left:-4px;
  top:-89px;
  width:8px;
  height:89px;
}
#u2579_seg1 {
  position:absolute;
  left:-4px;
  top:-89px;
  width:606px;
  height:8px;
}
#u2579_seg2 {
  position:absolute;
  left:594px;
  top:-89px;
  width:8px;
  height:16px;
}
#u2579_seg3 {
  position:absolute;
  left:588px;
  top:-86px;
  width:20px;
  height:20px;
}
#u2580 {
  position:absolute;
  left:212px;
  top:-93px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
