﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:3732px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1842 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:1824px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1843 {
  position:absolute;
  left:48px;
  top:18px;
  width:848px;
  height:1824px;
}
#u1844 {
  position:absolute;
  left:2px;
  top:904px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1389px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1845 {
  position:absolute;
  left:91px;
  top:227px;
  width:761px;
  height:1389px;
}
#u1846 {
  position:absolute;
  left:2px;
  top:686px;
  width:757px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:150px;
}
#u1847 {
  position:absolute;
  left:399px;
  top:1657px;
  width:146px;
  height:150px;
}
#u1848 {
  position:absolute;
  left:2px;
  top:67px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:134px;
}
#u1849 {
  position:absolute;
  left:408px;
  top:1667px;
  width:130px;
  height:134px;
}
#u1850 {
  position:absolute;
  left:2px;
  top:59px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1851 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u1852 {
  position:absolute;
  left:296px;
  top:144px;
  width:34px;
  height:34px;
}
#u1853 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1854 {
  position:absolute;
  left:344px;
  top:144px;
  width:304px;
  height:34px;
}
#u1855 {
  position:absolute;
  left:2px;
  top:9px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:373px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1856 {
  position:absolute;
  left:875px;
  top:410px;
  width:36px;
  height:373px;
}
#u1857 {
  position:absolute;
  left:2px;
  top:178px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:177px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1858 {
  position:absolute;
  left:37px;
  top:346px;
  width:45px;
  height:177px;
}
#u1859 {
  position:absolute;
  left:2px;
  top:80px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:177px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1860 {
  position:absolute;
  left:37px;
  top:534px;
  width:45px;
  height:177px;
}
#u1861 {
  position:absolute;
  left:2px;
  top:80px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1862 {
  position:absolute;
  left:102px;
  top:268px;
  width:750px;
  height:1334px;
}
#u1863 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1864 {
  position:absolute;
  left:2982px;
  top:282px;
  width:750px;
  height:1334px;
}
#u1865 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1866 {
  position:absolute;
  left:1135px;
  top:282px;
  width:750px;
  height:1334px;
}
#u1867 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1868 {
  position:absolute;
  left:2068px;
  top:282px;
  width:750px;
  height:1334px;
}
#u1869 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1870 {
  position:absolute;
  left:123px;
  top:317px;
  width:115px;
  height:67px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1871 {
  position:absolute;
  left:114px;
  top:423px;
  width:720px;
  height:67px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1872 {
  position:absolute;
  left:112px;
  top:506px;
  width:720px;
  height:67px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u1873 {
  position:absolute;
  left:2199px;
  top:162px;
  width:481px;
  height:57px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u1874 {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  white-space:nowrap;
}
#u1876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1876 {
  position:absolute;
  left:2345px;
  top:455px;
  width:35px;
  height:35px;
}
#u1877 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1878 {
  position:absolute;
  left:2373px;
  top:470px;
  width:0px;
  height:0px;
}
#u1878_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:601px;
  height:8px;
}
#u1878_seg1 {
  position:absolute;
  left:593px;
  top:-4px;
  width:8px;
  height:487px;
}
#u1878_seg2 {
  position:absolute;
  left:593px;
  top:475px;
  width:16px;
  height:8px;
}
#u1878_seg3 {
  position:absolute;
  left:596px;
  top:469px;
  width:20px;
  height:20px;
}
#u1879 {
  position:absolute;
  left:494px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1881 {
  position:absolute;
  left:779px;
  top:378px;
  width:35px;
  height:35px;
}
#u1882 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1883 {
  position:absolute;
  left:800px;
  top:397px;
  width:0px;
  height:0px;
}
#u1883_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:324px;
  height:8px;
}
#u1883_seg1 {
  position:absolute;
  left:316px;
  top:-4px;
  width:8px;
  height:560px;
}
#u1883_seg2 {
  position:absolute;
  left:316px;
  top:548px;
  width:19px;
  height:8px;
}
#u1883_seg3 {
  position:absolute;
  left:322px;
  top:542px;
  width:20px;
  height:20px;
}
#u1884 {
  position:absolute;
  left:270px;
  top:116px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
