﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1834px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1305 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:1996px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1306 {
  position:absolute;
  left:48px;
  top:18px;
  width:848px;
  height:1996px;
}
#u1307 {
  position:absolute;
  left:2px;
  top:990px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1520px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1308 {
  position:absolute;
  left:91px;
  top:247px;
  width:761px;
  height:1520px;
}
#u1309 {
  position:absolute;
  left:2px;
  top:752px;
  width:757px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:164px;
}
#u1310 {
  position:absolute;
  left:399px;
  top:1811px;
  width:146px;
  height:164px;
}
#u1311 {
  position:absolute;
  left:2px;
  top:74px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:147px;
}
#u1312 {
  position:absolute;
  left:408px;
  top:1822px;
  width:130px;
  height:147px;
}
#u1313 {
  position:absolute;
  left:2px;
  top:66px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1314 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:37px;
}
#u1315 {
  position:absolute;
  left:296px;
  top:156px;
  width:34px;
  height:37px;
}
#u1316 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1317 {
  position:absolute;
  left:344px;
  top:156px;
  width:304px;
  height:37px;
}
#u1318 {
  position:absolute;
  left:2px;
  top:10px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:408px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1319 {
  position:absolute;
  left:875px;
  top:447px;
  width:36px;
  height:408px;
}
#u1320 {
  position:absolute;
  left:2px;
  top:196px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:194px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1321 {
  position:absolute;
  left:37px;
  top:377px;
  width:45px;
  height:194px;
}
#u1322 {
  position:absolute;
  left:2px;
  top:89px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:194px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1323 {
  position:absolute;
  left:37px;
  top:583px;
  width:45px;
  height:194px;
}
#u1324 {
  position:absolute;
  left:2px;
  top:89px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1500px;
}
#u1325 {
  position:absolute;
  left:102px;
  top:247px;
  width:750px;
  height:1500px;
}
#u1326 {
  position:absolute;
  left:2px;
  top:742px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1500px;
}
#u1327 {
  position:absolute;
  left:1084px;
  top:257px;
  width:750px;
  height:1500px;
}
#u1328 {
  position:absolute;
  left:2px;
  top:742px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1329 {
  position:absolute;
  left:122px;
  top:294px;
  width:110px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
