﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:931px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u375 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:867px;
  height:1809px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u376 {
  position:absolute;
  left:48px;
  top:18px;
  width:867px;
  height:1809px;
}
#u377 {
  position:absolute;
  left:2px;
  top:896px;
  width:863px;
  visibility:hidden;
  word-wrap:break-word;
}
#u378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:778px;
  height:1378px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u378 {
  position:absolute;
  left:92px;
  top:226px;
  width:778px;
  height:1378px;
}
#u379 {
  position:absolute;
  left:2px;
  top:681px;
  width:774px;
  visibility:hidden;
  word-wrap:break-word;
}
#u380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:149px;
}
#u380 {
  position:absolute;
  left:407px;
  top:1643px;
  width:149px;
  height:149px;
}
#u381 {
  position:absolute;
  left:2px;
  top:66px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:133px;
}
#u382 {
  position:absolute;
  left:416px;
  top:1653px;
  width:133px;
  height:133px;
}
#u383 {
  position:absolute;
  left:2px;
  top:58px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u384 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u385_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:34px;
}
#u385 {
  position:absolute;
  left:302px;
  top:143px;
  width:35px;
  height:34px;
}
#u386 {
  position:absolute;
  left:2px;
  top:9px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u387_div {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u387 {
  position:absolute;
  left:351px;
  top:143px;
  width:311px;
  height:34px;
}
#u388 {
  position:absolute;
  left:2px;
  top:9px;
  width:307px;
  visibility:hidden;
  word-wrap:break-word;
}
#u389_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:370px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u389 {
  position:absolute;
  left:894px;
  top:407px;
  width:37px;
  height:370px;
}
#u390 {
  position:absolute;
  left:2px;
  top:177px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u391_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:176px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u391 {
  position:absolute;
  left:37px;
  top:343px;
  width:46px;
  height:176px;
}
#u392 {
  position:absolute;
  left:2px;
  top:80px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:176px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u393 {
  position:absolute;
  left:37px;
  top:530px;
  width:46px;
  height:176px;
}
#u394 {
  position:absolute;
  left:2px;
  top:80px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u395_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u395 {
  position:absolute;
  left:97px;
  top:247px;
  width:750px;
  height:1334px;
}
#u396 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u397 {
  position:absolute;
  left:422px;
  top:1461px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
