﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1799px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u481 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u482_div {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:2461px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u482 {
  position:absolute;
  left:48px;
  top:18px;
  width:848px;
  height:2461px;
}
#u483 {
  position:absolute;
  left:2px;
  top:1222px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u484_div {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1874px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u484 {
  position:absolute;
  left:91px;
  top:300px;
  width:761px;
  height:1874px;
}
#u485 {
  position:absolute;
  left:2px;
  top:929px;
  width:757px;
  visibility:hidden;
  word-wrap:break-word;
}
#u486_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:202px;
}
#u486 {
  position:absolute;
  left:399px;
  top:2229px;
  width:146px;
  height:202px;
}
#u487 {
  position:absolute;
  left:2px;
  top:93px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u488_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:181px;
}
#u488 {
  position:absolute;
  left:408px;
  top:2242px;
  width:130px;
  height:181px;
}
#u489 {
  position:absolute;
  left:2px;
  top:82px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u490 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u491_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:46px;
}
#u491 {
  position:absolute;
  left:296px;
  top:188px;
  width:34px;
  height:46px;
}
#u492 {
  position:absolute;
  left:2px;
  top:15px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u493_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u493 {
  position:absolute;
  left:344px;
  top:188px;
  width:304px;
  height:46px;
}
#u494 {
  position:absolute;
  left:2px;
  top:15px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u495_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:503px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u495 {
  position:absolute;
  left:875px;
  top:547px;
  width:36px;
  height:503px;
}
#u496 {
  position:absolute;
  left:2px;
  top:244px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u497_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:239px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u497 {
  position:absolute;
  left:37px;
  top:461px;
  width:45px;
  height:239px;
}
#u498 {
  position:absolute;
  left:2px;
  top:112px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u499_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:239px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u499 {
  position:absolute;
  left:37px;
  top:715px;
  width:45px;
  height:239px;
}
#u500 {
  position:absolute;
  left:2px;
  top:112px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u501_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1900px;
}
#u501 {
  position:absolute;
  left:102px;
  top:247px;
  width:750px;
  height:1900px;
}
#u502 {
  position:absolute;
  left:2px;
  top:942px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u503_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1900px;
}
#u503 {
  position:absolute;
  left:1049px;
  top:247px;
  width:750px;
  height:1900px;
}
#u504 {
  position:absolute;
  left:2px;
  top:942px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u505 {
  position:absolute;
  left:102px;
  top:285px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u506 {
  position:absolute;
  left:736px;
  top:285px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u507 {
  position:absolute;
  left:102px;
  top:2047px;
  width:750px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
