﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1989px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u655 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:1800px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u656 {
  position:absolute;
  left:48px;
  top:18px;
  width:848px;
  height:1800px;
}
#u657 {
  position:absolute;
  left:2px;
  top:892px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1371px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u658 {
  position:absolute;
  left:91px;
  top:225px;
  width:761px;
  height:1371px;
}
#u659 {
  position:absolute;
  left:2px;
  top:678px;
  width:757px;
  visibility:hidden;
  word-wrap:break-word;
}
#u660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:148px;
}
#u660 {
  position:absolute;
  left:399px;
  top:1635px;
  width:146px;
  height:148px;
}
#u661 {
  position:absolute;
  left:2px;
  top:66px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:133px;
}
#u662 {
  position:absolute;
  left:408px;
  top:1645px;
  width:130px;
  height:133px;
}
#u663 {
  position:absolute;
  left:2px;
  top:58px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u664 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:33px;
}
#u665 {
  position:absolute;
  left:296px;
  top:142px;
  width:34px;
  height:33px;
}
#u666 {
  position:absolute;
  left:2px;
  top:8px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u667 {
  position:absolute;
  left:344px;
  top:142px;
  width:304px;
  height:33px;
}
#u668 {
  position:absolute;
  left:2px;
  top:8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:368px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u669 {
  position:absolute;
  left:875px;
  top:405px;
  width:36px;
  height:368px;
}
#u670 {
  position:absolute;
  left:2px;
  top:176px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:175px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u671 {
  position:absolute;
  left:37px;
  top:342px;
  width:45px;
  height:175px;
}
#u672 {
  position:absolute;
  left:2px;
  top:80px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:175px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u673 {
  position:absolute;
  left:37px;
  top:528px;
  width:45px;
  height:175px;
}
#u674 {
  position:absolute;
  left:2px;
  top:80px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u675 {
  position:absolute;
  left:102px;
  top:247px;
  width:750px;
  height:1334px;
}
#u676 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u677 {
  position:absolute;
  left:124px;
  top:285px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1500px;
}
#u678 {
  position:absolute;
  left:1239px;
  top:225px;
  width:750px;
  height:1500px;
}
#u679 {
  position:absolute;
  left:2px;
  top:742px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u680 {
  position:absolute;
  left:276px;
  top:510px;
  width:0px;
  height:0px;
}
#u680_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:388px;
  height:8px;
}
#u680_seg1 {
  position:absolute;
  left:380px;
  top:-304px;
  width:8px;
  height:308px;
}
#u680_seg2 {
  position:absolute;
  left:380px;
  top:-304px;
  width:962px;
  height:8px;
}
#u680_seg3 {
  position:absolute;
  left:1334px;
  top:-304px;
  width:8px;
  height:19px;
}
#u680_seg4 {
  position:absolute;
  left:1328px;
  top:-298px;
  width:20px;
  height:20px;
}
#u681 {
  position:absolute;
  left:476px;
  top:-308px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
