﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:350px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:58px;
  top:40px;
  width:292px;
  height:484px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:484px;
}
#u1 {
  position:absolute;
  left:2px;
  top:234px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:58px;
  top:57px;
  width:292px;
  height:37px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:37px;
}
#u3 {
  position:absolute;
  left:2px;
  top:10px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:58px;
  top:94px;
  width:292px;
  height:430px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:430px;
}
#u5 {
  position:absolute;
  left:2px;
  top:207px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:167px;
  top:63px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:68px;
  top:70px;
  width:37px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:74px;
  top:199px;
  width:259px;
  height:283px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:283px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:98px;
  top:118px;
  width:141px;
  height:37px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:37px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:253px;
  top:108px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u15 {
  position:absolute;
  left:2px;
  top:9px;
  width:46px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:69px;
  top:176px;
  width:271px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:254px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:271px;
  height:1px;
}
#u17 {
  position:absolute;
  left:287px;
  top:69px;
  width:57px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
