﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:931px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1330 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1331_div {
  position:absolute;
  left:0px;
  top:0px;
  width:867px;
  height:2227px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1331 {
  position:absolute;
  left:48px;
  top:18px;
  width:867px;
  height:2227px;
}
#u1332 {
  position:absolute;
  left:2px;
  top:1106px;
  width:863px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1333_div {
  position:absolute;
  left:0px;
  top:0px;
  width:778px;
  height:1696px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1333 {
  position:absolute;
  left:92px;
  top:274px;
  width:778px;
  height:1696px;
}
#u1334 {
  position:absolute;
  left:2px;
  top:840px;
  width:774px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:183px;
}
#u1335 {
  position:absolute;
  left:407px;
  top:2019px;
  width:149px;
  height:183px;
}
#u1336 {
  position:absolute;
  left:2px;
  top:84px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:164px;
}
#u1337 {
  position:absolute;
  left:416px;
  top:2031px;
  width:133px;
  height:164px;
}
#u1338 {
  position:absolute;
  left:2px;
  top:74px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1339 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:41px;
}
#u1340 {
  position:absolute;
  left:302px;
  top:172px;
  width:35px;
  height:41px;
}
#u1341 {
  position:absolute;
  left:2px;
  top:12px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1342 {
  position:absolute;
  left:351px;
  top:172px;
  width:311px;
  height:41px;
}
#u1343 {
  position:absolute;
  left:2px;
  top:12px;
  width:307px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:455px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1344 {
  position:absolute;
  left:894px;
  top:497px;
  width:37px;
  height:455px;
}
#u1345 {
  position:absolute;
  left:2px;
  top:220px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:216px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1346 {
  position:absolute;
  left:37px;
  top:419px;
  width:46px;
  height:216px;
}
#u1347 {
  position:absolute;
  left:2px;
  top:100px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:216px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1348 {
  position:absolute;
  left:37px;
  top:649px;
  width:46px;
  height:216px;
}
#u1349 {
  position:absolute;
  left:2px;
  top:100px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1700px;
}
#u1350 {
  position:absolute;
  left:98px;
  top:258px;
  width:750px;
  height:1700px;
}
#u1351 {
  position:absolute;
  left:2px;
  top:842px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1352 {
  position:absolute;
  left:118px;
  top:300px;
  width:111px;
  height:73px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
