﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2466px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1_div {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:1797px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1 {
  position:absolute;
  left:48px;
  top:18px;
  width:848px;
  height:1797px;
}
#u2 {
  position:absolute;
  left:2px;
  top:890px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_div {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1369px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3 {
  position:absolute;
  left:91px;
  top:224px;
  width:761px;
  height:1369px;
}
#u4 {
  position:absolute;
  left:2px;
  top:676px;
  width:757px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:148px;
}
#u5 {
  position:absolute;
  left:399px;
  top:1632px;
  width:146px;
  height:148px;
}
#u6 {
  position:absolute;
  left:2px;
  top:66px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:132px;
}
#u7 {
  position:absolute;
  left:408px;
  top:1642px;
  width:130px;
  height:132px;
}
#u8 {
  position:absolute;
  left:2px;
  top:58px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:33px;
}
#u10 {
  position:absolute;
  left:296px;
  top:142px;
  width:34px;
  height:33px;
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12 {
  position:absolute;
  left:344px;
  top:142px;
  width:304px;
  height:33px;
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:367px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14 {
  position:absolute;
  left:875px;
  top:404px;
  width:36px;
  height:367px;
}
#u15 {
  position:absolute;
  left:2px;
  top:176px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:175px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16 {
  position:absolute;
  left:37px;
  top:341px;
  width:45px;
  height:175px;
}
#u17 {
  position:absolute;
  left:2px;
  top:80px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:175px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18 {
  position:absolute;
  left:37px;
  top:527px;
  width:45px;
  height:175px;
}
#u19 {
  position:absolute;
  left:2px;
  top:80px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u20 {
  position:absolute;
  left:97px;
  top:247px;
  width:750px;
  height:1334px;
}
#u21 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:230px;
  top:1185px;
  width:491px;
  height:94px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u23 {
  position:absolute;
  left:296px;
  top:1433px;
  width:137px;
  height:76px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u24 {
  position:absolute;
  left:509px;
  top:1433px;
  width:139px;
  height:76px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u26 {
  position:absolute;
  left:778px;
  top:985px;
  width:35px;
  height:35px;
}
#u27 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u28 {
  position:absolute;
  left:1041px;
  top:900px;
  width:300px;
  height:170px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u29 {
  position:absolute;
  left:2px;
  top:73px;
  width:296px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:810px;
  top:1002px;
  width:0px;
  height:0px;
}
#u30_seg0 {
  position:absolute;
  left:-4px;
  top:-11px;
  width:8px;
  height:11px;
}
#u30_seg1 {
  position:absolute;
  left:-4px;
  top:-11px;
  width:237px;
  height:8px;
}
#u30_seg2 {
  position:absolute;
  left:220px;
  top:-17px;
  width:20px;
  height:20px;
}
#u31 {
  position:absolute;
  left:63px;
  top:-15px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u33 {
  position:absolute;
  left:250px;
  top:1003px;
  width:35px;
  height:35px;
}
#u34 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u35 {
  position:absolute;
  left:1041px;
  top:1109px;
  width:300px;
  height:170px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u36 {
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:1041px;
  top:1194px;
  width:0px;
  height:0px;
}
#u37_seg0 {
  position:absolute;
  left:-305px;
  top:-4px;
  width:305px;
  height:8px;
}
#u37_seg1 {
  position:absolute;
  left:-305px;
  top:-168px;
  width:8px;
  height:172px;
}
#u37_seg2 {
  position:absolute;
  left:-768px;
  top:-168px;
  width:471px;
  height:8px;
}
#u37_seg3 {
  position:absolute;
  left:-13px;
  top:-10px;
  width:20px;
  height:20px;
}
#u38 {
  position:absolute;
  left:-352px;
  top:-172px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u39 {
  position:absolute;
  left:1716px;
  top:242px;
  width:750px;
  height:1334px;
}
#u40 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u42 {
  position:absolute;
  left:458px;
  top:1244px;
  width:35px;
  height:35px;
}
#u43 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:474px;
  top:1282px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u44_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:1608px;
  height:8px;
}
#u44_seg1 {
  position:absolute;
  left:1600px;
  top:-294px;
  width:8px;
  height:298px;
}
#u44_seg2 {
  position:absolute;
  left:1594px;
  top:-301px;
  width:20px;
  height:20px;
}
#u45 {
  position:absolute;
  left:899px;
  top:-42px;
  width:100px;
  word-wrap:break-word;
}
