﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:208px;
  top:54px;
  width:292px;
  height:518px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:518px;
}
#u1 {
  position:absolute;
  left:2px;
  top:251px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:208px;
  top:72px;
  width:292px;
  height:518px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:518px;
}
#u3 {
  position:absolute;
  left:2px;
  top:251px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:208px;
  top:72px;
  width:292px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:208px;
  top:110px;
  width:292px;
  height:431px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:431px;
}
#u7 {
  position:absolute;
  left:2px;
  top:208px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:208px;
  top:541px;
  width:292px;
  height:49px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:49px;
}
#u9 {
  position:absolute;
  left:2px;
  top:16px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:289px;
  top:571px;
  width:29px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
  color:#A1A1A1;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:293px;
  top:549px;
  width:20px;
  height:20px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:389px;
  top:571px;
  width:29px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
  color:#A1A1A1;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:393px;
  top:549px;
  width:20px;
  height:20px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u17 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:208px;
  top:110px;
  width:292px;
  height:480px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:480px;
}
#u19 {
  position:absolute;
  left:2px;
  top:232px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:329px;
  top:178px;
  width:45px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:19px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:254px;
  top:258px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
  color:#AEAEAE;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:261px;
  top:130px;
  width:50px;
  height:50px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u25 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:329px;
  top:133px;
  width:49px;
  height:19px;
  font-size:16px;
  color:#1E1E1E;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:222px;
  top:390px;
  width:260px;
  height:174px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:174px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:324px;
  top:165px;
  width:20px;
  height:20px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u31 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:342px;
  top:165px;
  width:20px;
  height:20px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u33 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:359px;
  top:165px;
  width:20px;
  height:20px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u35 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:375px;
  top:165px;
  width:20px;
  height:20px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u37 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:392px;
  top:165px;
  width:20px;
  height:20px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u39 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:251px;
  top:220px;
  width:65px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:28px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:33px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:402px;
  top:308px;
  width:78px;
  height:47px;
  font-size:14px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:47px;
}
#u43 {
  position:absolute;
  left:2px;
  top:8px;
  width:74px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:414px;
  top:169px;
  width:35px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
  color:#AEAEAE;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:394px;
  top:257px;
  width:43px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
  color:#AEAEAE;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:384px;
  top:220px;
  width:65px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:28px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:33px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:228px;
  top:201px;
  width:250px;
  height:10px;
}
#u50_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_end {
  position:absolute;
  left:233px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_line {
  position:absolute;
  left:0px;
  top:5px;
  width:250px;
  height:1px;
}
#u51 {
  position:absolute;
  left:349px;
  top:222px;
  width:10px;
  height:44px;
}
#u51_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u51_end {
  position:absolute;
  left:-5px;
  top:27px;
  width:20px;
  height:18px;
}
#u51_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:44px;
}
#u52 {
  position:absolute;
  left:228px;
  top:276px;
  width:250px;
  height:10px;
}
#u52_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_end {
  position:absolute;
  left:233px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_line {
  position:absolute;
  left:0px;
  top:5px;
  width:250px;
  height:1px;
}
#u53 {
  position:absolute;
  left:218px;
  top:80px;
  width:25px;
  height:25px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u54 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:463px;
  top:78px;
  width:25px;
  height:25px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u56 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:80px;
  top:72px;
  width:118px;
  height:39px;
  color:#FFFFFF;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:39px;
}
#u58 {
  position:absolute;
  left:2px;
  top:12px;
  width:114px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:40px;
  top:316px;
  width:150px;
  height:39px;
  color:#FFFFFF;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:39px;
}
#u60 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:520px;
  top:71px;
  width:150px;
  height:39px;
  color:#FFFFFF;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:39px;
}
#u62 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:520px;
  top:185px;
  width:200px;
  height:112px;
  color:#FFFFFF;
  text-align:left;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:112px;
}
#u64 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:520px;
  top:312px;
  width:150px;
  height:39px;
  color:#FFFFFF;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:39px;
}
#u66 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:520px;
  top:460px;
  width:160px;
  height:39px;
  color:#FFFFFF;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:39px;
}
#u68 {
  position:absolute;
  left:2px;
  top:4px;
  width:156px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:230px;
  top:308px;
  width:78px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:47px;
}
#u70 {
  position:absolute;
  left:2px;
  top:16px;
  width:74px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:344px;
  top:79px;
  width:19px;
  height:22px;
  font-size:18px;
  color:#1E1E1E;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:22px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:316px;
  top:308px;
  width:78px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:47px;
}
#u74 {
  position:absolute;
  left:2px;
  top:16px;
  width:74px;
  word-wrap:break-word;
}
