﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:939px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1477 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1478_div {
  position:absolute;
  left:0px;
  top:0px;
  width:876px;
  height:2346px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1478 {
  position:absolute;
  left:48px;
  top:18px;
  width:876px;
  height:2346px;
}
#u1479 {
  position:absolute;
  left:2px;
  top:1165px;
  width:872px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1480_div {
  position:absolute;
  left:0px;
  top:0px;
  width:786px;
  height:1786px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1480 {
  position:absolute;
  left:93px;
  top:287px;
  width:786px;
  height:1786px;
}
#u1481 {
  position:absolute;
  left:2px;
  top:885px;
  width:782px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1482_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:193px;
}
#u1482 {
  position:absolute;
  left:411px;
  top:2125px;
  width:151px;
  height:193px;
}
#u1483 {
  position:absolute;
  left:2px;
  top:88px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1484_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:173px;
}
#u1484 {
  position:absolute;
  left:420px;
  top:2138px;
  width:134px;
  height:173px;
}
#u1485 {
  position:absolute;
  left:2px;
  top:78px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1486 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1487_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:43px;
}
#u1487 {
  position:absolute;
  left:304px;
  top:180px;
  width:35px;
  height:43px;
}
#u1488 {
  position:absolute;
  left:2px;
  top:14px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1489 {
  position:absolute;
  left:354px;
  top:180px;
  width:314px;
  height:43px;
}
#u1490 {
  position:absolute;
  left:2px;
  top:14px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1491_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:479px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1491 {
  position:absolute;
  left:902px;
  top:522px;
  width:37px;
  height:479px;
}
#u1492 {
  position:absolute;
  left:2px;
  top:232px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1493_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:228px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1493 {
  position:absolute;
  left:37px;
  top:440px;
  width:46px;
  height:228px;
}
#u1494 {
  position:absolute;
  left:2px;
  top:106px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1495_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:228px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1495 {
  position:absolute;
  left:37px;
  top:682px;
  width:46px;
  height:228px;
}
#u1496 {
  position:absolute;
  left:2px;
  top:106px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1497_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1800px;
}
#u1497 {
  position:absolute;
  left:102px;
  top:247px;
  width:750px;
  height:1800px;
}
#u1498 {
  position:absolute;
  left:2px;
  top:892px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1499 {
  position:absolute;
  left:128px;
  top:291px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1500 {
  position:absolute;
  left:719px;
  top:299px;
  width:100px;
  height:161px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1501 {
  position:absolute;
  left:146px;
  top:488px;
  width:641px;
  height:234px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1502 {
  position:absolute;
  left:146px;
  top:878px;
  width:641px;
  height:236px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1503 {
  position:absolute;
  left:146px;
  top:1274px;
  width:641px;
  height:235px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1504 {
  position:absolute;
  left:146px;
  top:1646px;
  width:641px;
  height:235px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
