﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1722px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:58px;
  top:40px;
  width:292px;
  height:484px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:484px;
}
#u1 {
  position:absolute;
  left:2px;
  top:234px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:58px;
  top:57px;
  width:292px;
  height:37px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:37px;
}
#u3 {
  position:absolute;
  left:2px;
  top:10px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:58px;
  top:94px;
  width:292px;
  height:430px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:430px;
}
#u5 {
  position:absolute;
  left:2px;
  top:207px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:167px;
  top:63px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:68px;
  top:70px;
  width:37px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:58px;
  top:95px;
  width:292px;
  height:65px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:65px;
}
#u11 {
  position:absolute;
  left:2px;
  top:24px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:75px;
  top:102px;
  width:41px;
  height:49px;
  color:#FFFFFF;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:49px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:144px;
  top:104px;
  width:10px;
  height:47px;
}
#u14_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u14_end {
  position:absolute;
  left:-5px;
  top:30px;
  width:20px;
  height:18px;
}
#u14_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:47px;
}
#u15 {
  position:absolute;
  left:247px;
  top:104px;
  width:10px;
  height:47px;
}
#u15_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u15_end {
  position:absolute;
  left:-5px;
  top:30px;
  width:20px;
  height:18px;
}
#u15_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:47px;
}
#u16 {
  position:absolute;
  left:154px;
  top:102px;
  width:91px;
  height:49px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:49px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:255px;
  top:102px;
  width:91px;
  height:49px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:49px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:127px;
  top:133px;
  width:12px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:19px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:68px;
  top:167px;
  width:86px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:15px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:58px;
  top:182px;
  width:292px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:275px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:292px;
  height:1px;
}
#u25 {
  position:absolute;
  left:75px;
  top:197px;
  width:125px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
  color:#BCBCBC;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:75px;
  top:227px;
  width:275px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:258px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:5px;
  width:275px;
  height:1px;
}
#u28 {
  position:absolute;
  left:75px;
  top:238px;
  width:97px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
  color:#BCBCBC;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:75px;
  top:268px;
  width:275px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:258px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:275px;
  height:1px;
}
#u31 {
  position:absolute;
  left:265px;
  top:202px;
  width:75px;
  height:22px;
  font-size:18px;
  color:#00CCCC;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:265px;
  top:242px;
  width:75px;
  height:22px;
  font-size:18px;
  color:#00CCCC;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:68px;
  top:288px;
  width:86px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:15px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:58px;
  top:303px;
  width:292px;
  height:10px;
}
#u37_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_end {
  position:absolute;
  left:275px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_line {
  position:absolute;
  left:0px;
  top:5px;
  width:292px;
  height:1px;
}
#u38 {
  position:absolute;
  left:75px;
  top:318px;
  width:125px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
  color:#BCBCBC;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:75px;
  top:348px;
  width:275px;
  height:10px;
}
#u40_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_end {
  position:absolute;
  left:258px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_line {
  position:absolute;
  left:0px;
  top:5px;
  width:275px;
  height:1px;
}
#u41 {
  position:absolute;
  left:75px;
  top:359px;
  width:97px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
  color:#BCBCBC;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:75px;
  top:389px;
  width:275px;
  height:10px;
}
#u43_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_end {
  position:absolute;
  left:258px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_line {
  position:absolute;
  left:0px;
  top:5px;
  width:275px;
  height:1px;
}
#u44 {
  position:absolute;
  left:265px;
  top:323px;
  width:75px;
  height:22px;
  font-size:18px;
  color:#00CCCC;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:265px;
  top:363px;
  width:75px;
  height:22px;
  font-size:18px;
  color:#00CCCC;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:68px;
  top:409px;
  width:86px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:15px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:58px;
  top:424px;
  width:292px;
  height:10px;
}
#u50_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_end {
  position:absolute;
  left:275px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_line {
  position:absolute;
  left:0px;
  top:5px;
  width:292px;
  height:1px;
}
#u51 {
  position:absolute;
  left:77px;
  top:448px;
  width:125px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
  color:#000000;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:15px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:75px;
  top:469px;
  width:275px;
  height:10px;
}
#u53_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_end {
  position:absolute;
  left:258px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_line {
  position:absolute;
  left:0px;
  top:5px;
  width:275px;
  height:1px;
}
#u54 {
  position:absolute;
  left:250px;
  top:441px;
  width:90px;
  height:22px;
  font-size:18px;
  color:#FF0000;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:388px;
  top:40px;
  width:292px;
  height:484px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:484px;
}
#u57 {
  position:absolute;
  left:2px;
  top:234px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:388px;
  top:58px;
  width:292px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:38px;
}
#u59 {
  position:absolute;
  left:2px;
  top:11px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:388px;
  top:93px;
  width:292px;
  height:431px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:431px;
}
#u61 {
  position:absolute;
  left:2px;
  top:208px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:396px;
  top:73px;
  width:37px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:500px;
  top:67px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:388px;
  top:98px;
  width:292px;
  height:326px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:326px;
}
#u67 {
  position:absolute;
  left:2px;
  top:155px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:399px;
  top:113px;
  width:120px;
  height:15px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-size:11px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:15px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:404px;
  top:135px;
  width:265px;
  height:10px;
}
#u70_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u70_end {
  position:absolute;
  left:248px;
  top:-5px;
  width:18px;
  height:20px;
}
#u70_line {
  position:absolute;
  left:0px;
  top:5px;
  width:265px;
  height:1px;
}
#u71 {
  position:absolute;
  left:399px;
  top:208px;
  width:265px;
  height:180px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:180px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:402px;
  top:368px;
  width:265px;
  height:10px;
}
#u73_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_end {
  position:absolute;
  left:248px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_line {
  position:absolute;
  left:0px;
  top:5px;
  width:265px;
  height:1px;
}
#u74 {
  position:absolute;
  left:399px;
  top:233px;
  width:265px;
  height:10px;
}
#u74_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_end {
  position:absolute;
  left:248px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_line {
  position:absolute;
  left:0px;
  top:5px;
  width:265px;
  height:1px;
}
#u75 {
  position:absolute;
  left:399px;
  top:323px;
  width:265px;
  height:10px;
}
#u75_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_end {
  position:absolute;
  left:248px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_line {
  position:absolute;
  left:0px;
  top:5px;
  width:265px;
  height:1px;
}
#u76 {
  position:absolute;
  left:400px;
  top:158px;
  width:154px;
  height:15px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-size:11px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:15px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:402px;
  top:180px;
  width:265px;
  height:10px;
}
#u78_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u78_end {
  position:absolute;
  left:248px;
  top:-5px;
  width:18px;
  height:20px;
}
#u78_line {
  position:absolute;
  left:0px;
  top:5px;
  width:265px;
  height:1px;
}
#u79 {
  position:absolute;
  left:592px;
  top:388px;
  width:80px;
  height:27px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
}
#u80 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:314px;
  top:208px;
  width:75px;
  height:10px;
}
#u81_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u81_end {
  position:absolute;
  left:58px;
  top:-5px;
  width:18px;
  height:20px;
}
#u81_line {
  position:absolute;
  left:0px;
  top:5px;
  width:75px;
  height:1px;
}
#u82 {
  position:absolute;
  left:720px;
  top:40px;
  width:292px;
  height:484px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:484px;
}
#u83 {
  position:absolute;
  left:2px;
  top:234px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:720px;
  top:57px;
  width:292px;
  height:37px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:37px;
}
#u85 {
  position:absolute;
  left:2px;
  top:10px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:720px;
  top:94px;
  width:292px;
  height:430px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:430px;
}
#u87 {
  position:absolute;
  left:2px;
  top:207px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:829px;
  top:63px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:730px;
  top:70px;
  width:37px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:720px;
  top:95px;
  width:292px;
  height:65px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:65px;
}
#u93 {
  position:absolute;
  left:2px;
  top:24px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:737px;
  top:102px;
  width:41px;
  height:49px;
  color:#FFFFFF;
  text-align:center;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:49px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:806px;
  top:104px;
  width:10px;
  height:47px;
}
#u96_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u96_end {
  position:absolute;
  left:-5px;
  top:30px;
  width:20px;
  height:18px;
}
#u96_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:47px;
}
#u97 {
  position:absolute;
  left:909px;
  top:104px;
  width:10px;
  height:47px;
}
#u97_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u97_end {
  position:absolute;
  left:-5px;
  top:30px;
  width:20px;
  height:18px;
}
#u97_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:47px;
}
#u98 {
  position:absolute;
  left:816px;
  top:102px;
  width:91px;
  height:49px;
  text-align:center;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:49px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:917px;
  top:102px;
  width:91px;
  height:49px;
  text-align:center;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:49px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:789px;
  top:133px;
  width:12px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:19px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:730px;
  top:167px;
  width:86px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:15px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:720px;
  top:182px;
  width:292px;
  height:10px;
}
#u106_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u106_end {
  position:absolute;
  left:275px;
  top:-5px;
  width:18px;
  height:20px;
}
#u106_line {
  position:absolute;
  left:0px;
  top:5px;
  width:292px;
  height:1px;
}
#u107 {
  position:absolute;
  left:737px;
  top:197px;
  width:125px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
  color:#BCBCBC;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:737px;
  top:227px;
  width:275px;
  height:10px;
}
#u109_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u109_end {
  position:absolute;
  left:258px;
  top:-5px;
  width:18px;
  height:20px;
}
#u109_line {
  position:absolute;
  left:0px;
  top:5px;
  width:275px;
  height:1px;
}
#u110 {
  position:absolute;
  left:737px;
  top:238px;
  width:97px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
  color:#BCBCBC;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:737px;
  top:268px;
  width:275px;
  height:10px;
}
#u112_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u112_end {
  position:absolute;
  left:258px;
  top:-5px;
  width:18px;
  height:20px;
}
#u112_line {
  position:absolute;
  left:0px;
  top:5px;
  width:275px;
  height:1px;
}
#u113 {
  position:absolute;
  left:927px;
  top:202px;
  width:75px;
  height:22px;
  font-size:18px;
  color:#00CCCC;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u115 {
  position:absolute;
  left:927px;
  top:242px;
  width:75px;
  height:22px;
  font-size:18px;
  color:#00CCCC;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u117 {
  position:absolute;
  left:730px;
  top:288px;
  width:86px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:15px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u119 {
  position:absolute;
  left:720px;
  top:303px;
  width:292px;
  height:10px;
}
#u119_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u119_end {
  position:absolute;
  left:275px;
  top:-5px;
  width:18px;
  height:20px;
}
#u119_line {
  position:absolute;
  left:0px;
  top:5px;
  width:292px;
  height:1px;
}
#u120 {
  position:absolute;
  left:737px;
  top:318px;
  width:125px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
  color:#BCBCBC;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:737px;
  top:348px;
  width:275px;
  height:10px;
}
#u122_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u122_end {
  position:absolute;
  left:258px;
  top:-5px;
  width:18px;
  height:20px;
}
#u122_line {
  position:absolute;
  left:0px;
  top:5px;
  width:275px;
  height:1px;
}
#u123 {
  position:absolute;
  left:737px;
  top:359px;
  width:97px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
  color:#BCBCBC;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u125 {
  position:absolute;
  left:737px;
  top:389px;
  width:275px;
  height:10px;
}
#u125_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u125_end {
  position:absolute;
  left:258px;
  top:-5px;
  width:18px;
  height:20px;
}
#u125_line {
  position:absolute;
  left:0px;
  top:5px;
  width:275px;
  height:1px;
}
#u126 {
  position:absolute;
  left:927px;
  top:323px;
  width:75px;
  height:22px;
  font-size:18px;
  color:#00CCCC;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:927px;
  top:363px;
  width:75px;
  height:22px;
  font-size:18px;
  color:#00CCCC;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:730px;
  top:409px;
  width:86px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:15px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u132 {
  position:absolute;
  left:720px;
  top:424px;
  width:292px;
  height:10px;
}
#u132_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u132_end {
  position:absolute;
  left:275px;
  top:-5px;
  width:18px;
  height:20px;
}
#u132_line {
  position:absolute;
  left:0px;
  top:5px;
  width:292px;
  height:1px;
}
#u133 {
  position:absolute;
  left:739px;
  top:448px;
  width:125px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
  color:#000000;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:15px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:737px;
  top:469px;
  width:275px;
  height:10px;
}
#u135_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u135_end {
  position:absolute;
  left:258px;
  top:-5px;
  width:18px;
  height:20px;
}
#u135_line {
  position:absolute;
  left:0px;
  top:5px;
  width:275px;
  height:1px;
}
#u136 {
  position:absolute;
  left:912px;
  top:441px;
  width:90px;
  height:22px;
  font-size:18px;
  color:#FF0000;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u138 {
  position:absolute;
  left:720px;
  top:40px;
  width:292px;
  height:484px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:484px;
}
#u139 {
  position:absolute;
  left:2px;
  top:234px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:720px;
  top:369px;
  width:292px;
  height:155px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:155px;
}
#u141 {
  position:absolute;
  left:2px;
  top:70px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:740px;
  top:442px;
  width:250px;
  height:10px;
}
#u142_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u142_end {
  position:absolute;
  left:233px;
  top:-5px;
  width:18px;
  height:20px;
}
#u142_line {
  position:absolute;
  left:0px;
  top:5px;
  width:250px;
  height:1px;
}
#u143 {
  position:absolute;
  left:740px;
  top:468px;
  width:250px;
  height:10px;
}
#u143_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u143_end {
  position:absolute;
  left:233px;
  top:-5px;
  width:18px;
  height:20px;
}
#u143_line {
  position:absolute;
  left:0px;
  top:5px;
  width:250px;
  height:1px;
}
#u144 {
  position:absolute;
  left:756px;
  top:448px;
  width:65px;
  height:24px;
  font-size:20px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u146 {
  position:absolute;
  left:900px;
  top:448px;
  width:32px;
  height:24px;
  font-size:20px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:24px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u148 {
  position:absolute;
  left:761px;
  top:405px;
  width:53px;
  height:38px;
  font-size:16px;
  color:#CCCCCC;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:38px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u150 {
  position:absolute;
  left:762px;
  top:479px;
  width:53px;
  height:38px;
  font-size:16px;
  color:#CCCCCC;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:38px;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u152 {
  position:absolute;
  left:905px;
  top:404px;
  width:26px;
  height:38px;
  font-size:16px;
  color:#CCCCCC;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:38px;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u154 {
  position:absolute;
  left:903px;
  top:479px;
  width:35px;
  height:38px;
  font-size:16px;
  color:#CCCCCC;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:38px;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u156 {
  position:absolute;
  left:720px;
  top:393px;
  width:292px;
  height:10px;
}
#u156_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u156_end {
  position:absolute;
  left:275px;
  top:-5px;
  width:18px;
  height:20px;
}
#u156_line {
  position:absolute;
  left:0px;
  top:5px;
  width:292px;
  height:1px;
}
#u157 {
  position:absolute;
  left:731px;
  top:375px;
  width:29px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u159 {
  position:absolute;
  left:973px;
  top:375px;
  width:29px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u160 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u161 {
  position:absolute;
  left:1070px;
  top:40px;
  width:292px;
  height:484px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:484px;
}
#u162 {
  position:absolute;
  left:2px;
  top:234px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:1070px;
  top:57px;
  width:292px;
  height:37px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:37px;
}
#u164 {
  position:absolute;
  left:2px;
  top:10px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165 {
  position:absolute;
  left:1070px;
  top:94px;
  width:292px;
  height:430px;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:430px;
}
#u166 {
  position:absolute;
  left:2px;
  top:207px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:1179px;
  top:63px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u168 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u169 {
  position:absolute;
  left:1080px;
  top:70px;
  width:37px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u170 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u171 {
  position:absolute;
  left:1070px;
  top:95px;
  width:292px;
  height:65px;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:65px;
}
#u172 {
  position:absolute;
  left:2px;
  top:24px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:1087px;
  top:102px;
  width:41px;
  height:49px;
  color:#FFFFFF;
  text-align:center;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:49px;
}
#u174 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u175 {
  position:absolute;
  left:1156px;
  top:104px;
  width:10px;
  height:47px;
}
#u175_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u175_end {
  position:absolute;
  left:-5px;
  top:30px;
  width:20px;
  height:18px;
}
#u175_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:47px;
}
#u176 {
  position:absolute;
  left:1259px;
  top:104px;
  width:10px;
  height:47px;
}
#u176_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u176_end {
  position:absolute;
  left:-5px;
  top:30px;
  width:20px;
  height:18px;
}
#u176_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:47px;
}
#u177 {
  position:absolute;
  left:1166px;
  top:102px;
  width:91px;
  height:49px;
  text-align:center;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:49px;
}
#u178 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u179 {
  position:absolute;
  left:1267px;
  top:102px;
  width:91px;
  height:49px;
  text-align:center;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:49px;
}
#u180 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u181 {
  position:absolute;
  left:1139px;
  top:133px;
  width:12px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:19px;
}
#u182 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u183 {
  position:absolute;
  left:1104px;
  top:242px;
  width:220px;
  height:61px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-size:18px;
  text-align:center;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:61px;
}
#u184 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u185 {
  position:absolute;
  left:116px;
  top:133px;
  width:604px;
  height:10px;
}
#u185_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u185_end {
  position:absolute;
  left:587px;
  top:-5px;
  width:18px;
  height:20px;
}
#u185_line {
  position:absolute;
  left:0px;
  top:5px;
  width:604px;
  height:1px;
}
#u186 {
  position:absolute;
  left:1430px;
  top:40px;
  width:292px;
  height:484px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:484px;
}
#u187 {
  position:absolute;
  left:2px;
  top:234px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188 {
  position:absolute;
  left:1430px;
  top:58px;
  width:292px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:38px;
}
#u189 {
  position:absolute;
  left:2px;
  top:11px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190 {
  position:absolute;
  left:1430px;
  top:93px;
  width:292px;
  height:431px;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:431px;
}
#u191 {
  position:absolute;
  left:2px;
  top:208px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192 {
  position:absolute;
  left:1438px;
  top:73px;
  width:37px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u193 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u194 {
  position:absolute;
  left:1542px;
  top:67px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u195 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u196 {
  position:absolute;
  left:1430px;
  top:98px;
  width:292px;
  height:287px;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:287px;
}
#u197 {
  position:absolute;
  left:2px;
  top:136px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u198 {
  position:absolute;
  left:1441px;
  top:113px;
  width:120px;
  height:15px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-size:11px;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:15px;
}
#u199 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u200 {
  position:absolute;
  left:1446px;
  top:135px;
  width:265px;
  height:10px;
}
#u200_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u200_end {
  position:absolute;
  left:248px;
  top:-5px;
  width:18px;
  height:20px;
}
#u200_line {
  position:absolute;
  left:0px;
  top:5px;
  width:265px;
  height:1px;
}
#u201 {
  position:absolute;
  left:1441px;
  top:208px;
  width:265px;
  height:180px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:12px;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:180px;
}
#u202 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u203 {
  position:absolute;
  left:1441px;
  top:233px;
  width:265px;
  height:10px;
}
#u203_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u203_end {
  position:absolute;
  left:248px;
  top:-5px;
  width:18px;
  height:20px;
}
#u203_line {
  position:absolute;
  left:0px;
  top:5px;
  width:265px;
  height:1px;
}
#u204 {
  position:absolute;
  left:1442px;
  top:158px;
  width:154px;
  height:15px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-size:11px;
  color:#000000;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:15px;
}
#u205 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u206 {
  position:absolute;
  left:1444px;
  top:180px;
  width:265px;
  height:10px;
}
#u206_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u206_end {
  position:absolute;
  left:248px;
  top:-5px;
  width:18px;
  height:20px;
}
#u206_line {
  position:absolute;
  left:0px;
  top:5px;
  width:265px;
  height:1px;
}
#u207 {
  position:absolute;
  left:1441px;
  top:323px;
  width:265px;
  height:10px;
}
#u207_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u207_end {
  position:absolute;
  left:248px;
  top:-5px;
  width:18px;
  height:20px;
}
#u207_line {
  position:absolute;
  left:0px;
  top:5px;
  width:265px;
  height:1px;
}
#u208 {
  position:absolute;
  left:1441px;
  top:277px;
  width:265px;
  height:10px;
}
#u208_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u208_end {
  position:absolute;
  left:248px;
  top:-5px;
  width:18px;
  height:20px;
}
#u208_line {
  position:absolute;
  left:0px;
  top:5px;
  width:265px;
  height:1px;
}
#u209 {
  position:absolute;
  left:126px;
  top:444px;
  width:1304px;
  height:10px;
}
#u209_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u209_end {
  position:absolute;
  left:1287px;
  top:-5px;
  width:18px;
  height:20px;
}
#u209_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1304px;
  height:1px;
}
