﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:931px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1584 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1585_div {
  position:absolute;
  left:0px;
  top:0px;
  width:867px;
  height:2227px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1585 {
  position:absolute;
  left:48px;
  top:18px;
  width:867px;
  height:2227px;
}
#u1586 {
  position:absolute;
  left:2px;
  top:1106px;
  width:863px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1587_div {
  position:absolute;
  left:0px;
  top:0px;
  width:778px;
  height:1696px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1587 {
  position:absolute;
  left:92px;
  top:274px;
  width:778px;
  height:1696px;
}
#u1588 {
  position:absolute;
  left:2px;
  top:840px;
  width:774px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1589_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:183px;
}
#u1589 {
  position:absolute;
  left:407px;
  top:2019px;
  width:149px;
  height:183px;
}
#u1590 {
  position:absolute;
  left:2px;
  top:84px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1591_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:164px;
}
#u1591 {
  position:absolute;
  left:416px;
  top:2031px;
  width:133px;
  height:164px;
}
#u1592 {
  position:absolute;
  left:2px;
  top:74px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1593 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1594_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:41px;
}
#u1594 {
  position:absolute;
  left:302px;
  top:172px;
  width:35px;
  height:41px;
}
#u1595 {
  position:absolute;
  left:2px;
  top:12px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1596_div {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1596 {
  position:absolute;
  left:351px;
  top:172px;
  width:311px;
  height:41px;
}
#u1597 {
  position:absolute;
  left:2px;
  top:12px;
  width:307px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1598_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:455px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1598 {
  position:absolute;
  left:894px;
  top:497px;
  width:37px;
  height:455px;
}
#u1599 {
  position:absolute;
  left:2px;
  top:220px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1600_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:216px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1600 {
  position:absolute;
  left:37px;
  top:419px;
  width:46px;
  height:216px;
}
#u1601 {
  position:absolute;
  left:2px;
  top:100px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1602_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:216px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1602 {
  position:absolute;
  left:37px;
  top:649px;
  width:46px;
  height:216px;
}
#u1603 {
  position:absolute;
  left:2px;
  top:100px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1604_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1700px;
}
#u1604 {
  position:absolute;
  left:98px;
  top:258px;
  width:750px;
  height:1700px;
}
#u1605 {
  position:absolute;
  left:2px;
  top:842px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1606 {
  position:absolute;
  left:123px;
  top:269px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
