﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:911px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1353 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:2327px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1354 {
  position:absolute;
  left:48px;
  top:18px;
  width:848px;
  height:2327px;
}
#u1355 {
  position:absolute;
  left:2px;
  top:1156px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1772px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1356 {
  position:absolute;
  left:91px;
  top:285px;
  width:761px;
  height:1772px;
}
#u1357 {
  position:absolute;
  left:2px;
  top:878px;
  width:757px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:191px;
}
#u1358 {
  position:absolute;
  left:399px;
  top:2109px;
  width:146px;
  height:191px;
}
#u1359 {
  position:absolute;
  left:2px;
  top:88px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:171px;
}
#u1360 {
  position:absolute;
  left:408px;
  top:2122px;
  width:130px;
  height:171px;
}
#u1361 {
  position:absolute;
  left:2px;
  top:78px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1362 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:43px;
}
#u1363 {
  position:absolute;
  left:296px;
  top:179px;
  width:34px;
  height:43px;
}
#u1364 {
  position:absolute;
  left:2px;
  top:14px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1365_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1365 {
  position:absolute;
  left:344px;
  top:179px;
  width:304px;
  height:43px;
}
#u1366 {
  position:absolute;
  left:2px;
  top:14px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1367_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:476px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1367 {
  position:absolute;
  left:875px;
  top:518px;
  width:36px;
  height:476px;
}
#u1368 {
  position:absolute;
  left:2px;
  top:230px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1369_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:226px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1369 {
  position:absolute;
  left:37px;
  top:437px;
  width:45px;
  height:226px;
}
#u1370 {
  position:absolute;
  left:2px;
  top:105px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1371_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1371 {
  position:absolute;
  left:37px;
  top:778px;
  width:45px;
  height:20px;
}
#u1372 {
  position:absolute;
  left:2px;
  top:2px;
  width:41px;
  visibility:hidden;
  white-space:nowrap;
}
#u1373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1800px;
}
#u1373 {
  position:absolute;
  left:102px;
  top:247px;
  width:750px;
  height:1800px;
}
#u1374 {
  position:absolute;
  left:2px;
  top:892px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1375 {
  position:absolute;
  left:128px;
  top:291px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1376 {
  position:absolute;
  left:709px;
  top:308px;
  width:118px;
  height:153px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1377 {
  position:absolute;
  left:146px;
  top:488px;
  width:641px;
  height:234px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1378 {
  position:absolute;
  left:146px;
  top:878px;
  width:641px;
  height:363px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1379 {
  position:absolute;
  left:146px;
  top:1384px;
  width:641px;
  height:235px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1380 {
  position:absolute;
  left:146px;
  top:1763px;
  width:641px;
  height:235px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
