﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:928px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2164 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:864px;
  height:1818px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2165 {
  position:absolute;
  left:48px;
  top:18px;
  width:864px;
  height:1818px;
}
#u2166 {
  position:absolute;
  left:2px;
  top:901px;
  width:860px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:1385px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2167 {
  position:absolute;
  left:92px;
  top:227px;
  width:775px;
  height:1385px;
}
#u2168 {
  position:absolute;
  left:2px;
  top:684px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:149px;
}
#u2169 {
  position:absolute;
  left:406px;
  top:1651px;
  width:149px;
  height:149px;
}
#u2170 {
  position:absolute;
  left:2px;
  top:66px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:134px;
}
#u2171 {
  position:absolute;
  left:415px;
  top:1661px;
  width:132px;
  height:134px;
}
#u2172 {
  position:absolute;
  left:2px;
  top:59px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2173 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:34px;
}
#u2174 {
  position:absolute;
  left:301px;
  top:144px;
  width:35px;
  height:34px;
}
#u2175 {
  position:absolute;
  left:2px;
  top:9px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2176 {
  position:absolute;
  left:350px;
  top:144px;
  width:310px;
  height:34px;
}
#u2177 {
  position:absolute;
  left:2px;
  top:9px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:372px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2178 {
  position:absolute;
  left:891px;
  top:409px;
  width:37px;
  height:372px;
}
#u2179 {
  position:absolute;
  left:2px;
  top:178px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:177px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2180 {
  position:absolute;
  left:37px;
  top:345px;
  width:46px;
  height:177px;
}
#u2181 {
  position:absolute;
  left:2px;
  top:80px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:177px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2182 {
  position:absolute;
  left:37px;
  top:533px;
  width:46px;
  height:177px;
}
#u2183 {
  position:absolute;
  left:2px;
  top:80px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u2184 {
  position:absolute;
  left:102px;
  top:265px;
  width:750px;
  height:1334px;
}
#u2185 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2186 {
  position:absolute;
  left:132px;
  top:309px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
