﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:911px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u531 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u532_div {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:1794px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u532 {
  position:absolute;
  left:48px;
  top:18px;
  width:848px;
  height:1794px;
}
#u533 {
  position:absolute;
  left:2px;
  top:889px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u534_div {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1366px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u534 {
  position:absolute;
  left:91px;
  top:224px;
  width:761px;
  height:1366px;
}
#u535 {
  position:absolute;
  left:2px;
  top:675px;
  width:757px;
  visibility:hidden;
  word-wrap:break-word;
}
#u536_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:147px;
}
#u536 {
  position:absolute;
  left:399px;
  top:1630px;
  width:146px;
  height:147px;
}
#u537 {
  position:absolute;
  left:2px;
  top:66px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u538_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:132px;
}
#u538 {
  position:absolute;
  left:408px;
  top:1640px;
  width:130px;
  height:132px;
}
#u539 {
  position:absolute;
  left:2px;
  top:58px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u540 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u541_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:33px;
}
#u541 {
  position:absolute;
  left:296px;
  top:142px;
  width:34px;
  height:33px;
}
#u542 {
  position:absolute;
  left:2px;
  top:8px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u543_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u543 {
  position:absolute;
  left:344px;
  top:142px;
  width:304px;
  height:33px;
}
#u544 {
  position:absolute;
  left:2px;
  top:8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u545_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:367px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u545 {
  position:absolute;
  left:875px;
  top:404px;
  width:36px;
  height:367px;
}
#u546 {
  position:absolute;
  left:2px;
  top:176px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u547_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:174px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u547 {
  position:absolute;
  left:37px;
  top:341px;
  width:45px;
  height:174px;
}
#u548 {
  position:absolute;
  left:2px;
  top:79px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u549_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:174px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u549 {
  position:absolute;
  left:37px;
  top:526px;
  width:45px;
  height:174px;
}
#u550 {
  position:absolute;
  left:2px;
  top:79px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u551_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u551 {
  position:absolute;
  left:97px;
  top:247px;
  width:750px;
  height:1334px;
}
#u552 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u553 {
  position:absolute;
  left:97px;
  top:291px;
  width:136px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u554 {
  position:absolute;
  left:408px;
  top:1481px;
  width:439px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
