﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:911px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2435 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:1996px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2436 {
  position:absolute;
  left:48px;
  top:18px;
  width:848px;
  height:1996px;
}
#u2437 {
  position:absolute;
  left:2px;
  top:990px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1520px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2438 {
  position:absolute;
  left:91px;
  top:247px;
  width:761px;
  height:1520px;
}
#u2439 {
  position:absolute;
  left:2px;
  top:752px;
  width:757px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2440_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:164px;
}
#u2440 {
  position:absolute;
  left:399px;
  top:1811px;
  width:146px;
  height:164px;
}
#u2441 {
  position:absolute;
  left:2px;
  top:74px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2442_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:147px;
}
#u2442 {
  position:absolute;
  left:408px;
  top:1822px;
  width:130px;
  height:147px;
}
#u2443 {
  position:absolute;
  left:2px;
  top:66px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2444 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2445_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:37px;
}
#u2445 {
  position:absolute;
  left:296px;
  top:156px;
  width:34px;
  height:37px;
}
#u2446 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2447_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2447 {
  position:absolute;
  left:344px;
  top:156px;
  width:304px;
  height:37px;
}
#u2448 {
  position:absolute;
  left:2px;
  top:10px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2449_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:408px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2449 {
  position:absolute;
  left:875px;
  top:447px;
  width:36px;
  height:408px;
}
#u2450 {
  position:absolute;
  left:2px;
  top:196px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2451_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:194px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2451 {
  position:absolute;
  left:37px;
  top:377px;
  width:45px;
  height:194px;
}
#u2452 {
  position:absolute;
  left:2px;
  top:89px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2453_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:194px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2453 {
  position:absolute;
  left:37px;
  top:583px;
  width:45px;
  height:194px;
}
#u2454 {
  position:absolute;
  left:2px;
  top:89px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2455_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u2455 {
  position:absolute;
  left:97px;
  top:274px;
  width:750px;
  height:1334px;
}
#u2456 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2457 {
  position:absolute;
  left:108px;
  top:319px;
  width:119px;
  height:75px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
