﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1852px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1429 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:878px;
  height:2182px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1430 {
  position:absolute;
  left:48px;
  top:18px;
  width:878px;
  height:2182px;
}
#u1431 {
  position:absolute;
  left:2px;
  top:1083px;
  width:874px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1432_div {
  position:absolute;
  left:0px;
  top:0px;
  width:788px;
  height:1662px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1432 {
  position:absolute;
  left:93px;
  top:268px;
  width:788px;
  height:1662px;
}
#u1433 {
  position:absolute;
  left:2px;
  top:823px;
  width:784px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1434_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:179px;
}
#u1434 {
  position:absolute;
  left:412px;
  top:1978px;
  width:151px;
  height:179px;
}
#u1435 {
  position:absolute;
  left:2px;
  top:82px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1436_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:161px;
}
#u1436 {
  position:absolute;
  left:421px;
  top:1990px;
  width:135px;
  height:161px;
}
#u1437 {
  position:absolute;
  left:2px;
  top:72px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1438 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1439_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:40px;
}
#u1439 {
  position:absolute;
  left:305px;
  top:169px;
  width:35px;
  height:40px;
}
#u1440 {
  position:absolute;
  left:2px;
  top:12px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1441_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1441 {
  position:absolute;
  left:355px;
  top:169px;
  width:315px;
  height:40px;
}
#u1442 {
  position:absolute;
  left:2px;
  top:12px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1443_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:446px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1443 {
  position:absolute;
  left:905px;
  top:487px;
  width:37px;
  height:446px;
}
#u1444 {
  position:absolute;
  left:2px;
  top:215px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1445_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:212px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1445 {
  position:absolute;
  left:37px;
  top:410px;
  width:47px;
  height:212px;
}
#u1446 {
  position:absolute;
  left:2px;
  top:98px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1447_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:212px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1447 {
  position:absolute;
  left:37px;
  top:636px;
  width:47px;
  height:212px;
}
#u1448 {
  position:absolute;
  left:2px;
  top:98px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1449_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1700px;
}
#u1449 {
  position:absolute;
  left:115px;
  top:230px;
  width:750px;
  height:1700px;
}
#u1450 {
  position:absolute;
  left:2px;
  top:842px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1451_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1700px;
}
#u1451 {
  position:absolute;
  left:1102px;
  top:230px;
  width:750px;
  height:1700px;
}
#u1452 {
  position:absolute;
  left:2px;
  top:842px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1453 {
  position:absolute;
  left:128px;
  top:286px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
