﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:911px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:1806px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u131 {
  position:absolute;
  left:48px;
  top:18px;
  width:848px;
  height:1806px;
}
#u132 {
  position:absolute;
  left:2px;
  top:895px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1375px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u133 {
  position:absolute;
  left:91px;
  top:225px;
  width:761px;
  height:1375px;
}
#u134 {
  position:absolute;
  left:2px;
  top:680px;
  width:757px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:148px;
}
#u135 {
  position:absolute;
  left:399px;
  top:1641px;
  width:146px;
  height:148px;
}
#u136 {
  position:absolute;
  left:2px;
  top:66px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:133px;
}
#u137 {
  position:absolute;
  left:408px;
  top:1650px;
  width:130px;
  height:133px;
}
#u138 {
  position:absolute;
  left:2px;
  top:58px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:33px;
}
#u140 {
  position:absolute;
  left:296px;
  top:143px;
  width:34px;
  height:33px;
}
#u141 {
  position:absolute;
  left:2px;
  top:8px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u142 {
  position:absolute;
  left:344px;
  top:143px;
  width:304px;
  height:33px;
}
#u143 {
  position:absolute;
  left:2px;
  top:8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:369px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u144 {
  position:absolute;
  left:875px;
  top:406px;
  width:36px;
  height:369px;
}
#u145 {
  position:absolute;
  left:2px;
  top:176px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:176px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u146 {
  position:absolute;
  left:37px;
  top:343px;
  width:45px;
  height:176px;
}
#u147 {
  position:absolute;
  left:2px;
  top:80px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:176px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u148 {
  position:absolute;
  left:37px;
  top:529px;
  width:45px;
  height:176px;
}
#u149 {
  position:absolute;
  left:2px;
  top:80px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u150 {
  position:absolute;
  left:97px;
  top:247px;
  width:750px;
  height:1334px;
}
#u151 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:747px;
  top:285px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u153 {
  position:absolute;
  left:91px;
  top:1481px;
  width:756px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u154 {
  position:absolute;
  left:97px;
  top:285px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
