﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:911px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2483 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2484_div {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:1815px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2484 {
  position:absolute;
  left:48px;
  top:18px;
  width:848px;
  height:1815px;
}
#u2485 {
  position:absolute;
  left:2px;
  top:900px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2486_div {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1382px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2486 {
  position:absolute;
  left:91px;
  top:226px;
  width:761px;
  height:1382px;
}
#u2487 {
  position:absolute;
  left:2px;
  top:683px;
  width:757px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2488_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:149px;
}
#u2488 {
  position:absolute;
  left:399px;
  top:1649px;
  width:146px;
  height:149px;
}
#u2489 {
  position:absolute;
  left:2px;
  top:66px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2490_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:134px;
}
#u2490 {
  position:absolute;
  left:408px;
  top:1659px;
  width:130px;
  height:134px;
}
#u2491 {
  position:absolute;
  left:2px;
  top:59px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2492 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2493_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u2493 {
  position:absolute;
  left:296px;
  top:144px;
  width:34px;
  height:34px;
}
#u2494 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2495_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2495 {
  position:absolute;
  left:344px;
  top:144px;
  width:304px;
  height:34px;
}
#u2496 {
  position:absolute;
  left:2px;
  top:9px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2497_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:371px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2497 {
  position:absolute;
  left:875px;
  top:408px;
  width:36px;
  height:371px;
}
#u2498 {
  position:absolute;
  left:2px;
  top:178px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2499_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:176px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2499 {
  position:absolute;
  left:37px;
  top:345px;
  width:45px;
  height:176px;
}
#u2500 {
  position:absolute;
  left:2px;
  top:80px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2501_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:176px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2501 {
  position:absolute;
  left:37px;
  top:532px;
  width:45px;
  height:176px;
}
#u2502 {
  position:absolute;
  left:2px;
  top:80px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2503_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u2503 {
  position:absolute;
  left:98px;
  top:262px;
  width:750px;
  height:1334px;
}
#u2504 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2505 {
  position:absolute;
  left:263px;
  top:1170px;
  width:149px;
  height:185px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2506 {
  position:absolute;
  left:527px;
  top:1170px;
  width:158px;
  height:170px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2507 {
  position:absolute;
  left:423px;
  top:1467px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
