﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1864px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1714 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:1870px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1715 {
  position:absolute;
  left:48px;
  top:18px;
  width:848px;
  height:1870px;
}
#u1716 {
  position:absolute;
  left:2px;
  top:927px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1424px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1717 {
  position:absolute;
  left:91px;
  top:233px;
  width:761px;
  height:1424px;
}
#u1718 {
  position:absolute;
  left:2px;
  top:704px;
  width:757px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:154px;
}
#u1719 {
  position:absolute;
  left:399px;
  top:1698px;
  width:146px;
  height:154px;
}
#u1720 {
  position:absolute;
  left:2px;
  top:69px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:138px;
}
#u1721 {
  position:absolute;
  left:408px;
  top:1708px;
  width:130px;
  height:138px;
}
#u1722 {
  position:absolute;
  left:2px;
  top:61px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1723 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:35px;
}
#u1724 {
  position:absolute;
  left:296px;
  top:147px;
  width:34px;
  height:35px;
}
#u1725 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1726 {
  position:absolute;
  left:344px;
  top:147px;
  width:304px;
  height:35px;
}
#u1727 {
  position:absolute;
  left:2px;
  top:10px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:382px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1728 {
  position:absolute;
  left:875px;
  top:420px;
  width:36px;
  height:382px;
}
#u1729 {
  position:absolute;
  left:2px;
  top:183px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:182px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1730 {
  position:absolute;
  left:37px;
  top:354px;
  width:45px;
  height:182px;
}
#u1731 {
  position:absolute;
  left:2px;
  top:83px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:182px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1732 {
  position:absolute;
  left:37px;
  top:547px;
  width:45px;
  height:182px;
}
#u1733 {
  position:absolute;
  left:2px;
  top:83px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1734 {
  position:absolute;
  left:102px;
  top:295px;
  width:750px;
  height:1334px;
}
#u1735 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1736 {
  position:absolute;
  left:1114px;
  top:295px;
  width:750px;
  height:1334px;
}
#u1737 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1738 {
  position:absolute;
  left:118px;
  top:318px;
  width:123px;
  height:83px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
