﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:911px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2020 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:1996px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2021 {
  position:absolute;
  left:48px;
  top:18px;
  width:848px;
  height:1996px;
}
#u2022 {
  position:absolute;
  left:2px;
  top:990px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1520px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2023 {
  position:absolute;
  left:91px;
  top:247px;
  width:761px;
  height:1520px;
}
#u2024 {
  position:absolute;
  left:2px;
  top:752px;
  width:757px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:164px;
}
#u2025 {
  position:absolute;
  left:399px;
  top:1811px;
  width:146px;
  height:164px;
}
#u2026 {
  position:absolute;
  left:2px;
  top:74px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:147px;
}
#u2027 {
  position:absolute;
  left:408px;
  top:1822px;
  width:130px;
  height:147px;
}
#u2028 {
  position:absolute;
  left:2px;
  top:66px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2029 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:37px;
}
#u2030 {
  position:absolute;
  left:296px;
  top:156px;
  width:34px;
  height:37px;
}
#u2031 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2032 {
  position:absolute;
  left:344px;
  top:156px;
  width:304px;
  height:37px;
}
#u2033 {
  position:absolute;
  left:2px;
  top:10px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:408px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2034 {
  position:absolute;
  left:875px;
  top:447px;
  width:36px;
  height:408px;
}
#u2035 {
  position:absolute;
  left:2px;
  top:196px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:194px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2036 {
  position:absolute;
  left:37px;
  top:377px;
  width:45px;
  height:194px;
}
#u2037 {
  position:absolute;
  left:2px;
  top:89px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2038 {
  position:absolute;
  left:37px;
  top:670px;
  width:45px;
  height:20px;
}
#u2039 {
  position:absolute;
  left:2px;
  top:2px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u2040 {
  position:absolute;
  left:102px;
  top:286px;
  width:750px;
  height:1334px;
}
#u2041 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2042 {
  position:absolute;
  left:129px;
  top:325px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2043 {
  position:absolute;
  left:117px;
  top:435px;
  width:722px;
  height:73px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
