﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:662px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:70px;
  top:60px;
  width:597px;
  height:287px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
  color:#FFFFFF;
  text-align:center;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u2 {
  position:absolute;
  left:2px;
  top:7px;
  width:62px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:66px;
  top:0px;
  width:208px;
  height:30px;
  color:#FFFFFF;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:30px;
}
#u4 {
  position:absolute;
  left:2px;
  top:7px;
  width:204px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:274px;
  top:0px;
  width:188px;
  height:30px;
  color:#FFFFFF;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:184px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:462px;
  top:0px;
  width:130px;
  height:30px;
  color:#FFFFFF;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:30px;
  width:66px;
  height:54px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:54px;
}
#u10 {
  position:absolute;
  left:2px;
  top:19px;
  width:62px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:66px;
  top:30px;
  width:208px;
  height:54px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:54px;
}
#u12 {
  position:absolute;
  left:2px;
  top:19px;
  width:204px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:274px;
  top:30px;
  width:188px;
  height:54px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:54px;
}
#u14 {
  position:absolute;
  left:2px;
  top:19px;
  width:184px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:462px;
  top:30px;
  width:130px;
  height:54px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:54px;
}
#u16 {
  position:absolute;
  left:2px;
  top:19px;
  width:126px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:84px;
  width:66px;
  height:66px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u18 {
  position:absolute;
  left:2px;
  top:25px;
  width:62px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:66px;
  top:84px;
  width:208px;
  height:66px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:66px;
}
#u20 {
  position:absolute;
  left:2px;
  top:17px;
  width:204px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:274px;
  top:84px;
  width:188px;
  height:66px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:66px;
}
#u22 {
  position:absolute;
  left:2px;
  top:17px;
  width:184px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:462px;
  top:84px;
  width:130px;
  height:66px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:66px;
}
#u24 {
  position:absolute;
  left:2px;
  top:25px;
  width:126px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:150px;
  width:66px;
  height:66px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u26 {
  position:absolute;
  left:2px;
  top:25px;
  width:62px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:66px;
  top:150px;
  width:208px;
  height:66px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:66px;
}
#u28 {
  position:absolute;
  left:2px;
  top:17px;
  width:204px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:274px;
  top:150px;
  width:188px;
  height:66px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:66px;
}
#u30 {
  position:absolute;
  left:2px;
  top:25px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:462px;
  top:150px;
  width:130px;
  height:66px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:66px;
}
#u32 {
  position:absolute;
  left:2px;
  top:25px;
  width:126px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:216px;
  width:66px;
  height:66px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u34 {
  position:absolute;
  left:2px;
  top:25px;
  width:62px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:66px;
  top:216px;
  width:208px;
  height:66px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:66px;
}
#u36 {
  position:absolute;
  left:2px;
  top:25px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:274px;
  top:216px;
  width:188px;
  height:66px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:66px;
}
#u38 {
  position:absolute;
  left:2px;
  top:17px;
  width:184px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:462px;
  top:216px;
  width:130px;
  height:66px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:66px;
}
#u40 {
  position:absolute;
  left:2px;
  top:25px;
  width:126px;
  word-wrap:break-word;
}
