﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:911px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u451 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:1788px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u452 {
  position:absolute;
  left:48px;
  top:18px;
  width:848px;
  height:1788px;
}
#u453 {
  position:absolute;
  left:2px;
  top:886px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u454_div {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1362px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u454 {
  position:absolute;
  left:91px;
  top:223px;
  width:761px;
  height:1362px;
}
#u455 {
  position:absolute;
  left:2px;
  top:673px;
  width:757px;
  visibility:hidden;
  word-wrap:break-word;
}
#u456_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:147px;
}
#u456 {
  position:absolute;
  left:399px;
  top:1624px;
  width:146px;
  height:147px;
}
#u457 {
  position:absolute;
  left:2px;
  top:66px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u458_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:132px;
}
#u458 {
  position:absolute;
  left:408px;
  top:1634px;
  width:130px;
  height:132px;
}
#u459 {
  position:absolute;
  left:2px;
  top:58px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u460 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u461_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:33px;
}
#u461 {
  position:absolute;
  left:296px;
  top:142px;
  width:34px;
  height:33px;
}
#u462 {
  position:absolute;
  left:2px;
  top:8px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u463_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u463 {
  position:absolute;
  left:344px;
  top:142px;
  width:304px;
  height:33px;
}
#u464 {
  position:absolute;
  left:2px;
  top:8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u465_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:365px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u465 {
  position:absolute;
  left:875px;
  top:402px;
  width:36px;
  height:365px;
}
#u466 {
  position:absolute;
  left:2px;
  top:174px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u467_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:174px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u467 {
  position:absolute;
  left:37px;
  top:340px;
  width:45px;
  height:174px;
}
#u468 {
  position:absolute;
  left:2px;
  top:79px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u469_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:174px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u469 {
  position:absolute;
  left:37px;
  top:524px;
  width:45px;
  height:174px;
}
#u470 {
  position:absolute;
  left:2px;
  top:79px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u471_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u471 {
  position:absolute;
  left:101px;
  top:247px;
  width:750px;
  height:1334px;
}
#u472 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u473 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u474 {
  position:absolute;
  left:279px;
  top:1481px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u475 {
  position:absolute;
  left:422px;
  top:1481px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u476 {
  position:absolute;
  left:579px;
  top:1481px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u477 {
  position:absolute;
  left:736px;
  top:1481px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u478 {
  position:absolute;
  left:130px;
  top:1481px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u479 {
  position:absolute;
  left:130px;
  top:524px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u480 {
  position:absolute;
  left:130px;
  top:715px;
  width:685px;
  height:685px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
