﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:911px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u421 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:1776px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u422 {
  position:absolute;
  left:48px;
  top:18px;
  width:848px;
  height:1776px;
}
#u423 {
  position:absolute;
  left:2px;
  top:880px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1352px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u424 {
  position:absolute;
  left:91px;
  top:222px;
  width:761px;
  height:1352px;
}
#u425 {
  position:absolute;
  left:2px;
  top:668px;
  width:757px;
  visibility:hidden;
  word-wrap:break-word;
}
#u426_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:146px;
}
#u426 {
  position:absolute;
  left:399px;
  top:1613px;
  width:146px;
  height:146px;
}
#u427 {
  position:absolute;
  left:2px;
  top:65px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u428_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:131px;
}
#u428 {
  position:absolute;
  left:408px;
  top:1623px;
  width:130px;
  height:131px;
}
#u429 {
  position:absolute;
  left:2px;
  top:58px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u430 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u431_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:33px;
}
#u431 {
  position:absolute;
  left:296px;
  top:141px;
  width:34px;
  height:33px;
}
#u432 {
  position:absolute;
  left:2px;
  top:8px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u433_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u433 {
  position:absolute;
  left:344px;
  top:141px;
  width:304px;
  height:33px;
}
#u434 {
  position:absolute;
  left:2px;
  top:8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u435_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:363px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u435 {
  position:absolute;
  left:875px;
  top:400px;
  width:36px;
  height:363px;
}
#u436 {
  position:absolute;
  left:2px;
  top:174px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u437_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:173px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u437 {
  position:absolute;
  left:37px;
  top:337px;
  width:45px;
  height:173px;
}
#u438 {
  position:absolute;
  left:2px;
  top:78px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u439_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:173px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u439 {
  position:absolute;
  left:37px;
  top:521px;
  width:45px;
  height:173px;
}
#u440 {
  position:absolute;
  left:2px;
  top:78px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u441_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u441 {
  position:absolute;
  left:82px;
  top:230px;
  width:750px;
  height:1334px;
}
#u442 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u443 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u444 {
  position:absolute;
  left:255px;
  top:1465px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u445 {
  position:absolute;
  left:398px;
  top:1465px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u446 {
  position:absolute;
  left:555px;
  top:1465px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u447 {
  position:absolute;
  left:712px;
  top:1465px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u448 {
  position:absolute;
  left:106px;
  top:1465px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u449 {
  position:absolute;
  left:92px;
  top:455px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u450 {
  position:absolute;
  left:92px;
  top:1200px;
  width:696px;
  height:215px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
