﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2749px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1238 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:1996px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1239 {
  position:absolute;
  left:48px;
  top:18px;
  width:848px;
  height:1996px;
}
#u1240 {
  position:absolute;
  left:2px;
  top:990px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1520px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1241 {
  position:absolute;
  left:91px;
  top:247px;
  width:761px;
  height:1520px;
}
#u1242 {
  position:absolute;
  left:2px;
  top:752px;
  width:757px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:164px;
}
#u1243 {
  position:absolute;
  left:399px;
  top:1811px;
  width:146px;
  height:164px;
}
#u1244 {
  position:absolute;
  left:2px;
  top:74px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:147px;
}
#u1245 {
  position:absolute;
  left:408px;
  top:1822px;
  width:130px;
  height:147px;
}
#u1246 {
  position:absolute;
  left:2px;
  top:66px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1247 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:37px;
}
#u1248 {
  position:absolute;
  left:296px;
  top:156px;
  width:34px;
  height:37px;
}
#u1249 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1250 {
  position:absolute;
  left:344px;
  top:156px;
  width:304px;
  height:37px;
}
#u1251 {
  position:absolute;
  left:2px;
  top:10px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:408px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1252 {
  position:absolute;
  left:875px;
  top:447px;
  width:36px;
  height:408px;
}
#u1253 {
  position:absolute;
  left:2px;
  top:196px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:194px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1254 {
  position:absolute;
  left:37px;
  top:377px;
  width:45px;
  height:194px;
}
#u1255 {
  position:absolute;
  left:2px;
  top:89px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:194px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1256 {
  position:absolute;
  left:37px;
  top:583px;
  width:45px;
  height:194px;
}
#u1257 {
  position:absolute;
  left:2px;
  top:89px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1500px;
}
#u1258 {
  position:absolute;
  left:102px;
  top:247px;
  width:750px;
  height:1500px;
}
#u1259 {
  position:absolute;
  left:2px;
  top:742px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1500px;
}
#u1260 {
  position:absolute;
  left:1063px;
  top:247px;
  width:750px;
  height:1500px;
}
#u1261 {
  position:absolute;
  left:2px;
  top:742px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1500px;
}
#u1262 {
  position:absolute;
  left:1999px;
  top:247px;
  width:750px;
  height:1500px;
}
#u1263 {
  position:absolute;
  left:2px;
  top:742px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1264 {
  position:absolute;
  left:122px;
  top:296px;
  width:113px;
  height:67px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
