﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:911px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1668 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:1870px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1669 {
  position:absolute;
  left:48px;
  top:18px;
  width:848px;
  height:1870px;
}
#u1670 {
  position:absolute;
  left:2px;
  top:927px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1424px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1671 {
  position:absolute;
  left:91px;
  top:233px;
  width:761px;
  height:1424px;
}
#u1672 {
  position:absolute;
  left:2px;
  top:704px;
  width:757px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:154px;
}
#u1673 {
  position:absolute;
  left:399px;
  top:1698px;
  width:146px;
  height:154px;
}
#u1674 {
  position:absolute;
  left:2px;
  top:69px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:138px;
}
#u1675 {
  position:absolute;
  left:408px;
  top:1708px;
  width:130px;
  height:138px;
}
#u1676 {
  position:absolute;
  left:2px;
  top:61px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1677 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:35px;
}
#u1678 {
  position:absolute;
  left:296px;
  top:147px;
  width:34px;
  height:35px;
}
#u1679 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1680 {
  position:absolute;
  left:344px;
  top:147px;
  width:304px;
  height:35px;
}
#u1681 {
  position:absolute;
  left:2px;
  top:10px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:382px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1682 {
  position:absolute;
  left:875px;
  top:420px;
  width:36px;
  height:382px;
}
#u1683 {
  position:absolute;
  left:2px;
  top:183px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:182px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1684 {
  position:absolute;
  left:37px;
  top:354px;
  width:45px;
  height:182px;
}
#u1685 {
  position:absolute;
  left:2px;
  top:83px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:182px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1686 {
  position:absolute;
  left:37px;
  top:547px;
  width:45px;
  height:182px;
}
#u1687 {
  position:absolute;
  left:2px;
  top:83px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1688 {
  position:absolute;
  left:96px;
  top:250px;
  width:750px;
  height:1334px;
}
#u1689 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1690 {
  position:absolute;
  left:118px;
  top:318px;
  width:123px;
  height:83px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
