﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:928px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2141 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:864px;
  height:1830px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2142 {
  position:absolute;
  left:48px;
  top:18px;
  width:864px;
  height:1830px;
}
#u2143 {
  position:absolute;
  left:2px;
  top:907px;
  width:860px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:1394px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2144 {
  position:absolute;
  left:92px;
  top:228px;
  width:775px;
  height:1394px;
}
#u2145 {
  position:absolute;
  left:2px;
  top:689px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:150px;
}
#u2146 {
  position:absolute;
  left:406px;
  top:1662px;
  width:149px;
  height:150px;
}
#u2147 {
  position:absolute;
  left:2px;
  top:67px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:135px;
}
#u2148 {
  position:absolute;
  left:415px;
  top:1672px;
  width:132px;
  height:135px;
}
#u2149 {
  position:absolute;
  left:2px;
  top:60px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2150 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:34px;
}
#u2151 {
  position:absolute;
  left:301px;
  top:145px;
  width:35px;
  height:34px;
}
#u2152 {
  position:absolute;
  left:2px;
  top:9px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2153 {
  position:absolute;
  left:350px;
  top:145px;
  width:310px;
  height:34px;
}
#u2154 {
  position:absolute;
  left:2px;
  top:9px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:374px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2155 {
  position:absolute;
  left:891px;
  top:411px;
  width:37px;
  height:374px;
}
#u2156 {
  position:absolute;
  left:2px;
  top:179px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:178px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2157 {
  position:absolute;
  left:37px;
  top:347px;
  width:46px;
  height:178px;
}
#u2158 {
  position:absolute;
  left:2px;
  top:81px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:178px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2159 {
  position:absolute;
  left:37px;
  top:536px;
  width:46px;
  height:178px;
}
#u2160 {
  position:absolute;
  left:2px;
  top:81px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u2161 {
  position:absolute;
  left:102px;
  top:275px;
  width:750px;
  height:1334px;
}
#u2162 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2163 {
  position:absolute;
  left:93px;
  top:315px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
