﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:911px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1607 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1608_div {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:1843px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1608 {
  position:absolute;
  left:48px;
  top:18px;
  width:848px;
  height:1843px;
}
#u1609 {
  position:absolute;
  left:2px;
  top:914px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1610_div {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1403px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1610 {
  position:absolute;
  left:91px;
  top:229px;
  width:761px;
  height:1403px;
}
#u1611 {
  position:absolute;
  left:2px;
  top:694px;
  width:757px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1612_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:151px;
}
#u1612 {
  position:absolute;
  left:399px;
  top:1673px;
  width:146px;
  height:151px;
}
#u1613 {
  position:absolute;
  left:2px;
  top:68px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1614_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:136px;
}
#u1614 {
  position:absolute;
  left:408px;
  top:1683px;
  width:130px;
  height:136px;
}
#u1615 {
  position:absolute;
  left:2px;
  top:60px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1616 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1617_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u1617 {
  position:absolute;
  left:296px;
  top:145px;
  width:34px;
  height:34px;
}
#u1618 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1619_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1619 {
  position:absolute;
  left:344px;
  top:145px;
  width:304px;
  height:34px;
}
#u1620 {
  position:absolute;
  left:2px;
  top:9px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1621_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:377px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1621 {
  position:absolute;
  left:875px;
  top:414px;
  width:36px;
  height:377px;
}
#u1622 {
  position:absolute;
  left:2px;
  top:180px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:179px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1623 {
  position:absolute;
  left:37px;
  top:349px;
  width:45px;
  height:179px;
}
#u1624 {
  position:absolute;
  left:2px;
  top:82px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1625_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:179px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1625 {
  position:absolute;
  left:37px;
  top:540px;
  width:45px;
  height:179px;
}
#u1626 {
  position:absolute;
  left:2px;
  top:82px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1627 {
  position:absolute;
  left:98px;
  top:255px;
  width:750px;
  height:1334px;
}
#u1628 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1629 {
  position:absolute;
  left:121px;
  top:286px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1630 {
  position:absolute;
  left:740px;
  top:299px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1631 {
  position:absolute;
  left:564px;
  top:451px;
  width:191px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1632 {
  position:absolute;
  left:113px;
  top:652px;
  width:715px;
  height:74px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1633 {
  position:absolute;
  left:113px;
  top:743px;
  width:715px;
  height:74px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1634 {
  position:absolute;
  left:712px;
  top:582px;
  width:87px;
  height:52px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
