﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1806px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u630 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u631_div {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:1812px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u631 {
  position:absolute;
  left:48px;
  top:18px;
  width:848px;
  height:1812px;
}
#u632 {
  position:absolute;
  left:2px;
  top:898px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u633_div {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1380px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u633 {
  position:absolute;
  left:91px;
  top:226px;
  width:761px;
  height:1380px;
}
#u634 {
  position:absolute;
  left:2px;
  top:682px;
  width:757px;
  visibility:hidden;
  word-wrap:break-word;
}
#u635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:149px;
}
#u635 {
  position:absolute;
  left:399px;
  top:1646px;
  width:146px;
  height:149px;
}
#u636 {
  position:absolute;
  left:2px;
  top:66px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:133px;
}
#u637 {
  position:absolute;
  left:408px;
  top:1656px;
  width:130px;
  height:133px;
}
#u638 {
  position:absolute;
  left:2px;
  top:58px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u639 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u640 {
  position:absolute;
  left:296px;
  top:143px;
  width:34px;
  height:34px;
}
#u641 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u642 {
  position:absolute;
  left:344px;
  top:143px;
  width:304px;
  height:34px;
}
#u643 {
  position:absolute;
  left:2px;
  top:9px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:370px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u644 {
  position:absolute;
  left:875px;
  top:408px;
  width:36px;
  height:370px;
}
#u645 {
  position:absolute;
  left:2px;
  top:177px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:176px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u646 {
  position:absolute;
  left:37px;
  top:344px;
  width:45px;
  height:176px;
}
#u647 {
  position:absolute;
  left:2px;
  top:80px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:176px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u648 {
  position:absolute;
  left:37px;
  top:531px;
  width:45px;
  height:176px;
}
#u649 {
  position:absolute;
  left:2px;
  top:80px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u650 {
  position:absolute;
  left:97px;
  top:247px;
  width:750px;
  height:1334px;
}
#u651 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u652 {
  position:absolute;
  left:124px;
  top:285px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u653 {
  position:absolute;
  left:1056px;
  top:247px;
  width:750px;
  height:1334px;
}
#u654 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
