﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1806px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1404 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1405_div {
  position:absolute;
  left:0px;
  top:0px;
  width:876px;
  height:2200px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1405 {
  position:absolute;
  left:48px;
  top:18px;
  width:876px;
  height:2200px;
}
#u1406 {
  position:absolute;
  left:2px;
  top:1092px;
  width:872px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1407_div {
  position:absolute;
  left:0px;
  top:0px;
  width:786px;
  height:1676px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1407 {
  position:absolute;
  left:93px;
  top:271px;
  width:786px;
  height:1676px;
}
#u1408 {
  position:absolute;
  left:2px;
  top:830px;
  width:782px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1409_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:181px;
}
#u1409 {
  position:absolute;
  left:411px;
  top:1994px;
  width:151px;
  height:181px;
}
#u1410 {
  position:absolute;
  left:2px;
  top:82px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1411_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:162px;
}
#u1411 {
  position:absolute;
  left:420px;
  top:2007px;
  width:134px;
  height:162px;
}
#u1412 {
  position:absolute;
  left:2px;
  top:73px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1413 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1414_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:41px;
}
#u1414 {
  position:absolute;
  left:304px;
  top:170px;
  width:35px;
  height:41px;
}
#u1415 {
  position:absolute;
  left:2px;
  top:12px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1416 {
  position:absolute;
  left:354px;
  top:170px;
  width:314px;
  height:41px;
}
#u1417 {
  position:absolute;
  left:2px;
  top:12px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:450px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1418 {
  position:absolute;
  left:902px;
  top:490px;
  width:37px;
  height:450px;
}
#u1419 {
  position:absolute;
  left:2px;
  top:217px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:214px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1420 {
  position:absolute;
  left:37px;
  top:414px;
  width:46px;
  height:214px;
}
#u1421 {
  position:absolute;
  left:2px;
  top:99px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1422 {
  position:absolute;
  left:37px;
  top:737px;
  width:45px;
  height:20px;
}
#u1423 {
  position:absolute;
  left:2px;
  top:2px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1424_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1700px;
}
#u1424 {
  position:absolute;
  left:111px;
  top:265px;
  width:750px;
  height:1700px;
}
#u1425 {
  position:absolute;
  left:2px;
  top:842px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1426_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1700px;
}
#u1426 {
  position:absolute;
  left:1056px;
  top:271px;
  width:750px;
  height:1700px;
}
#u1427 {
  position:absolute;
  left:2px;
  top:842px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1428 {
  position:absolute;
  left:128px;
  top:286px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
