﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:911px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1188 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:2221px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1189 {
  position:absolute;
  left:48px;
  top:18px;
  width:848px;
  height:2221px;
}
#u1190 {
  position:absolute;
  left:2px;
  top:1102px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1692px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1191 {
  position:absolute;
  left:91px;
  top:273px;
  width:761px;
  height:1692px;
}
#u1192 {
  position:absolute;
  left:2px;
  top:838px;
  width:757px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:183px;
}
#u1193 {
  position:absolute;
  left:399px;
  top:2013px;
  width:146px;
  height:183px;
}
#u1194 {
  position:absolute;
  left:2px;
  top:84px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:164px;
}
#u1195 {
  position:absolute;
  left:408px;
  top:2026px;
  width:130px;
  height:164px;
}
#u1196 {
  position:absolute;
  left:2px;
  top:74px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1197 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:41px;
}
#u1198 {
  position:absolute;
  left:296px;
  top:172px;
  width:34px;
  height:41px;
}
#u1199 {
  position:absolute;
  left:2px;
  top:12px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1200 {
  position:absolute;
  left:344px;
  top:172px;
  width:304px;
  height:41px;
}
#u1201 {
  position:absolute;
  left:2px;
  top:12px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:454px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1202 {
  position:absolute;
  left:875px;
  top:495px;
  width:36px;
  height:454px;
}
#u1203 {
  position:absolute;
  left:2px;
  top:219px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:216px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1204 {
  position:absolute;
  left:37px;
  top:418px;
  width:45px;
  height:216px;
}
#u1205 {
  position:absolute;
  left:2px;
  top:100px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:216px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1206 {
  position:absolute;
  left:37px;
  top:647px;
  width:45px;
  height:216px;
}
#u1207 {
  position:absolute;
  left:2px;
  top:100px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1700px;
}
#u1208 {
  position:absolute;
  left:98px;
  top:258px;
  width:750px;
  height:1700px;
}
#u1209 {
  position:absolute;
  left:2px;
  top:842px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1210 {
  position:absolute;
  left:124px;
  top:298px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
