﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2623px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1991 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:1800px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1992 {
  position:absolute;
  left:48px;
  top:18px;
  width:848px;
  height:1800px;
}
#u1993 {
  position:absolute;
  left:2px;
  top:892px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1371px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1994 {
  position:absolute;
  left:91px;
  top:225px;
  width:761px;
  height:1371px;
}
#u1995 {
  position:absolute;
  left:2px;
  top:678px;
  width:757px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:148px;
}
#u1996 {
  position:absolute;
  left:399px;
  top:1635px;
  width:146px;
  height:148px;
}
#u1997 {
  position:absolute;
  left:2px;
  top:66px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:133px;
}
#u1998 {
  position:absolute;
  left:408px;
  top:1645px;
  width:130px;
  height:133px;
}
#u1999 {
  position:absolute;
  left:2px;
  top:58px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2000 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:33px;
}
#u2001 {
  position:absolute;
  left:296px;
  top:142px;
  width:34px;
  height:33px;
}
#u2002 {
  position:absolute;
  left:2px;
  top:8px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2003 {
  position:absolute;
  left:344px;
  top:142px;
  width:304px;
  height:33px;
}
#u2004 {
  position:absolute;
  left:2px;
  top:8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:368px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2005 {
  position:absolute;
  left:875px;
  top:405px;
  width:36px;
  height:368px;
}
#u2006 {
  position:absolute;
  left:2px;
  top:176px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:175px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2007 {
  position:absolute;
  left:37px;
  top:342px;
  width:45px;
  height:175px;
}
#u2008 {
  position:absolute;
  left:2px;
  top:80px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2009 {
  position:absolute;
  left:37px;
  top:606px;
  width:45px;
  height:20px;
}
#u2010 {
  position:absolute;
  left:2px;
  top:2px;
  width:41px;
  visibility:hidden;
  white-space:nowrap;
}
#u2011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u2011 {
  position:absolute;
  left:97px;
  top:247px;
  width:750px;
  height:1334px;
}
#u2012 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1520px;
}
#u2013 {
  position:absolute;
  left:1025px;
  top:258px;
  width:750px;
  height:1520px;
}
#u2014 {
  position:absolute;
  left:2px;
  top:752px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1520px;
}
#u2015 {
  position:absolute;
  left:1873px;
  top:255px;
  width:750px;
  height:1520px;
}
#u2016 {
  position:absolute;
  left:2px;
  top:752px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2017 {
  position:absolute;
  left:130px;
  top:299px;
  width:119px;
  height:83px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2018 {
  position:absolute;
  left:426px;
  top:388px;
  width:119px;
  height:83px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2019 {
  position:absolute;
  left:184px;
  top:388px;
  width:119px;
  height:83px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
