﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:911px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1941 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:1830px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1942 {
  position:absolute;
  left:48px;
  top:18px;
  width:848px;
  height:1830px;
}
#u1943 {
  position:absolute;
  left:2px;
  top:907px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1394px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1944 {
  position:absolute;
  left:91px;
  top:228px;
  width:761px;
  height:1394px;
}
#u1945 {
  position:absolute;
  left:2px;
  top:689px;
  width:757px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:150px;
}
#u1946 {
  position:absolute;
  left:399px;
  top:1662px;
  width:146px;
  height:150px;
}
#u1947 {
  position:absolute;
  left:2px;
  top:67px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:135px;
}
#u1948 {
  position:absolute;
  left:408px;
  top:1672px;
  width:130px;
  height:135px;
}
#u1949 {
  position:absolute;
  left:2px;
  top:60px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1950 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u1951 {
  position:absolute;
  left:296px;
  top:145px;
  width:34px;
  height:34px;
}
#u1952 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1953 {
  position:absolute;
  left:344px;
  top:145px;
  width:304px;
  height:34px;
}
#u1954 {
  position:absolute;
  left:2px;
  top:9px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:374px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1955 {
  position:absolute;
  left:875px;
  top:411px;
  width:36px;
  height:374px;
}
#u1956 {
  position:absolute;
  left:2px;
  top:179px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:178px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1957 {
  position:absolute;
  left:37px;
  top:347px;
  width:45px;
  height:178px;
}
#u1958 {
  position:absolute;
  left:2px;
  top:81px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:178px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1959 {
  position:absolute;
  left:37px;
  top:536px;
  width:45px;
  height:178px;
}
#u1960 {
  position:absolute;
  left:2px;
  top:81px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1961 {
  position:absolute;
  left:115px;
  top:258px;
  width:750px;
  height:1334px;
}
#u1962 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1963 {
  position:absolute;
  left:130px;
  top:299px;
  width:119px;
  height:83px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1964 {
  position:absolute;
  left:426px;
  top:388px;
  width:119px;
  height:83px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1965 {
  position:absolute;
  left:684px;
  top:388px;
  width:119px;
  height:83px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
