﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:911px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2581 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2582_div {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:1840px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2582 {
  position:absolute;
  left:48px;
  top:18px;
  width:848px;
  height:1840px;
}
#u2583 {
  position:absolute;
  left:2px;
  top:912px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2584_div {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1401px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2584 {
  position:absolute;
  left:91px;
  top:229px;
  width:761px;
  height:1401px;
}
#u2585 {
  position:absolute;
  left:2px;
  top:692px;
  width:757px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2586_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:151px;
}
#u2586 {
  position:absolute;
  left:399px;
  top:1670px;
  width:146px;
  height:151px;
}
#u2587 {
  position:absolute;
  left:2px;
  top:68px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2588_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:135px;
}
#u2588 {
  position:absolute;
  left:408px;
  top:1681px;
  width:130px;
  height:135px;
}
#u2589 {
  position:absolute;
  left:2px;
  top:60px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2590 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2591_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u2591 {
  position:absolute;
  left:296px;
  top:145px;
  width:34px;
  height:34px;
}
#u2592 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2593_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2593 {
  position:absolute;
  left:344px;
  top:145px;
  width:304px;
  height:34px;
}
#u2594 {
  position:absolute;
  left:2px;
  top:9px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2595_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:376px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2595 {
  position:absolute;
  left:875px;
  top:413px;
  width:36px;
  height:376px;
}
#u2596 {
  position:absolute;
  left:2px;
  top:180px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2597_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:179px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2597 {
  position:absolute;
  left:37px;
  top:349px;
  width:45px;
  height:179px;
}
#u2598 {
  position:absolute;
  left:2px;
  top:82px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2599_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:179px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2599 {
  position:absolute;
  left:37px;
  top:539px;
  width:45px;
  height:179px;
}
#u2600 {
  position:absolute;
  left:2px;
  top:82px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2601_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u2601 {
  position:absolute;
  left:91px;
  top:273px;
  width:750px;
  height:1334px;
}
#u2602 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2603 {
  position:absolute;
  left:91px;
  top:1507px;
  width:750px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2604 {
  position:absolute;
  left:92px;
  top:312px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
