﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:911px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2605 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2606_div {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:1791px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2606 {
  position:absolute;
  left:48px;
  top:18px;
  width:848px;
  height:1791px;
}
#u2607 {
  position:absolute;
  left:2px;
  top:888px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2608_div {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1364px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2608 {
  position:absolute;
  left:91px;
  top:223px;
  width:761px;
  height:1364px;
}
#u2609 {
  position:absolute;
  left:2px;
  top:674px;
  width:757px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2610_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:147px;
}
#u2610 {
  position:absolute;
  left:399px;
  top:1627px;
  width:146px;
  height:147px;
}
#u2611 {
  position:absolute;
  left:2px;
  top:66px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2612_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:132px;
}
#u2612 {
  position:absolute;
  left:408px;
  top:1637px;
  width:130px;
  height:132px;
}
#u2613 {
  position:absolute;
  left:2px;
  top:58px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2614 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2615_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:33px;
}
#u2615 {
  position:absolute;
  left:296px;
  top:142px;
  width:34px;
  height:33px;
}
#u2616 {
  position:absolute;
  left:2px;
  top:8px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2617_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2617 {
  position:absolute;
  left:344px;
  top:142px;
  width:304px;
  height:33px;
}
#u2618 {
  position:absolute;
  left:2px;
  top:8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2619_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:366px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2619 {
  position:absolute;
  left:875px;
  top:403px;
  width:36px;
  height:366px;
}
#u2620 {
  position:absolute;
  left:2px;
  top:175px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2621_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:174px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2621 {
  position:absolute;
  left:37px;
  top:340px;
  width:45px;
  height:174px;
}
#u2622 {
  position:absolute;
  left:2px;
  top:79px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:174px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2623 {
  position:absolute;
  left:37px;
  top:525px;
  width:45px;
  height:174px;
}
#u2624 {
  position:absolute;
  left:2px;
  top:79px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u2625 {
  position:absolute;
  left:102px;
  top:247px;
  width:750px;
  height:1334px;
}
#u2626 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2627 {
  position:absolute;
  left:163px;
  top:309px;
  width:563px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2628 {
  position:absolute;
  left:752px;
  top:300px;
  width:78px;
  height:64px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
