﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:832px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:58px;
  top:50px;
  width:292px;
  height:518px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:518px;
}
#u1 {
  position:absolute;
  left:2px;
  top:251px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:58px;
  top:68px;
  width:292px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:58px;
  top:108px;
  width:292px;
  height:460px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:460px;
}
#u5 {
  position:absolute;
  left:2px;
  top:222px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:70px;
  top:79px;
  width:41px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:184px;
  top:77px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#999999;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:99px;
  top:370px;
  width:210px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#FF0000;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:40px;
}
#u11 {
  position:absolute;
  left:0px;
  top:10px;
  width:210px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:278px;
  top:196px;
  width:50px;
  height:30px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:298px;
  top:196px;
  width:30px;
  height:30px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:58px;
  top:188px;
  width:292px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#1E1E1E;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:45px;
}
#u17 {
  position:absolute;
  left:0px;
  top:13px;
  width:292px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:58px;
  top:133px;
  width:292px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:45px;
}
#u19 {
  position:absolute;
  left:0px;
  top:13px;
  width:292px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:58px;
  top:243px;
  width:292px;
  height:110px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:110px;
}
#u21 {
  position:absolute;
  left:2px;
  top:47px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:78px;
  top:254px;
  width:29px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
  color:#999999;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:78px;
  top:292px;
  width:29px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
  color:#999999;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:78px;
  top:328px;
  width:29px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
  color:#999999;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:78px;
  top:275px;
  width:272px;
  height:10px;
}
#u28_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_end {
  position:absolute;
  left:255px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_line {
  position:absolute;
  left:0px;
  top:5px;
  width:272px;
  height:1px;
}
#u29 {
  position:absolute;
  left:78px;
  top:314px;
  width:272px;
  height:10px;
}
#u29_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_end {
  position:absolute;
  left:255px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_line {
  position:absolute;
  left:0px;
  top:5px;
  width:272px;
  height:1px;
}
#u30 {
  position:absolute;
  left:328px;
  top:248px;
  width:13px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
  color:#999999;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:328px;
  top:287px;
  width:13px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
  color:#999999;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:328px;
  top:323px;
  width:13px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
  color:#999999;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:370px;
  top:287px;
  width:150px;
  height:43px;
  font-size:14px;
  color:#FFFFFF;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:43px;
}
#u37 {
  position:absolute;
  left:2px;
  top:2px;
  width:146px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:370px;
  top:190px;
  width:150px;
  height:43px;
  font-size:14px;
  color:#FFFFFF;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:43px;
}
#u39 {
  position:absolute;
  left:2px;
  top:2px;
  width:146px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:540px;
  top:50px;
  width:292px;
  height:518px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:518px;
}
#u41 {
  position:absolute;
  left:2px;
  top:251px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:540px;
  top:68px;
  width:292px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:40px;
}
#u43 {
  position:absolute;
  left:2px;
  top:12px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:540px;
  top:108px;
  width:292px;
  height:460px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:460px;
}
#u45 {
  position:absolute;
  left:2px;
  top:222px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:552px;
  top:79px;
  width:41px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:654px;
  top:77px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#999999;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:540px;
  top:133px;
  width:292px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#C9C9C9;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:45px;
}
#u51 {
  position:absolute;
  left:0px;
  top:13px;
  width:292px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:540px;
  top:177px;
  width:292px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#C9C9C9;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:45px;
}
#u53 {
  position:absolute;
  left:0px;
  top:13px;
  width:292px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:540px;
  top:221px;
  width:292px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
  color:#C9C9C9;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:45px;
}
#u55 {
  position:absolute;
  left:0px;
  top:13px;
  width:292px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:576px;
  top:288px;
  width:220px;
  height:43px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FFFFFF;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:43px;
}
#u57 {
  position:absolute;
  left:2px;
  top:10px;
  width:216px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:240px;
  top:150px;
  width:300px;
  height:10px;
}
#u58_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
