﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:928px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1211 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:864px;
  height:1830px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1212 {
  position:absolute;
  left:48px;
  top:18px;
  width:864px;
  height:1830px;
}
#u1213 {
  position:absolute;
  left:2px;
  top:907px;
  width:860px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:1394px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1214 {
  position:absolute;
  left:92px;
  top:228px;
  width:775px;
  height:1394px;
}
#u1215 {
  position:absolute;
  left:2px;
  top:689px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:150px;
}
#u1216 {
  position:absolute;
  left:406px;
  top:1662px;
  width:149px;
  height:150px;
}
#u1217 {
  position:absolute;
  left:2px;
  top:67px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:135px;
}
#u1218 {
  position:absolute;
  left:415px;
  top:1672px;
  width:132px;
  height:135px;
}
#u1219 {
  position:absolute;
  left:2px;
  top:60px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1220 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:34px;
}
#u1221 {
  position:absolute;
  left:301px;
  top:145px;
  width:35px;
  height:34px;
}
#u1222 {
  position:absolute;
  left:2px;
  top:9px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1223 {
  position:absolute;
  left:350px;
  top:145px;
  width:310px;
  height:34px;
}
#u1224 {
  position:absolute;
  left:2px;
  top:9px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:374px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1225 {
  position:absolute;
  left:891px;
  top:411px;
  width:37px;
  height:374px;
}
#u1226 {
  position:absolute;
  left:2px;
  top:179px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:178px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1227 {
  position:absolute;
  left:37px;
  top:347px;
  width:46px;
  height:178px;
}
#u1228 {
  position:absolute;
  left:2px;
  top:81px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:178px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1229 {
  position:absolute;
  left:37px;
  top:536px;
  width:46px;
  height:178px;
}
#u1230 {
  position:absolute;
  left:2px;
  top:81px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1231 {
  position:absolute;
  left:101px;
  top:264px;
  width:750px;
  height:1334px;
}
#u1232 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1233 {
  position:absolute;
  left:121px;
  top:283px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1234 {
  position:absolute;
  left:141px;
  top:454px;
  width:640px;
  height:230px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1235 {
  position:absolute;
  left:141px;
  top:755px;
  width:640px;
  height:230px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1236 {
  position:absolute;
  left:141px;
  top:1043px;
  width:640px;
  height:230px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1237 {
  position:absolute;
  left:141px;
  top:1337px;
  width:640px;
  height:230px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
