﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:791px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:697px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:697px;
}
#u2 {
  position:absolute;
  left:2px;
  top:340px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:529px;
}
#u3 {
  position:absolute;
  left:20px;
  top:84px;
  width:307px;
  height:529px;
}
#u4 {
  position:absolute;
  left:2px;
  top:256px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:527px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5 {
  position:absolute;
  left:20px;
  top:85px;
  width:307px;
  height:527px;
  opacity:0.7;
}
#u6 {
  position:absolute;
  left:2px;
  top:256px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:186px;
}
#u7 {
  position:absolute;
  left:67px;
  top:256px;
  width:215px;
  height:186px;
}
#u8 {
  position:absolute;
  left:2px;
  top:85px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:175px;
  top:408px;
  width:107px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u10 {
  position:absolute;
  left:163px;
  top:307px;
  width:22px;
  height:22px;
}
#u11 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:18px;
  background:inherit;
  background-color:rgba(249, 247, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12 {
  position:absolute;
  left:81px;
  top:338px;
  width:41px;
  height:18px;
}
#u13 {
  position:absolute;
  left:2px;
  top:1px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u14 {
  position:absolute;
  left:83px;
  top:340px;
  width:41px;
  height:13px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:697px;
}
#u17 {
  position:absolute;
  left:443px;
  top:0px;
  width:348px;
  height:697px;
}
#u18 {
  position:absolute;
  left:2px;
  top:340px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:529px;
}
#u19 {
  position:absolute;
  left:463px;
  top:84px;
  width:307px;
  height:529px;
}
#u20 {
  position:absolute;
  left:2px;
  top:256px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:527px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21 {
  position:absolute;
  left:463px;
  top:85px;
  width:307px;
  height:527px;
  opacity:0.7;
}
#u22 {
  position:absolute;
  left:2px;
  top:256px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:248px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23 {
  position:absolute;
  left:507px;
  top:221px;
  width:225px;
  height:248px;
}
#u24 {
  position:absolute;
  left:2px;
  top:116px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:18px;
}
#u25 {
  position:absolute;
  left:595px;
  top:246px;
  width:41px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:540px;
  top:274px;
  width:152px;
  height:51px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:51px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:28px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28 {
  position:absolute;
  left:546px;
  top:363px;
  width:140px;
  height:28px;
}
#u29 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:15px;
}
#u30 {
  position:absolute;
  left:532px;
  top:338px;
  width:168px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
  text-align:center;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u32 {
  position:absolute;
  left:705px;
  top:230px;
  width:18px;
  height:18px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u33 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FF0000;
}
#u34 {
  position:absolute;
  left:492px;
  top:55px;
  width:249px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FF0000;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  word-wrap:break-word;
}
#u36_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:28px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u36 {
  position:absolute;
  left:547px;
  top:414px;
  width:140px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u37 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
