﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2631px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1001 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:1827px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1002 {
  position:absolute;
  left:48px;
  top:18px;
  width:848px;
  height:1827px;
}
#u1003 {
  position:absolute;
  left:2px;
  top:906px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1392px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1004 {
  position:absolute;
  left:91px;
  top:228px;
  width:761px;
  height:1392px;
}
#u1005 {
  position:absolute;
  left:2px;
  top:688px;
  width:757px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:150px;
}
#u1006 {
  position:absolute;
  left:399px;
  top:1660px;
  width:146px;
  height:150px;
}
#u1007 {
  position:absolute;
  left:2px;
  top:67px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:135px;
}
#u1008 {
  position:absolute;
  left:408px;
  top:1670px;
  width:130px;
  height:135px;
}
#u1009 {
  position:absolute;
  left:2px;
  top:60px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1010 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u1011 {
  position:absolute;
  left:296px;
  top:144px;
  width:34px;
  height:34px;
}
#u1012 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1013 {
  position:absolute;
  left:344px;
  top:144px;
  width:304px;
  height:34px;
}
#u1014 {
  position:absolute;
  left:2px;
  top:9px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:374px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1015 {
  position:absolute;
  left:875px;
  top:411px;
  width:36px;
  height:374px;
}
#u1016 {
  position:absolute;
  left:2px;
  top:179px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:178px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1017 {
  position:absolute;
  left:37px;
  top:347px;
  width:45px;
  height:178px;
}
#u1018 {
  position:absolute;
  left:2px;
  top:81px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:178px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1019 {
  position:absolute;
  left:37px;
  top:535px;
  width:45px;
  height:178px;
}
#u1020 {
  position:absolute;
  left:2px;
  top:81px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1021 {
  position:absolute;
  left:103px;
  top:237px;
  width:750px;
  height:1334px;
}
#u1022 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1023 {
  position:absolute;
  left:1017px;
  top:228px;
  width:750px;
  height:1334px;
}
#u1024 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1025 {
  position:absolute;
  left:1881px;
  top:228px;
  width:750px;
  height:1334px;
}
#u1026 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1027 {
  position:absolute;
  left:130px;
  top:270px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1029 {
  position:absolute;
  left:682px;
  top:448px;
  width:35px;
  height:35px;
}
#u1030 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1031 {
  position:absolute;
  left:1160px;
  top:848px;
  width:0px;
  height:0px;
}
#u1031_seg0 {
  position:absolute;
  left:-464px;
  top:-4px;
  width:464px;
  height:8px;
}
#u1031_seg1 {
  position:absolute;
  left:-464px;
  top:-370px;
  width:8px;
  height:374px;
}
#u1031_seg2 {
  position:absolute;
  left:-17px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1031_seg3 {
  position:absolute;
  left:-470px;
  top:-377px;
  width:20px;
  height:20px;
}
#u1032 {
  position:absolute;
  left:-465px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1034 {
  position:absolute;
  left:764px;
  top:460px;
  width:35px;
  height:35px;
}
#u1035 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1036 {
  position:absolute;
  left:2270px;
  top:744px;
  width:0px;
  height:0px;
}
#u1036_seg0 {
  position:absolute;
  left:-4px;
  top:-538px;
  width:8px;
  height:538px;
}
#u1036_seg1 {
  position:absolute;
  left:-1494px;
  top:-538px;
  width:1498px;
  height:8px;
}
#u1036_seg2 {
  position:absolute;
  left:-1494px;
  top:-538px;
  width:8px;
  height:254px;
}
#u1036_seg3 {
  position:absolute;
  left:-10px;
  top:-17px;
  width:20px;
  height:21px;
}
#u1036_seg4 {
  position:absolute;
  left:-1500px;
  top:-297px;
  width:20px;
  height:20px;
}
#u1037 {
  position:absolute;
  left:-653px;
  top:-542px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1038 {
  position:absolute;
  left:1017px;
  top:1644px;
  width:750px;
  height:1334px;
}
#u1039 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1041 {
  position:absolute;
  left:1488px;
  top:954px;
  width:35px;
  height:35px;
}
#u1042 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1043 {
  position:absolute;
  left:1506px;
  top:1658px;
  width:0px;
  height:0px;
}
#u1043_seg0 {
  position:absolute;
  left:-4px;
  top:-673px;
  width:8px;
  height:673px;
}
#u1043_seg1 {
  position:absolute;
  left:-1px;
  top:-673px;
  width:5px;
  height:8px;
}
#u1043_seg2 {
  position:absolute;
  left:-10px;
  top:-17px;
  width:20px;
  height:21px;
}
#u1043_seg3 {
  position:absolute;
  left:-8px;
  top:-679px;
  width:20px;
  height:20px;
}
#u1044 {
  position:absolute;
  left:-50px;
  top:-343px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
