﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:3203px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u852 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:1996px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u853 {
  position:absolute;
  left:48px;
  top:18px;
  width:848px;
  height:1996px;
}
#u854 {
  position:absolute;
  left:2px;
  top:990px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1520px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u855 {
  position:absolute;
  left:91px;
  top:247px;
  width:761px;
  height:1520px;
}
#u856 {
  position:absolute;
  left:2px;
  top:752px;
  width:757px;
  visibility:hidden;
  word-wrap:break-word;
}
#u857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:164px;
}
#u857 {
  position:absolute;
  left:399px;
  top:1811px;
  width:146px;
  height:164px;
}
#u858 {
  position:absolute;
  left:2px;
  top:74px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:147px;
}
#u859 {
  position:absolute;
  left:408px;
  top:1822px;
  width:130px;
  height:147px;
}
#u860 {
  position:absolute;
  left:2px;
  top:66px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u861 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:37px;
}
#u862 {
  position:absolute;
  left:296px;
  top:156px;
  width:34px;
  height:37px;
}
#u863 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u864 {
  position:absolute;
  left:344px;
  top:156px;
  width:304px;
  height:37px;
}
#u865 {
  position:absolute;
  left:2px;
  top:10px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:408px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u866 {
  position:absolute;
  left:875px;
  top:447px;
  width:36px;
  height:408px;
}
#u867 {
  position:absolute;
  left:2px;
  top:196px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:194px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u868 {
  position:absolute;
  left:37px;
  top:377px;
  width:45px;
  height:194px;
}
#u869 {
  position:absolute;
  left:2px;
  top:89px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:194px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u870 {
  position:absolute;
  left:37px;
  top:583px;
  width:45px;
  height:194px;
}
#u871 {
  position:absolute;
  left:2px;
  top:89px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1500px;
}
#u872 {
  position:absolute;
  left:102px;
  top:247px;
  width:750px;
  height:1500px;
}
#u873 {
  position:absolute;
  left:2px;
  top:742px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1500px;
}
#u874 {
  position:absolute;
  left:1256px;
  top:257px;
  width:750px;
  height:1500px;
}
#u875 {
  position:absolute;
  left:2px;
  top:742px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1500px;
}
#u876 {
  position:absolute;
  left:2453px;
  top:247px;
  width:750px;
  height:1500px;
}
#u877 {
  position:absolute;
  left:2px;
  top:742px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u878 {
  position:absolute;
  left:125px;
  top:292px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u879 {
  position:absolute;
  left:176px;
  top:499px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u880 {
  position:absolute;
  left:76px;
  top:565px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u881 {
  position:absolute;
  left:455px;
  top:1712px;
  width:35px;
  height:35px;
}
#u882 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u883 {
  position:absolute;
  left:473px;
  top:1747px;
  width:0px;
  height:0px;
}
#u883_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:37px;
}
#u883_seg1 {
  position:absolute;
  left:-4px;
  top:29px;
  width:1171px;
  height:8px;
}
#u883_seg2 {
  position:absolute;
  left:1159px;
  top:-577px;
  width:8px;
  height:614px;
}
#u883_seg3 {
  position:absolute;
  left:1153px;
  top:-584px;
  width:20px;
  height:20px;
}
#u884 {
  position:absolute;
  left:820px;
  top:25px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u886 {
  position:absolute;
  left:754px;
  top:1614px;
  width:35px;
  height:35px;
}
#u887 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u888 {
  position:absolute;
  left:773px;
  top:1649px;
  width:0px;
  height:0px;
}
#u888_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:471px;
  height:8px;
}
#u888_seg1 {
  position:absolute;
  left:463px;
  top:-4px;
  width:8px;
  height:129px;
}
#u888_seg2 {
  position:absolute;
  left:463px;
  top:117px;
  width:1898px;
  height:8px;
}
#u888_seg3 {
  position:absolute;
  left:2353px;
  top:-46px;
  width:8px;
  height:171px;
}
#u888_seg4 {
  position:absolute;
  left:2347px;
  top:-53px;
  width:20px;
  height:20px;
}
#u889 {
  position:absolute;
  left:1152px;
  top:113px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
