.white{
	background: white;
}
.pfix{
	position: fixed;	
}
/*角色管理弹出*/
#role{
	background: #CCCCCC;
	width: 455px;
	padding: 10px 0px;
	border: 2px solid #bbb;
	top: 80px;
	left: 600px;
}
#role .D1{
	width: 435px;
	height: 30px;
	padding: 0 10px;
	line-height: 30px;
	border-bottom: 2px solid #bbb;
}	
#role .U1{
	width: 455px;
	/*padding: 0 10px;*/
	border-bottom: 2px solid #bbb;
	background: #ccc;
}
#role .U1 li{
	width: 435px;
	padding: 5px 10px;
}
#role .D2{
	width: 435px;
	padding: 0 10px;
	margin-top: 5px;
	display: flex;
	justify-content: flex-end;
}

/*菜单管理弹出*/
#menu{
	background: #CCCCCC;
	width: 455px;
	padding: 10px 0px;
	border: 2px solid #bbb;
	top: 80px;
	left: 600px;
}
#menu .D3{
	width: 435px;
	height: 30px;
	padding: 0 10px;
	line-height: 30px;
	border-bottom: 2px solid #bbb;
}	
#menu .U2{
	width: 455px;
	/*padding: 0 10px;*/
	border-bottom: 2px solid #bbb;
	background: #ccc;
}
#menu .U2 li{
	width: 435px;
	padding: 5px 10px;
}
#menu .D4{
	width: 435px;
	padding: 0 10px;
	margin-top: 5px;
	display: flex;
	justify-content: flex-end;
}
/*新建用户选择弹出*/
#user{
	background: #CCCCCC;
	width: 455px;
	padding: 10px 0px;
	border: 2px solid #bbb;
	top: 80px;
	left: 600px;
}
#user .D5{
	width: 435px;
	height: 30px;
	padding: 0 10px;
	line-height: 30px;
	border-bottom: 2px solid #bbb;
}	
#user .U3{
	width: 455px;
	/*padding: 0 10px;*/
	border-bottom: 2px solid #bbb;
	background: #ccc;
}
#user .U3 li{
	width: 435px;
	padding: 5px 10px;
}
#user .D6{
	width: 435px;
	padding: 0 10px;
	margin-top: 5px;
	display: flex;
	justify-content: flex-end;
}
/*修改用户信息*/
#modi{
	background: #CCCCCC;
	width: 455px;
	padding: 10px 0px;
	border: 2px solid #bbb;
	top: 80px;
	left: 600px;
}
#modi .D7{
	width: 435px;
	height: 30px;
	padding: 0 10px;
	line-height: 30px;
	border-bottom: 2px solid #bbb;
}	
#modi .U4{
	width: 455px;
	/*padding: 0 10px;*/
	border-bottom: 2px solid #bbb;
	background: #ccc;
}
#modi .U4 li{
	width: 435px;
	padding: 5px 10px;
}
#modi .D8{
	width: 435px;
	padding: 0 10px;
	margin-top: 5px;
	display: flex;
	justify-content: flex-end;
}
/*用户基本信息弹出框*/
.usertit{
	width: 100%;
	height: 950px;
	background: rgba(0,0,0,.7);
}
#usertit{
	width: 440px;
	background: #FFF;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
}
#usertit>div{
	width: 400px;
	padding: 0px 20px;	
}
#usertit>div:first-child{
	background: #15DB81;
}
#usertit>div:first-child p{
	display: block;
	width: 400px;
	height: 30px;
	line-height: 30px;
	color: white;
}
#usertit>div:nth-child(2) ul{
	width: 400px;
}
#usertit>div:nth-child(2) ul li{
	display: flex;
	width: 400px;
	height: 30px;
	line-height: 30px;
	justify-content: flex-start;
	border-bottom: 1px solid #CCCCCC;
}
#usertit>div:nth-child(2) ul li span{
	margin-right: 10px;
}
/*用户权限弹出*/
#userPow{
	width: 790px;
	background: #FFF;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);	
}
#userPow>div{
	width: 750px;
	padding: 0px 20px;	
}
#userPow>div:first-child{
	background: #15DB81;
}
#userPow>div:first-child p{
	display: block;
	width: 750px;
	height: 30px;
	line-height: 30px;
	color: white;
}
#userPow>div:nth-child(2) table{
	width: 750px;
}
#userPow>div:nth-child(2) table th,#userPow>div:nth-child(2) table td{
	text-align: left;
	padding: 8px 0;
}
#userPow>div:nth-child(2) table tr{
	border-bottom: 1px solid #C2BE9E;
}

/*修改密码*/
#userPass{
	width: 440px;
	background: #FFF;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);	
}
#userPass>div{
	width: 400px;
	padding: 0px 20px;	
}
#userPass>div:first-child{
	background: #15DB81;
}
#userPass>div:first-child p{
	display: block;
	width: 400px;
	height: 30px;
	line-height: 30px;
	color: white;
}
#userPass>div:nth-child(2){
	padding: 15px 0;
}
