body,div,h1,h2,h3,h4,h5,h6,a,p,b,span,img,header,footer,aside,nav,ul,li,input,table,tbody,td,tr,textarea,dl,dd,dt,textarea{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    margin: auto;
    font-size: 14px;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.clearfix:before{
    content: "";
    display: table;
}
.clearfix:after{
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.flex{
    display: flex;
}
.fix{
    position: fixed;
}
.rela{
    position: relative;
}
.abso{
    position: absolute;
}
.black li:hover{
    color: black;
}
.red li:hover{
    background: #F54B73;
}
.blue li:hover{
    background: lightblue;
}
.cur{
    cursor: pointer;
}

.comWidth{
    width: 1100px;
    margin: 0 auto;
}
input{
    outline: none;
    border: none;
}
.none{
    display: none;
}

input,textarea,select,button{
    outline: none;
    border: none;
    resize: none;
}

