﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:911px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1691 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:1840px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1692 {
  position:absolute;
  left:48px;
  top:18px;
  width:848px;
  height:1840px;
}
#u1693 {
  position:absolute;
  left:2px;
  top:912px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1401px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1694 {
  position:absolute;
  left:91px;
  top:229px;
  width:761px;
  height:1401px;
}
#u1695 {
  position:absolute;
  left:2px;
  top:692px;
  width:757px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:151px;
}
#u1696 {
  position:absolute;
  left:399px;
  top:1670px;
  width:146px;
  height:151px;
}
#u1697 {
  position:absolute;
  left:2px;
  top:68px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:135px;
}
#u1698 {
  position:absolute;
  left:408px;
  top:1681px;
  width:130px;
  height:135px;
}
#u1699 {
  position:absolute;
  left:2px;
  top:60px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1700 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u1701 {
  position:absolute;
  left:296px;
  top:145px;
  width:34px;
  height:34px;
}
#u1702 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1703 {
  position:absolute;
  left:344px;
  top:145px;
  width:304px;
  height:34px;
}
#u1704 {
  position:absolute;
  left:2px;
  top:9px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:376px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1705 {
  position:absolute;
  left:875px;
  top:413px;
  width:36px;
  height:376px;
}
#u1706 {
  position:absolute;
  left:2px;
  top:180px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:179px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1707 {
  position:absolute;
  left:37px;
  top:349px;
  width:45px;
  height:179px;
}
#u1708 {
  position:absolute;
  left:2px;
  top:82px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:179px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1709 {
  position:absolute;
  left:37px;
  top:539px;
  width:45px;
  height:179px;
}
#u1710 {
  position:absolute;
  left:2px;
  top:82px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1711 {
  position:absolute;
  left:82px;
  top:268px;
  width:750px;
  height:1334px;
}
#u1712 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1713 {
  position:absolute;
  left:118px;
  top:318px;
  width:123px;
  height:83px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
