﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:928px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u721 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:864px;
  height:2234px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u722 {
  position:absolute;
  left:48px;
  top:18px;
  width:864px;
  height:2234px;
}
#u723 {
  position:absolute;
  left:2px;
  top:1109px;
  width:860px;
  visibility:hidden;
  word-wrap:break-word;
}
#u724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:1701px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u724 {
  position:absolute;
  left:92px;
  top:274px;
  width:775px;
  height:1701px;
}
#u725 {
  position:absolute;
  left:2px;
  top:842px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:184px;
}
#u726 {
  position:absolute;
  left:406px;
  top:2024px;
  width:149px;
  height:184px;
}
#u727 {
  position:absolute;
  left:2px;
  top:84px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:164px;
}
#u728 {
  position:absolute;
  left:415px;
  top:2037px;
  width:132px;
  height:164px;
}
#u729 {
  position:absolute;
  left:2px;
  top:74px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u730 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:41px;
}
#u731 {
  position:absolute;
  left:301px;
  top:172px;
  width:35px;
  height:41px;
}
#u732 {
  position:absolute;
  left:2px;
  top:12px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u733 {
  position:absolute;
  left:350px;
  top:172px;
  width:310px;
  height:41px;
}
#u734 {
  position:absolute;
  left:2px;
  top:12px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:457px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u735 {
  position:absolute;
  left:891px;
  top:498px;
  width:37px;
  height:457px;
}
#u736 {
  position:absolute;
  left:2px;
  top:220px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:217px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u737 {
  position:absolute;
  left:37px;
  top:420px;
  width:46px;
  height:217px;
}
#u738 {
  position:absolute;
  left:2px;
  top:100px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:217px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u739 {
  position:absolute;
  left:37px;
  top:650px;
  width:46px;
  height:217px;
}
#u740 {
  position:absolute;
  left:2px;
  top:100px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1700px;
}
#u741 {
  position:absolute;
  left:100px;
  top:268px;
  width:750px;
  height:1700px;
}
#u742 {
  position:absolute;
  left:2px;
  top:842px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u743 {
  position:absolute;
  left:114px;
  top:318px;
  width:126px;
  height:78px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u744 {
  position:absolute;
  left:145px;
  top:498px;
  width:720px;
  height:292px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u745 {
  position:absolute;
  left:114px;
  top:1240px;
  width:720px;
  height:292px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u746 {
  position:absolute;
  left:114px;
  top:1606px;
  width:720px;
  height:292px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u747 {
  position:absolute;
  left:123px;
  top:880px;
  width:720px;
  height:292px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
