﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:911px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2187 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:1996px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2188 {
  position:absolute;
  left:48px;
  top:18px;
  width:848px;
  height:1996px;
}
#u2189 {
  position:absolute;
  left:2px;
  top:990px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1520px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2190 {
  position:absolute;
  left:91px;
  top:247px;
  width:761px;
  height:1520px;
}
#u2191 {
  position:absolute;
  left:2px;
  top:752px;
  width:757px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:164px;
}
#u2192 {
  position:absolute;
  left:399px;
  top:1811px;
  width:146px;
  height:164px;
}
#u2193 {
  position:absolute;
  left:2px;
  top:74px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:147px;
}
#u2194 {
  position:absolute;
  left:408px;
  top:1822px;
  width:130px;
  height:147px;
}
#u2195 {
  position:absolute;
  left:2px;
  top:66px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2196 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:37px;
}
#u2197 {
  position:absolute;
  left:296px;
  top:156px;
  width:34px;
  height:37px;
}
#u2198 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2199 {
  position:absolute;
  left:344px;
  top:156px;
  width:304px;
  height:37px;
}
#u2200 {
  position:absolute;
  left:2px;
  top:10px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:408px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2201 {
  position:absolute;
  left:875px;
  top:447px;
  width:36px;
  height:408px;
}
#u2202 {
  position:absolute;
  left:2px;
  top:196px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:194px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2203 {
  position:absolute;
  left:37px;
  top:377px;
  width:45px;
  height:194px;
}
#u2204 {
  position:absolute;
  left:2px;
  top:89px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:194px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2205 {
  position:absolute;
  left:37px;
  top:583px;
  width:45px;
  height:194px;
}
#u2206 {
  position:absolute;
  left:2px;
  top:89px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u2207 {
  position:absolute;
  left:102px;
  top:296px;
  width:750px;
  height:1334px;
}
#u2208 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2209 {
  position:absolute;
  left:116px;
  top:621px;
  width:712px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2210 {
  position:absolute;
  left:121px;
  top:447px;
  width:712px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2211 {
  position:absolute;
  left:121px;
  top:347px;
  width:100px;
  height:64px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2212 {
  position:absolute;
  left:116px;
  top:700px;
  width:712px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2213 {
  position:absolute;
  left:116px;
  top:771px;
  width:712px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
