﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2694px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1910 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:1800px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1911 {
  position:absolute;
  left:48px;
  top:18px;
  width:848px;
  height:1800px;
}
#u1912 {
  position:absolute;
  left:2px;
  top:892px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1371px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1913 {
  position:absolute;
  left:91px;
  top:225px;
  width:761px;
  height:1371px;
}
#u1914 {
  position:absolute;
  left:2px;
  top:678px;
  width:757px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:148px;
}
#u1915 {
  position:absolute;
  left:399px;
  top:1635px;
  width:146px;
  height:148px;
}
#u1916 {
  position:absolute;
  left:2px;
  top:66px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:133px;
}
#u1917 {
  position:absolute;
  left:408px;
  top:1645px;
  width:130px;
  height:133px;
}
#u1918 {
  position:absolute;
  left:2px;
  top:58px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1919 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:33px;
}
#u1920 {
  position:absolute;
  left:296px;
  top:142px;
  width:34px;
  height:33px;
}
#u1921 {
  position:absolute;
  left:2px;
  top:8px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1922 {
  position:absolute;
  left:344px;
  top:142px;
  width:304px;
  height:33px;
}
#u1923 {
  position:absolute;
  left:2px;
  top:8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:368px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1924 {
  position:absolute;
  left:875px;
  top:405px;
  width:36px;
  height:368px;
}
#u1925 {
  position:absolute;
  left:2px;
  top:176px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:175px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1926 {
  position:absolute;
  left:37px;
  top:342px;
  width:45px;
  height:175px;
}
#u1927 {
  position:absolute;
  left:2px;
  top:80px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1928 {
  position:absolute;
  left:37px;
  top:606px;
  width:45px;
  height:20px;
}
#u1929 {
  position:absolute;
  left:2px;
  top:2px;
  width:41px;
  visibility:hidden;
  white-space:nowrap;
}
#u1930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1930 {
  position:absolute;
  left:1013px;
  top:1580px;
  width:750px;
  height:1334px;
}
#u1931 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1932 {
  position:absolute;
  left:1008px;
  top:142px;
  width:750px;
  height:1334px;
}
#u1933 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1934 {
  position:absolute;
  left:1884px;
  top:168px;
  width:750px;
  height:1334px;
}
#u1935 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1936 {
  position:absolute;
  left:1944px;
  top:1580px;
  width:750px;
  height:1334px;
}
#u1937 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1938 {
  position:absolute;
  left:97px;
  top:235px;
  width:750px;
  height:1334px;
}
#u1939 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1940 {
  position:absolute;
  left:117px;
  top:275px;
  width:112px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
