﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1867px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2458 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2459_div {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:1996px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2459 {
  position:absolute;
  left:48px;
  top:18px;
  width:848px;
  height:1996px;
}
#u2460 {
  position:absolute;
  left:2px;
  top:990px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2461_div {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1520px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2461 {
  position:absolute;
  left:91px;
  top:247px;
  width:761px;
  height:1520px;
}
#u2462 {
  position:absolute;
  left:2px;
  top:752px;
  width:757px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2463_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:164px;
}
#u2463 {
  position:absolute;
  left:399px;
  top:1811px;
  width:146px;
  height:164px;
}
#u2464 {
  position:absolute;
  left:2px;
  top:74px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2465_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:147px;
}
#u2465 {
  position:absolute;
  left:408px;
  top:1822px;
  width:130px;
  height:147px;
}
#u2466 {
  position:absolute;
  left:2px;
  top:66px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2467 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2468_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:37px;
}
#u2468 {
  position:absolute;
  left:296px;
  top:156px;
  width:34px;
  height:37px;
}
#u2469 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2470_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2470 {
  position:absolute;
  left:344px;
  top:156px;
  width:304px;
  height:37px;
}
#u2471 {
  position:absolute;
  left:2px;
  top:10px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:408px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2472 {
  position:absolute;
  left:875px;
  top:447px;
  width:36px;
  height:408px;
}
#u2473 {
  position:absolute;
  left:2px;
  top:196px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2474_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:194px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2474 {
  position:absolute;
  left:37px;
  top:377px;
  width:45px;
  height:194px;
}
#u2475 {
  position:absolute;
  left:2px;
  top:89px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2476_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:194px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2476 {
  position:absolute;
  left:37px;
  top:583px;
  width:45px;
  height:194px;
}
#u2477 {
  position:absolute;
  left:2px;
  top:89px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2478_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u2478 {
  position:absolute;
  left:102px;
  top:276px;
  width:750px;
  height:1334px;
}
#u2479 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u2480 {
  position:absolute;
  left:1117px;
  top:292px;
  width:750px;
  height:1334px;
}
#u2481 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2482 {
  position:absolute;
  left:115px;
  top:327px;
  width:119px;
  height:75px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
