﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1794px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2116 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:1996px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2117 {
  position:absolute;
  left:48px;
  top:18px;
  width:848px;
  height:1996px;
}
#u2118 {
  position:absolute;
  left:2px;
  top:990px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1520px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2119 {
  position:absolute;
  left:91px;
  top:247px;
  width:761px;
  height:1520px;
}
#u2120 {
  position:absolute;
  left:2px;
  top:752px;
  width:757px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:164px;
}
#u2121 {
  position:absolute;
  left:399px;
  top:1811px;
  width:146px;
  height:164px;
}
#u2122 {
  position:absolute;
  left:2px;
  top:74px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:147px;
}
#u2123 {
  position:absolute;
  left:408px;
  top:1822px;
  width:130px;
  height:147px;
}
#u2124 {
  position:absolute;
  left:2px;
  top:66px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2125 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:37px;
}
#u2126 {
  position:absolute;
  left:296px;
  top:156px;
  width:34px;
  height:37px;
}
#u2127 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2128 {
  position:absolute;
  left:344px;
  top:156px;
  width:304px;
  height:37px;
}
#u2129 {
  position:absolute;
  left:2px;
  top:10px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:408px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2130 {
  position:absolute;
  left:875px;
  top:447px;
  width:36px;
  height:408px;
}
#u2131 {
  position:absolute;
  left:2px;
  top:196px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:194px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2132 {
  position:absolute;
  left:37px;
  top:377px;
  width:45px;
  height:194px;
}
#u2133 {
  position:absolute;
  left:2px;
  top:89px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:194px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2134 {
  position:absolute;
  left:37px;
  top:583px;
  width:45px;
  height:194px;
}
#u2135 {
  position:absolute;
  left:2px;
  top:89px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u2136 {
  position:absolute;
  left:102px;
  top:247px;
  width:750px;
  height:1334px;
}
#u2137 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u2138 {
  position:absolute;
  left:1044px;
  top:247px;
  width:750px;
  height:1334px;
}
#u2139 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2140 {
  position:absolute;
  left:130px;
  top:300px;
  width:100px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
