﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1751px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u348 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u349_div {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:1797px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u349 {
  position:absolute;
  left:48px;
  top:18px;
  width:848px;
  height:1797px;
}
#u350 {
  position:absolute;
  left:2px;
  top:890px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u351_div {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1369px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u351 {
  position:absolute;
  left:91px;
  top:224px;
  width:761px;
  height:1369px;
}
#u352 {
  position:absolute;
  left:2px;
  top:676px;
  width:757px;
  visibility:hidden;
  word-wrap:break-word;
}
#u353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:148px;
}
#u353 {
  position:absolute;
  left:399px;
  top:1632px;
  width:146px;
  height:148px;
}
#u354 {
  position:absolute;
  left:2px;
  top:66px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:132px;
}
#u355 {
  position:absolute;
  left:408px;
  top:1642px;
  width:130px;
  height:132px;
}
#u356 {
  position:absolute;
  left:2px;
  top:58px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u357 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:33px;
}
#u358 {
  position:absolute;
  left:296px;
  top:142px;
  width:34px;
  height:33px;
}
#u359 {
  position:absolute;
  left:2px;
  top:8px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u360 {
  position:absolute;
  left:344px;
  top:142px;
  width:304px;
  height:33px;
}
#u361 {
  position:absolute;
  left:2px;
  top:8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:367px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u362 {
  position:absolute;
  left:875px;
  top:404px;
  width:36px;
  height:367px;
}
#u363 {
  position:absolute;
  left:2px;
  top:176px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:175px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u364 {
  position:absolute;
  left:37px;
  top:341px;
  width:45px;
  height:175px;
}
#u365 {
  position:absolute;
  left:2px;
  top:80px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:175px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u366 {
  position:absolute;
  left:37px;
  top:527px;
  width:45px;
  height:175px;
}
#u367 {
  position:absolute;
  left:2px;
  top:80px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u368 {
  position:absolute;
  left:91px;
  top:247px;
  width:750px;
  height:1334px;
}
#u369 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u370 {
  position:absolute;
  left:1001px;
  top:242px;
  width:750px;
  height:1334px;
}
#u371 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u372 {
  position:absolute;
  left:741px;
  top:300px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u373 {
  position:absolute;
  left:91px;
  top:1476px;
  width:750px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u374 {
  position:absolute;
  left:92px;
  top:276px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
