﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:928px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1381 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:864px;
  height:2224px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1382 {
  position:absolute;
  left:48px;
  top:18px;
  width:864px;
  height:2224px;
}
#u1383 {
  position:absolute;
  left:2px;
  top:1104px;
  width:860px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:1694px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1384 {
  position:absolute;
  left:92px;
  top:273px;
  width:775px;
  height:1694px;
}
#u1385 {
  position:absolute;
  left:2px;
  top:839px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:183px;
}
#u1386 {
  position:absolute;
  left:406px;
  top:2016px;
  width:149px;
  height:183px;
}
#u1387 {
  position:absolute;
  left:2px;
  top:84px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:164px;
}
#u1388 {
  position:absolute;
  left:415px;
  top:2028px;
  width:132px;
  height:164px;
}
#u1389 {
  position:absolute;
  left:2px;
  top:74px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1390 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1391_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:41px;
}
#u1391 {
  position:absolute;
  left:301px;
  top:172px;
  width:35px;
  height:41px;
}
#u1392 {
  position:absolute;
  left:2px;
  top:12px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1393 {
  position:absolute;
  left:350px;
  top:172px;
  width:310px;
  height:41px;
}
#u1394 {
  position:absolute;
  left:2px;
  top:12px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1395_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:455px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1395 {
  position:absolute;
  left:891px;
  top:496px;
  width:37px;
  height:455px;
}
#u1396 {
  position:absolute;
  left:2px;
  top:220px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1397_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:216px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1397 {
  position:absolute;
  left:37px;
  top:418px;
  width:46px;
  height:216px;
}
#u1398 {
  position:absolute;
  left:2px;
  top:100px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1399_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:216px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1399 {
  position:absolute;
  left:37px;
  top:648px;
  width:46px;
  height:216px;
}
#u1400 {
  position:absolute;
  left:2px;
  top:100px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1401_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1700px;
}
#u1401 {
  position:absolute;
  left:102px;
  top:247px;
  width:750px;
  height:1700px;
}
#u1402 {
  position:absolute;
  left:2px;
  top:842px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1403 {
  position:absolute;
  left:128px;
  top:286px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
