﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:911px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u258 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:1824px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u259 {
  position:absolute;
  left:48px;
  top:18px;
  width:848px;
  height:1824px;
}
#u260 {
  position:absolute;
  left:2px;
  top:904px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1389px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u261 {
  position:absolute;
  left:91px;
  top:227px;
  width:761px;
  height:1389px;
}
#u262 {
  position:absolute;
  left:2px;
  top:686px;
  width:757px;
  visibility:hidden;
  word-wrap:break-word;
}
#u263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:150px;
}
#u263 {
  position:absolute;
  left:399px;
  top:1657px;
  width:146px;
  height:150px;
}
#u264 {
  position:absolute;
  left:2px;
  top:67px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:134px;
}
#u265 {
  position:absolute;
  left:408px;
  top:1667px;
  width:130px;
  height:134px;
}
#u266 {
  position:absolute;
  left:2px;
  top:59px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u267 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u268 {
  position:absolute;
  left:296px;
  top:144px;
  width:34px;
  height:34px;
}
#u269 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u270 {
  position:absolute;
  left:344px;
  top:144px;
  width:304px;
  height:34px;
}
#u271 {
  position:absolute;
  left:2px;
  top:9px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:373px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u272 {
  position:absolute;
  left:875px;
  top:410px;
  width:36px;
  height:373px;
}
#u273 {
  position:absolute;
  left:2px;
  top:178px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:177px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u274 {
  position:absolute;
  left:37px;
  top:346px;
  width:45px;
  height:177px;
}
#u275 {
  position:absolute;
  left:2px;
  top:80px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:177px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u276 {
  position:absolute;
  left:37px;
  top:534px;
  width:45px;
  height:177px;
}
#u277 {
  position:absolute;
  left:2px;
  top:80px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u278 {
  position:absolute;
  left:97px;
  top:247px;
  width:750px;
  height:1334px;
}
#u279 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u280 {
  position:absolute;
  left:97px;
  top:294px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
