﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2737px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1505 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1506_div {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:2191px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1506 {
  position:absolute;
  left:48px;
  top:18px;
  width:848px;
  height:2191px;
}
#u1507 {
  position:absolute;
  left:2px;
  top:1088px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1508_div {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1669px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1508 {
  position:absolute;
  left:91px;
  top:269px;
  width:761px;
  height:1669px;
}
#u1509 {
  position:absolute;
  left:2px;
  top:826px;
  width:757px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1510_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:180px;
}
#u1510 {
  position:absolute;
  left:399px;
  top:1986px;
  width:146px;
  height:180px;
}
#u1511 {
  position:absolute;
  left:2px;
  top:82px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1512_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:161px;
}
#u1512 {
  position:absolute;
  left:408px;
  top:1998px;
  width:130px;
  height:161px;
}
#u1513 {
  position:absolute;
  left:2px;
  top:72px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1514 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1515_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:41px;
}
#u1515 {
  position:absolute;
  left:296px;
  top:169px;
  width:34px;
  height:41px;
}
#u1516 {
  position:absolute;
  left:2px;
  top:12px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1517_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1517 {
  position:absolute;
  left:344px;
  top:169px;
  width:304px;
  height:41px;
}
#u1518 {
  position:absolute;
  left:2px;
  top:12px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1519_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:448px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1519 {
  position:absolute;
  left:875px;
  top:489px;
  width:36px;
  height:448px;
}
#u1520 {
  position:absolute;
  left:2px;
  top:216px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1521_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:213px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1521 {
  position:absolute;
  left:37px;
  top:412px;
  width:45px;
  height:213px;
}
#u1522 {
  position:absolute;
  left:2px;
  top:98px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1523_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:213px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1523 {
  position:absolute;
  left:37px;
  top:638px;
  width:45px;
  height:213px;
}
#u1524 {
  position:absolute;
  left:2px;
  top:98px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1525_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1700px;
}
#u1525 {
  position:absolute;
  left:97px;
  top:224px;
  width:750px;
  height:1700px;
}
#u1526 {
  position:absolute;
  left:2px;
  top:842px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1527_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1700px;
}
#u1527 {
  position:absolute;
  left:1002px;
  top:254px;
  width:750px;
  height:1700px;
}
#u1528 {
  position:absolute;
  left:2px;
  top:842px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1529 {
  position:absolute;
  left:123px;
  top:269px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1530_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1700px;
}
#u1530 {
  position:absolute;
  left:1987px;
  top:247px;
  width:750px;
  height:1700px;
}
#u1531 {
  position:absolute;
  left:2px;
  top:842px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
