﻿body {
  margin:0px;
  background-color:rgba(0, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2806px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1802 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:1840px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1803 {
  position:absolute;
  left:48px;
  top:18px;
  width:848px;
  height:1840px;
}
#u1804 {
  position:absolute;
  left:2px;
  top:912px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:1401px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1805 {
  position:absolute;
  left:91px;
  top:229px;
  width:761px;
  height:1401px;
}
#u1806 {
  position:absolute;
  left:2px;
  top:692px;
  width:757px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:151px;
}
#u1807 {
  position:absolute;
  left:399px;
  top:1670px;
  width:146px;
  height:151px;
}
#u1808 {
  position:absolute;
  left:2px;
  top:68px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:135px;
}
#u1809 {
  position:absolute;
  left:408px;
  top:1681px;
  width:130px;
  height:135px;
}
#u1810 {
  position:absolute;
  left:2px;
  top:60px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1811 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u1812 {
  position:absolute;
  left:296px;
  top:145px;
  width:34px;
  height:34px;
}
#u1813 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1814 {
  position:absolute;
  left:344px;
  top:145px;
  width:304px;
  height:34px;
}
#u1815 {
  position:absolute;
  left:2px;
  top:9px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:376px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1816 {
  position:absolute;
  left:875px;
  top:413px;
  width:36px;
  height:376px;
}
#u1817 {
  position:absolute;
  left:2px;
  top:180px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:179px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1818 {
  position:absolute;
  left:37px;
  top:349px;
  width:45px;
  height:179px;
}
#u1819 {
  position:absolute;
  left:2px;
  top:82px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:179px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1820 {
  position:absolute;
  left:37px;
  top:539px;
  width:45px;
  height:179px;
}
#u1821 {
  position:absolute;
  left:2px;
  top:82px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1822 {
  position:absolute;
  left:97px;
  top:267px;
  width:750px;
  height:1334px;
}
#u1823 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1824 {
  position:absolute;
  left:120px;
  top:316px;
  width:115px;
  height:67px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1825 {
  position:absolute;
  left:230px;
  top:405px;
  width:115px;
  height:67px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1826 {
  position:absolute;
  left:1174px;
  top:413px;
  width:750px;
  height:1334px;
}
#u1827 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:722px;
  height:322px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u1828 {
  position:absolute;
  left:1156px;
  top:36px;
  width:722px;
  height:322px;
  font-size:36px;
}
#u1829 {
  position:absolute;
  left:2px;
  top:77px;
  width:718px;
  word-wrap:break-word;
}
#u1831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1831 {
  position:absolute;
  left:758px;
  top:672px;
  width:35px;
  height:35px;
}
#u1832 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1833 {
  position:absolute;
  left:776px;
  top:708px;
  width:0px;
  height:0px;
}
#u1833_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:376px;
}
#u1833_seg1 {
  position:absolute;
  left:-4px;
  top:368px;
  width:402px;
  height:8px;
}
#u1833_seg2 {
  position:absolute;
  left:385px;
  top:362px;
  width:20px;
  height:20px;
}
#u1834 {
  position:absolute;
  left:-37px;
  top:364px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1835 {
  position:absolute;
  left:2056px;
  top:413px;
  width:750px;
  height:1334px;
}
#u1836 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1838 {
  position:absolute;
  left:682px;
  top:683px;
  width:35px;
  height:35px;
}
#u1839 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1840 {
  position:absolute;
  left:698px;
  top:714px;
  width:0px;
  height:0px;
}
#u1840_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:1050px;
}
#u1840_seg1 {
  position:absolute;
  left:-4px;
  top:1042px;
  width:1741px;
  height:8px;
}
#u1840_seg2 {
  position:absolute;
  left:1729px;
  top:1033px;
  width:8px;
  height:17px;
}
#u1840_seg3 {
  position:absolute;
  left:1723px;
  top:1026px;
  width:20px;
  height:20px;
}
#u1841 {
  position:absolute;
  left:300px;
  top:1038px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
